Repository cube-js/cube, pull requests merged in 2020-12, with the labels that each got.

#1487 docs: add SQLite to supported databases list
  docs/Configuration/Connecting-to-the-Database.md
Labels: enhancement

#1488 docs: replace global CLI installation instructions with `npx` alternative
  docs/Cube.js-ClI/Using-the-Cube.js-CLI.md
Labels: enhancement

#1477 docs: add CORS documentation to 'Configuration Overview' page
  docs/Configuration/Overview.md
Labels: enhancement

#1500 docs: improve CORS documentation
  docs/content/Configuration/Config.md
  docs/content/Configuration/Overview.md
Labels: enhancement

#1502 chore: add Netlify configuration and custom build script
  docs/build-netlify.sh
  docs/netlify.toml
  netlify.toml
Labels: enhancement

#1504 docs: fix broken image URLs
  docs/content/Caching/Caching.md
  docs/content/Cube.js-Introduction.md
  docs/content/Guides/Many-to-Many-Relationship.md
  docs/content/Guides/Subquery.md
  docs/content/Schema/cohort-retention.md
  docs/content/Schema/event-analytics.md
Labels: bug

#1509 docs: bootstrap dependencies via `lerna`
  lerna.json
Labels: enhancement

#1506 ci(docs): fix workflow names
  .github/workflows/docs.yml
Labels: enhancement

#1508 docs: update documentation project's `README.md`
  docs/README.md
Labels: enhancement

#1507 ci: do not create Deploy Previews for non-documentation PRs
  docs/netlify.toml
Labels: enhancement

#1505 docs: add `markdownlint`, `textlint` and `prettier`
  docs/.lintstagedrc
  docs/.markdownlint.json
  docs/.prettierrc
  docs/.textlintrc
  docs/package.json
  docs/yarn.lock
Labels: enhancement

#1336 docs: remove title attribute from content sections
  docs/src/components/Layout/index.jsx
  docs/src/templates/DocTemplate.jsx
Labels: enhancement

#1526 docs(@cubejs-docs/site): fix redirects on Netlify staging site
  docs/netlify.toml
Labels: enhancement

#1516 docs: update 'Authentication & Authorization' page
  docs/content/Authentication-&-Authorization.md
Labels: docs

#1540 fix(@cubejs-backend/api-gateway): Add missing exports
  packages/cubejs-api-gateway/src/index.ts
Labels: pr:community

#1538 docs: add documentation for using paths with SSL environment variables
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#1457 feat(cubejs-cli): latest dockerflow fixes
  .github/workflows/publish.yml
  packages/cubejs-backend-shared/package.json
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-backend-shared/src/errors.ts
  packages/cubejs-backend-shared/src/index.ts
  packages/cubejs-backend-shared/src/package.ts
  packages/cubejs-backend-shared/src/track.ts
  packages/cubejs-backend-shared/yarn.lock
  packages/cubejs-cli/package.json
  packages/cubejs-cli/src/command/auth.ts
  packages/cubejs-cli/src/command/create.ts
  packages/cubejs-cli/src/command/deploy.ts
  packages/cubejs-cli/src/command/generate.ts
  packages/cubejs-cli/src/command/proxy-command.ts
  packages/cubejs-cli/src/command/token.ts
  packages/cubejs-cli/src/templates.ts
  packages/cubejs-cli/src/utils.ts
  packages/cubejs-cli/test/templates.test.ts
  packages/cubejs-cli/test/utils.test.ts
  packages/cubejs-cli/tsconfig.json
  packages/cubejs-cli/yarn.lock
  packages/cubejs-docker/bin/cubejs-dev
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-docker/latest-alpine.Dockerfile
  packages/cubejs-docker/latest.Dockerfile
  packages/cubejs-druid-driver/custom.d.ts
  packages/cubejs-druid-driver/src/DruidDriver.ts
  packages/cubejs-druid-driver/src/DruidQuery.ts
  packages/cubejs-linter/index.js
  packages/cubejs-server-core/core/DevServer.js
  packages/cubejs-server-core/core/index.js
  packages/cubejs-server-core/core/track.js
  packages/cubejs-server-core/package.json
  packages/cubejs-server-core/yarn.lock
  packages/cubejs-server/package.json
  packages/cubejs-server/src/server/container.ts
  packages/cubejs-server/src/server/utils.ts
  packages/cubejs-server/yarn.lock
Labels: enhancement

#1513 feat(@cubejs-backend/bigquery-driver): add support for read-only mode
  packages/cubejs-bigquery-driver/driver/BigQueryDriver.js
  packages/cubejs-bigquery-driver/driver/index.d.ts
Labels: enhancement

#1342 fix(@cubejs-client/playground): fix user select on tab content
  packages/cubejs-playground/src/components/Tabs.js
Labels: enhancement

#1543 docs(@cubejs-docs/site): add Percy integration
  .github/workflows/docs.yml
  docs/gatsby-config.js
  docs/package.json
  docs/yarn.lock
Labels: enhancement

#1552 docs: add `DEPRECATION.md`
  DEPRECATION.md
Labels: docs, enhancement

#1546 chore(@cubejs-docs/site): remove `dompurify`
  docs/package.json
  docs/yarn.lock
Labels: enhancement

#1565 chore: ensure DevRel team is pinged for review when `.md` files are changed
  CODEOWNERS
Labels: enhancement

#1560 docs: improve `DEPRECATION.md`
  DEPRECATION.md
Labels: docs

#1568 docs(DCO.md): fix typos, links and run Prettier
  DCO.md
Labels: docs

#1593 docs: fix broken links in 'Deployment Guide' and 'Environment Variables'
  docs/.markdownlint.json
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Deployment/Deployment-Guide.md
Labels: bug, docs

#1582 fix(@cubejs-backend/schema-compiler): CubeCheckDuplicatePropTranspile…
  packages/cubejs-schema-compiler/compiler/CubeCheckDuplicatePropTranspiler.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/test/unit/TranspilersTest.js
  packages/cubejs-schema-compiler/yarn.lock
Labels: bug

#1567 docs(DEPRECATION.md): add Node.js v8 deprecation notice
  DEPRECATION.md
Labels: docs

#1440 docs: update README.md
  README.md
Labels: docs

#1570 fix: use `decimal(38,10)` for external MySQL and Postgres pre-aggregations
  packages/cubejs-mysql-driver/driver/MySqlDriver.js
  packages/cubejs-postgres-driver/driver/PostgresDriver.js
Labels: bug

#1601 docs(@cubejs-docs/site): fix alignment of heading anchors
  docs/static/styles/_layout.scss
Labels: bug, docs

#1594 Added pivotConfig option to alias series with a prefix
  docs-gen/tasks/generate.js
  docs/content/Cube.js-Frontend/@cubejs-client-core.md
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/ResultSet.test.js
  yarn.lock
Labels: pr:community

#1335 fix(@cubejs-client/playground): fix color name and change font to Inter
  packages/cubejs-playground/src/QueryBuilder/TimeGroup.js
  packages/cubejs-playground/src/TemplateGallery/TemplateGalleryPage.js
  packages/cubejs-playground/src/components/GlobalStyles.js
  packages/cubejs-playground/src/components/SectionHeader.js
  packages/cubejs-playground/src/index.less
  packages/cubejs-playground/src/variables.js
  packages/cubejs-playground/src/variables.json
Labels: enhancement

#1603 docs(@cubejs-docs/site): exclude `CHANGELOG.md` from linting
  docs/.lintstagedrc
Labels: bug

#1515 docs: document new cache behavior
  docs/content/Caching/Caching.md
  docs/content/Configuration/Overview.md
  docs/content/Deployment/Production-Checklist.md
  docs/content/Schema/cube.md
  docs/content/Schema/pre-aggregations.md
Labels: docs

#1612 feat(@cubejs-client/react): dry run hook
  packages/cubejs-client-react/index.d.ts
  packages/cubejs-client-react/src/hooks/cube-query.js
  packages/cubejs-client-react/src/hooks/deep-compare-memoize.js
  packages/cubejs-client-react/src/hooks/dry-run.js
  packages/cubejs-client-react/src/index.js
Labels: enhancement

#1610 docs: Cube Cloud quickstart docs
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
  docs/content/Cube-Cloud/Configuration/Deployment-Env-Vars.md
  docs/content/Cube-Cloud/Configuration/Deployment-Types.md
  docs/content/Cube-Cloud/Index.md
  docs/content/Cube-Cloud/Quickstart.md
Labels: docs, enhancement

#1607 feat: Introduce health checks
  packages/cubejs-api-gateway/src/cached-handler.ts
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/cached-handler.test.ts
  packages/cubejs-api-gateway/test/index.test.js
  packages/cubejs-api-gateway/yarn.lock
  packages/cubejs-query-orchestrator/src/orchestrator/LocalCacheDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-query-orchestrator/src/orchestrator/RedisCacheDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/RedisPool.ts
  packages/cubejs-query-orchestrator/src/orchestrator/cache-driver.interface.ts
  packages/cubejs-server-core/core/DataSourceStorage.js
  packages/cubejs-server-core/core/OrchestratorApi.js
  packages/cubejs-server-core/core/index.js
Labels: enhancement

#1623 fix(@cubejs-core): Add type definition for compareDateRange, fix #1621
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#1636 docs: move readonly external pre-aggregation limitations under parent heading
  docs/content/Schema/pre-aggregations.md
Labels: docs, enhancement

#1608 feat(@cubejs-client/core): allow making HTTP POST requests to Cube.js API
  docs/content/Cube.js-Frontend/@cubejs-client-core.md
  packages/cubejs-client-core/src/HttpTransport.js
  packages/cubejs-client-core/src/HttpTransport.test.js
  packages/cubejs-client-core/src/index.js
Labels: enhancement, pr:community

#1586 docs(@cubejs-docs/site): remove unused trackers
  docs/src/Head.tsx
  docs/src/components/Search/index.tsx
  docs/static/scripts/analytics.js
  docs/static/scripts/fullstory.js
Labels: enhancement

#1569 examples(external-rollups): use Cube Store for pre-aggregations
  examples/external-rollups/dashboard-app/yarn.lock
  examples/external-rollups/package.json
  examples/external-rollups/yarn.lock
Labels: enhancement

#1611 docs: fix broken link to `schemaVersion` documentation
  docs/content/Schema/schema-execution-environment.md
Labels: bug, docs

#1640 docs: improve 'Introduction'
  docs/.markdownlint.json
  docs/content/Cube.js-Introduction.md
Labels: docs, enhancement

#1666 feat(@cubejs-backend/dremio-driver): Add HTTPS support for Dremio
  packages/cubejs-dremio-driver/driver/DremioDriver.js
Labels: pr:community

#1622 Elastic search configurable response type
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-elasticsearch-driver/driver/ElasticSearchDriver.js
Labels: pr:community

#1566 refactor(@cubejs-backend/query-orchestrator): remove unused `isDigestKey` argument
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
Labels: enhancement

#1667 docs(DEPRECATION.md): document removal of `contextToDataSourceId`
  DEPRECATION.md
Labels: docs
