Repository cube-js/cube, pull requests merged in 2020-09, with the labels that each got.

#1038 Complex boolean logic
  packages/cubejs-api-gateway/index.js
  packages/cubejs-api-gateway/package.json
  packages/cubejs-schema-compiler/adapter/BaseDimension.js
  packages/cubejs-schema-compiler/adapter/BaseGroupFilter.js
  packages/cubejs-schema-compiler/adapter/BaseMeasure.js
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/adapter/BaseSegment.js
  packages/cubejs-schema-compiler/adapter/QueryCache.js
  packages/cubejs-schema-compiler/test/SQLGenerationLogicTest.js
  packages/cubejs-schema-compiler/test/SQLGenerationTest.js
Labels: enhancement

#1057 replace CAST to TO_TIMESTAMP
  packages/cubejs-dremio-driver/driver/DremioQuery.js
Labels: enhancement

#1071 fix(docs-gen): change signature generation
  docs-gen/src/resources/helpers/member-symbol.ts
  docs/Cube.js-Frontend/@cubejs-client-core.md
Labels: docs

#1047 Complex boolean logic tests
  docs/Cube.js-Backend/Multitenancy-Setup.md
  docs/Cube.js-Backend/Query-Format.md
  guides/d3-dashboard/content/4_frontend_dashboard.md
  packages/cubejs-api-gateway/index.js
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/adapter/PreAggregations.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/test/AsyncModuleTest.js
  packages/cubejs-schema-compiler/test/BaseDbRunner.js
  packages/cubejs-schema-compiler/test/ClickHouseDataSchemaCompilerTest.js
  packages/cubejs-schema-compiler/test/ClickHouseDbRunner.js
  packages/cubejs-schema-compiler/test/ClickHouseGraphBuilderTest.js
  packages/cubejs-schema-compiler/test/DataSchemaCompilerTest.js
  packages/cubejs-schema-compiler/test/DbRunner.js
  packages/cubejs-schema-compiler/test/MSSqlDbRunner.js
  packages/cubejs-schema-compiler/test/MSSqlPreAggregationsTest.js
  packages/cubejs-schema-compiler/test/MongoBiQueryTest.js
  packages/cubejs-schema-compiler/test/MySqlDbRunner.js
  packages/cubejs-schema-compiler/test/MySqlPreAggregationsTest.js
  packages/cubejs-schema-compiler/test/PreAggregationsTest.js
  packages/cubejs-schema-compiler/test/PrepareCompiler.js
  packages/cubejs-schema-compiler/test/SQLGenerationLogicTest.js
  packages/cubejs-schema-compiler/test/SQLGenerationTest.js
  packages/cubejs-schema-compiler/test/ScaffoldingSchemaTest.js
  packages/cubejs-schema-compiler/test/SqlParserTest.js
  packages/cubejs-schema-compiler/test/TestUtil.js
Labels: enhancement

#1066 Original SQL with incremental refreshKey
  docs/Schema/pre-aggregations.md
Labels: docs, enhancement, example

#1064 Docs for deployment Serverless Google Cloud Platform
  docs/Cube.js-Backend/Deployment.md
Labels: docs, enhancement, example

#1041 docs for Boolean logical operators
  docs/Cube.js-Backend/Query-Format.md
Labels: docs, enhancement

#1048 cron format interval
  docs/Schema/cube.md
  packages/cubejs-api-gateway/package.json
  packages/cubejs-api-gateway/yarn.lock
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/compiler/CubeValidator.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/test/BaseQueryTest.js
  packages/cubejs-schema-compiler/yarn.lock
Labels: enhancement

#1100 Bugfix: allow filters without arguments.
  packages/cubejs-schema-compiler/adapter/BaseGroupFilter.js
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/SQLGenerationLogicTest.js
Labels: bug, enhancement

#1068 Added 'sqlAlias' attribute for 'preAggregations'
  docs/Schema/pre-aggregations.md
  packages/cubejs-query-orchestrator/orchestrator/PreAggregations.js
  packages/cubejs-query-orchestrator/test/PreAggregations.test.js
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/adapter/BigqueryQuery.js
  packages/cubejs-schema-compiler/adapter/MysqlQuery.js
  packages/cubejs-schema-compiler/adapter/OracleQuery.js
  packages/cubejs-schema-compiler/adapter/PostgresQuery.js
  packages/cubejs-schema-compiler/adapter/PreAggregations.js
  packages/cubejs-schema-compiler/compiler/CubeValidator.js
  packages/cubejs-schema-compiler/compiler/DataSchemaCompiler.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/parser/SqlParser.js
  packages/cubejs-schema-compiler/test/PreAggregationsSqlAliasTest.js
Labels: bug, enhancement

#1111 Feature: Welcome to GitHub Actions
  .circleci/config.yml
  .github/actions/init-ci/action.yaml
  .github/workflows/push.yml
  packages/cubejs-api-gateway/package.json
  packages/cubejs-cli/package.json
  packages/cubejs-cli/templates.js
  packages/cubejs-clickhouse-driver/package.json
  packages/cubejs-clickhouse-driver/test/ClickHouseDriverTest.js
  packages/cubejs-client-core/package.json
  packages/cubejs-client-vue/package.json
  packages/cubejs-dremio-driver/driver/DremioQuery.js
  packages/cubejs-mysql-driver/package.json
  packages/cubejs-mysql-driver/test/MySqlDriver.test.js
  packages/cubejs-query-orchestrator/package.json
  packages/cubejs-query-orchestrator/test/integration/PreAggregations.test.js
  packages/cubejs-query-orchestrator/test/integration/QueryQueueRedis.test.js
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
  packages/cubejs-query-orchestrator/test/unit/QueryQueue.test.js
  packages/cubejs-schema-compiler/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/adapter/ClickHouseQuery.js
  packages/cubejs-schema-compiler/adapter/MssqlQuery.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/test/integration/clickhouse/ClickHouseDataSchemaCompilerTest.js
  packages/cubejs-schema-compiler/test/integration/clickhouse/ClickHouseDbRunner.js
  packages/cubejs-schema-compiler/test/integration/clickhouse/ClickHouseGraphBuilderTest.js
  packages/cubejs-schema-compiler/test/integration/mssql/MSSqlDbRunner.js
  packages/cubejs-schema-compiler/test/integration/mssql/MSSqlPreAggregationsTest.js
  packages/cubejs-schema-compiler/test/integration/mysql/MySqlDbRunner.js
  packages/cubejs-schema-compiler/test/integration/mysql/MySqlPreAggregationsTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/AsyncModuleTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/BaseDbRunner.js
  packages/cubejs-schema-compiler/test/integration/postgres/BaseQueryTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/DataSchemaCompilerTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/DbRunner.js
  packages/cubejs-schema-compiler/test/integration/postgres/PostgresDBRunner.js
  packages/cubejs-schema-compiler/test/integration/postgres/PreAggregationsTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/SQLGenerationLogicTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/SQLGenerationTest.js
  packages/cubejs-schema-compiler/test/unit/ExtensionsTest.js
  packages/cubejs-schema-compiler/test/unit/MongoBiQueryTest.js
  packages/cubejs-schema-compiler/test/unit/PrepareCompiler.js
  packages/cubejs-schema-compiler/test/unit/ScaffoldingSchemaTest.js
  packages/cubejs-schema-compiler/test/unit/SqlParserTest.js
  packages/cubejs-schema-compiler/test/unit/TestHelperForImport.js
  packages/cubejs-schema-compiler/test/unit/TestUtil.js
  packages/cubejs-server-core/core/optionsValidate.js
  packages/cubejs-server-core/package.json
  packages/cubejs-server/package.json
Labels: enhancement

#1135 Fix #988 PrestoDB wrong OFFSET/LIMIT order
  packages/cubejs-schema-compiler/adapter/PrestodbQuery.js
  packages/cubejs-schema-compiler/test/integration/postgres/SQLGenerationLogicTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/SQLGenerationTest.js
Labels: bug

#1099 Feature: Introduce DruidDriver
  .circleci/config.yml
  .github/workflows/push.yml
  docs/Cube.js-Backend/Connecting-to-the-Database.md
  docs/Getting-started.md
  package.json
  packages/cubejs-cli/Config.js
  packages/cubejs-druid-driver/.gitignore
  packages/cubejs-druid-driver/CHANGELOG.md
  packages/cubejs-druid-driver/LICENSE
  packages/cubejs-druid-driver/README.md
  packages/cubejs-druid-driver/custom.d.ts
  packages/cubejs-druid-driver/docker-compose.yml
  packages/cubejs-druid-driver/environment
  packages/cubejs-druid-driver/package.json
  packages/cubejs-druid-driver/src/DruidClient.ts
  packages/cubejs-druid-driver/src/DruidDriver.ts
  packages/cubejs-druid-driver/src/DruidQuery.ts
  packages/cubejs-druid-driver/src/index.ts
  packages/cubejs-druid-driver/test/DruidDriverTest.ts
  packages/cubejs-druid-driver/tsconfig.json
  packages/cubejs-druid-driver/yarn.lock
  packages/cubejs-linter/index.js
  packages/cubejs-linter/package.json
  packages/cubejs-linter/yarn.lock
  packages/cubejs-playground/.eslintrc.js
  packages/cubejs-playground/package.json
  packages/cubejs-schema-compiler/test/integration/postgres/BaseQueryTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/DataSchemaCompilerTest.js
  packages/cubejs-schema-compiler/test/integration/postgres/PreAggregationsTest.js
  packages/cubejs-server-core/core/DriverDependencies.js
  packages/cubejs-server-core/core/index.js
  packages/cubejs-server-core/yarn.lock
  yarn.lock
Labels: enhancement
