Repository cube-js/cube, pull requests merged in 2020-11, with the labels that each got.

#1317 Bump peer dependency @cubejs-client/core
  packages/cubejs-client-react/package.json
Labels: pr:community

#1332 Add minute and second granularities to React QueryBuilder
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#1341 Add `CODEOWNERS`
  CODEOWNERS
Labels: enhancement

#1345 Update and remove invalid links
  docs/Examples.md
Labels: bug

#1349 docs: Add Enable HTTPS to Deployment
  docs/Cube.js-Backend/Deployment.md
Labels: pr:community

#1352 docs: Update deployment Section
  docs-build/src/components/Layout/MainMenu.jsx
  docs/Cube.js-Backend/Deployment.md
  docs/Deployment/Deployment-Guide.md
  docs/Deployment/Production-Checklist.md
Labels: pr:community

#1361 cli: remove selection when we have only one option
  packages/cubejs-cli/src/config.ts
Labels: enhancement

#1338 Change code font to Source Code Pro
  docs-build/src/Head.jsx
  docs-build/static/fonts/SourceCodePro-Regular.eot
  docs-build/static/fonts/SourceCodePro-Regular.woff
  docs-build/static/fonts/SourceCodePro-Regular.woff2
  docs-build/static/styles/_code.scss
  docs-build/static/styles/index.module.scss
  docs-build/static/styles/prism.scss
  docs-build/static/styles/variables.scss
Labels: enhancement

#1355 Remove unused fonts
  docs-build/static/fonts/CalibreWeb-Black.eot
  docs-build/static/fonts/CalibreWeb-Black.woff
  docs-build/static/fonts/CalibreWeb-Black.woff2
  docs-build/static/fonts/CalibreWeb-BlackItalic.eot
  docs-build/static/fonts/CalibreWeb-BlackItalic.woff
  docs-build/static/fonts/CalibreWeb-BlackItalic.woff2
  docs-build/static/fonts/CalibreWeb-Bold.eot
  docs-build/static/fonts/CalibreWeb-Bold.woff
  docs-build/static/fonts/CalibreWeb-Bold.woff2
  docs-build/static/fonts/CalibreWeb-BoldItalic.eot
  docs-build/static/fonts/CalibreWeb-BoldItalic.woff
  docs-build/static/fonts/CalibreWeb-BoldItalic.woff2
  docs-build/static/fonts/CalibreWeb-Italic.eot
  docs-build/static/fonts/CalibreWeb-Italic.woff
  docs-build/static/fonts/CalibreWeb-Italic.woff2
  docs-build/static/fonts/CalibreWeb-Light.eot
  docs-build/static/fonts/CalibreWeb-Light.woff
  docs-build/static/fonts/CalibreWeb-Light.woff2
  docs-build/static/fonts/CalibreWeb-LightItalic.eot
  docs-build/static/fonts/CalibreWeb-LightItalic.woff
  docs-build/static/fonts/CalibreWeb-LightItalic.woff2
  docs-build/static/fonts/CalibreWeb-Medium.eot
  docs-build/static/fonts/CalibreWeb-Medium.woff
  docs-build/static/fonts/CalibreWeb-Medium.woff2
  docs-build/static/fonts/CalibreWeb-MediumItalic.eot
  docs-build/static/fonts/CalibreWeb-MediumItalic.woff
  docs-build/static/fonts/CalibreWeb-MediumItalic.woff2
  docs-build/static/fonts/CalibreWeb-Regular.eot
  docs-build/static/fonts/CalibreWeb-Regular.woff
  docs-build/static/fonts/CalibreWeb-Regular.woff2
  docs-build/static/fonts/CalibreWeb-Semibold.eot
  docs-build/static/fonts/CalibreWeb-Semibold.woff
  docs-build/static/fonts/CalibreWeb-Semibold.woff2
  docs-build/static/fonts/CalibreWeb-SemiboldItalic.eot
  docs-build/static/fonts/CalibreWeb-SemiboldItalic.woff
  docs-build/static/fonts/CalibreWeb-SemiboldItalic.woff2
  docs-build/static/fonts/CalibreWeb-Thin.eot
  docs-build/static/fonts/CalibreWeb-Thin.woff
  docs-build/static/fonts/CalibreWeb-Thin.woff2
  docs-build/static/fonts/CalibreWeb-ThinItalic.eot
  docs-build/static/fonts/CalibreWeb-ThinItalic.woff
  docs-build/static/fonts/CalibreWeb-ThinItalic.woff2
Labels: enhancement

#1375 Remove reference to TLS encryption
  docs/Cube.js-Backend/Security.md
Labels: enhancement

#1333 feat(@cubejs-backend/mysql-aurora-serverless-driver): Add a new driver to support AWS Aurora Serverless MySql
  README.md
  packages/cubejs-mysql-aurora-serverless-driver/LICENSE
  packages/cubejs-mysql-aurora-serverless-driver/README.md
  packages/cubejs-mysql-aurora-serverless-driver/driver/AuroraServerlessMySqlDriver.js
  packages/cubejs-mysql-aurora-serverless-driver/driver/index.d.ts
  packages/cubejs-mysql-aurora-serverless-driver/package.json
  packages/cubejs-mysql-aurora-serverless-driver/test/AuroraServerlessMySqlDriver.integration.js
  packages/cubejs-mysql-aurora-serverless-driver/test/AuroraServerlessMySqlDriver.test.js
  packages/cubejs-mysql-aurora-serverless-driver/yarn.lock
  packages/cubejs-schema-compiler/adapter/QueryBuilder.js
  packages/cubejs-server-core/core/DriverDependencies.js
Labels: pr:community

#1386 fix: pivot should work well with null values
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/drill-down.test.js
Labels: pr:community

#1356 feat: Introduce CUBEJS_DEV_MODE & improve ENV variables experience
  docs/Cube.js-Backend/Config.md
  docs/Cube.js-Backend/Environment-Variables-Reference.md
  docs/Cube.js-ClI/Reference.md
  docs/Deployment/Production-Checklist.md
  packages/cubejs-backend-shared/.gitignore
  packages/cubejs-backend-shared/LICENSE
  packages/cubejs-backend-shared/README.md
  packages/cubejs-backend-shared/package.json
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-backend-shared/src/index.ts
  packages/cubejs-backend-shared/tsconfig.json
  packages/cubejs-backend-shared/yarn.lock
  packages/cubejs-cli/src/cli.ts
  packages/cubejs-cli/src/command/dev-server.ts
  packages/cubejs-cli/src/templates.test.js
  packages/cubejs-cli/src/templates.ts
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-docker/latest.Dockerfile
  packages/cubejs-druid-driver/package.json
  packages/cubejs-server/bin/server.js
  packages/cubejs-server/package.json
  packages/cubejs-server/src/command/server.ts
  packages/cubejs-server/src/index.ts
  packages/cubejs-server/src/server.ts
Labels: enhancement

#1369 Remove invalid examples
  examples/examples-gallery/.babelrc
  examples/examples-gallery/Example.jsx
  examples/examples-gallery/README.md
  examples/examples-gallery/bizChartExamples.js
  examples/examples-gallery/css/prism.css
  examples/examples-gallery/css/style.css
  examples/examples-gallery/img/logo.svg
  examples/examples-gallery/index.html
  examples/examples-gallery/index.js
  examples/examples-gallery/libraries/bizChart.js
  examples/examples-gallery/libraries/chartjs.js
  examples/examples-gallery/package.json
  examples/examples-gallery/toChartjsData.js
  examples/examples-gallery/webpack.config.js
  examples/examples-gallery/yarn.lock
  examples/express-analytics-dashboard/.dockerignore
  examples/express-analytics-dashboard/.gitignore
  examples/express-analytics-dashboard/Dockerfile
  examples/express-analytics-dashboard/Procfile
  examples/express-analytics-dashboard/README.md
  examples/express-analytics-dashboard/app.js
  examples/express-analytics-dashboard/bin/www
  examples/express-analytics-dashboard/package.json
  examples/express-analytics-dashboard/public/javascripts/cubejs-client-core.umd.js
  examples/express-analytics-dashboard/public/stylesheets/style.css
  examples/express-analytics-dashboard/routes/index.js
  examples/express-analytics-dashboard/schema/Tweets.js
  examples/express-analytics-dashboard/views/error.hbs
  examples/express-analytics-dashboard/views/index.hbs
  examples/express-analytics-dashboard/views/layout.hbs
Labels: enhancement

#1339 Ensure reference to environment variable is rendered as inline code
  docs/Cube.js-Backend/Environment-Variables-Reference.md
Labels: bug

#1399 fix(docs): fix broken link in 'Deployment Guide' page
  docs/Deployment/Deployment-Guide.md
Labels: bug

#1402 docs: replace reference to 'Dev Server' in 'Configuration Overview'
  docs/Configuration/Overview.md
Labels: enhancement

#1374 Improve Getting Started documentation
  docs/Getting-started.md
Labels: enhancement

#1412 docs: fix broken links in 'Production Checklist' page
  docs/Deployment/Production-Checklist.md
Labels: bug

#1379 fix(cubejs-snowflake-driver): Add keepConnectionAlive and release
  docs/Configuration/Connecting-to-the-Database.md
  docs/Configuration/Environment-Variables-Reference.md
  packages/cubejs-snowflake-driver/driver/SnowflakeDriver.js
Labels: pr:community

#1400 docs: Remove refs of the NODE_ENV
  docs/Configuration/Environment-Variables-Reference.md
  docs/Deployment/Production-Checklist.md
Labels: enhancement

#1396 feat(docs-build): add `gatsby-redirect-from` to allow redirects with SEO
  docs-build/gatsby-config.js
  docs-build/gatsby-node.js
  docs-build/package.json
  docs-build/yarn.lock
  docs/Deployment/Deployment-Guide.md
Labels: enhancement

#1422 fix: correct type for `orchestratorOptions`
  packages/cubejs-server-core/core/index.d.ts
Labels: pr:community

#1429 fix(docs): ensure body font size is consistently applied
  docs-build/static/styles/_layout.scss
  docs-build/static/styles/_mixins.scss
  docs-build/static/styles/_typography.scss
Labels: bug
