Repository cube-js/cube, pull requests merged in 2021-02, with the labels that each got.

#1961 docs: update documentation for v0.26 removals
  DEPRECATION.md
  docs/content/Authentication-&-Authorization.md
Labels: docs

#1945 Update Config.md
  docs/content/Configuration/Config.md
Labels: docs, pr:community

#1960 Update cube.md
  docs/content/Schema/cube.md
Labels: docs, pr:community

#1963 fix: Cannot create proxy with a non-object as target or handler
  packages/cubejs-api-gateway/package.json
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/auth.test.ts
  packages/cubejs-backend-shared/src/helpers.ts
  packages/cubejs-backend-shared/src/index.ts
  packages/cubejs-backend-shared/test/helper.test.ts
Labels: bug

#1977 docs: remove mentions of nested `u` object in security contexts
  docs/content/Configuration/Config.md
  docs/content/Configuration/Multitenancy-Setup.md
Labels: bug, docs

#1978 fix: coerceForSqlQuery - dont mutate securityContext, fix #1974
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/auth.test.ts
Labels: bug

#1971 docs: include mentions of pre-aggregations with `scheduledRefreshContexts`
  docs/content/Configuration/Config.md
  docs/content/Configuration/Multitenancy-Setup.md
Labels: docs

#1980 chore: improve drivers typescript definitions
  packages/cubejs-athena-driver/driver/index.d.ts
  packages/cubejs-bigquery-driver/driver/index.d.ts
  packages/cubejs-cubestore-driver/driver/index.d.ts
  packages/cubejs-mongobi-driver/driver/index.d.ts
  packages/cubejs-mysql-driver/driver/index.d.ts
  packages/cubejs-postgres-driver/driver/index.d.ts
  packages/cubejs-sqlite-driver/driver/index.d.ts
Labels: pr:community

#1991 docs(contributing): Use correct driver pattern fix #1989
  CONTRIBUTING.md
Labels: bug, docs

#1987 feat: Block from uploading files and folders (recur) starting from "."
  packages/cubejs-cli/src/deploy.ts
Labels: enhancement

#1996 fix(server-core): add support for async driverFactory
  packages/cubejs-server-core/src/core/server.ts
Labels: pr:community

#1979 docs(DEPRECATION.md): improve examples for `authInfo` deprecation
  DEPRECATION.md
Labels: docs, enhancement

#2000 limit size is too large change to 200 step to 100
  packages/cubejs-playground/src/components/Settings/Limit.js
Labels: pr:community

#2031 docs: fixes typo on apiToken param description
  docs/content/Cube.js-Frontend/@cubejs-client-core.md
Labels: docs, pr:community

#2009 docs: add healthcheck section to Production Checklist
  docs/content/Deployment/Production-Checklist.md
Labels: docs, enhancement

#2027 fix: hostname: command not found. fix #1998
  packages/cubejs-backend-shared/package.json
  packages/cubejs-backend-shared/src/index.ts
  packages/cubejs-backend-shared/src/machine-id.ts
  packages/cubejs-backend-shared/src/track.ts
  packages/cubejs-backend-shared/test/machine-id.test.ts
  packages/cubejs-backend-shared/yarn.lock
  packages/cubejs-server/package.json
  packages/cubejs-server/yarn.lock
Labels: bug

#2053 fix(snowflake): Reorder snowflake execute statement to prevent undefined errors
  packages/cubejs-snowflake-driver/driver/SnowflakeDriver.js
Labels: pr:community

#1990 add support for extra params in generating schema for tables.
  packages/cubejs-cli/src/command/generate.ts
  packages/cubejs-schema-compiler/src/scaffolding/ScaffoldingTemplate.js
  packages/cubejs-schema-compiler/test/unit/scaffolding-schema.test.ts
  packages/cubejs-server-core/src/core/DevServer.ts
Labels: pr:community

#2055 docs: add simple version of multiple database connection example
  docs/content/Configuration/Multitenancy-Setup.md
Labels: docs, enhancement

#2056 docs: add warning to limitations section about read-only pre-aggregations
  docs/content/Schema/pre-aggregations.md
Labels: docs, enhancement

#2095 docs: change code of boolean logical operators section example
  docs/content/Cube.js-Backend/Query-Format.md
Labels: docs, enhancement, pr:community

#2072 feat: support SSL keys in .env files as multiline text
  packages/cubejs-cli/package.json
  packages/cubejs-cli/src/config.ts
  packages/cubejs-cli/yarn.lock
  packages/cubejs-query-orchestrator/src/driver/BaseDriver.js
  packages/cubejs-server/package.json
  packages/cubejs-server/src/server.ts
  packages/cubejs-server/src/server/container.ts
  packages/cubejs-server/yarn.lock
Labels: enhancement

#2010 docs: specify `CUBEJS_DB_SSL_*` environment variables can be contents of PEM file
  docs/content/Configuration/Connecting-to-the-Database.md
Labels: docs, enhancement

#2057 docs: document abstract cubes
  docs/content/Schema/cube.md
Labels: docs, enhancement

#2054 Add HTTPS and readOnly support to ClickHouse driver
  docs/content/Configuration/Connecting-to-the-Database.md
  packages/cubejs-clickhouse-driver/driver/ClickHouseDriver.js
Labels: enhancement

#2144 fix(@cubejs-schema-compiler): remove `ORDER BY` from subqueries in MSSQL
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/unit/mssql-query.test.ts
Labels: bug, pr:community

#2151 fix(druid-driver): set valid sql timestamp
  packages/cubejs-druid-driver/src/DruidQuery.ts
Labels: pr:community

#2160 docs: Update extending guide
  docs/content/Configuration/Extending-Cubejs.md
  docs/content/Cube.js-Backend/@cubejs-backend-server-core.md
  docs/content/Cube.js-Backend/@cubejs-backend-server.md
Labels: docs

#2184 docs: document JWT/JWK configuration options
  docs/content/Configuration/Config.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs, enhancement

#2166 examples(auth0): fix example
  examples/auth0/.env.example
  examples/auth0/cube.js
  examples/auth0/dashboard-app/.env.example
  examples/auth0/dashboard-app/.env.production
  examples/auth0/dashboard-app/src/index.js
Labels: bug

#2143 docs(auth): add guide for Auth0 integration
  docs/content/Auth/Auth0-Guide.md
  docs/content/Auth/auth0-01-new-app-01.png
  docs/content/Auth/auth0-01-new-app-02.png
  docs/content/Auth/auth0-02-new-api-01.png
  docs/content/Auth/auth0-02-new-api-02.png
  docs/content/Auth/auth0-03-get-jwt-01.png
  docs/content/Auth/auth0-03-get-jwt-02.png
  docs/content/Auth/auth0-03-get-jwt-03.png
  docs/content/Auth/auth0-04-dev-playground-01.png
  docs/content/Auth/auth0-04-dev-playground-02.png
Labels: docs, enhancement

#2185 docs: add Using JSON Web Key Sets section
  docs/content/Authentication-&-Authorization.md
Labels: docs, enhancement

#2201 docs(security): split page into Overview and Security Context pages
  DEPRECATION.md
  docs/content/Auth/Auth0-Guide.md
  docs/content/Auth/Overview.md
  docs/content/Auth/Security-Context.md
  docs/content/Configuration/Config.md
  guides/react-dashboard/content/2_authentication_and_graphql_backend.md
  packages/cubejs-playground/src/components/SecurityContext/SecurityContext.js
Labels: docs, enhancement

#2229 feat: Improvements for Cube Store in Cube.js
  packages/cubejs-cubestore-driver/index.js
  packages/cubejs-cubestore-driver/src/CubeStoreDevDriver.ts
  packages/cubejs-cubestore-driver/src/index.ts
  packages/cubejs-cubestore-driver/src/rexport.ts
  packages/cubejs-cubestore-driver/src/utils.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
  rust/js-wrapper/cubestore-dev.ts
  rust/js-wrapper/download.ts
  rust/js-wrapper/process.ts
Labels: enhancement

#2222 docs: Add docs about Cube Cloud IDE
  docs/content/Cube-Cloud/Cube-IDE.md
  docs/content/Cube-Cloud/dev-mode-bar.png
Labels: docs, enhancement
