Repository cube-js/cube, pull requests merged in 2021-04, with the labels that each got.

#2478 docs(cloud): fix typo in Cube Cloud page
  docs/content/Cube-Cloud/Index.md
Labels: docs

#2472 docs(caching): fix broken link
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: bug, docs

#2473 docs(examples): remove invalid example
  docs/content/Examples.md
Labels: bug, docs

#2479 docs(backend): fix typo in REST API docs
  docs/content/Cube.js-Backend/REST-API.md
Labels: docs

#2501 docs(caching): add Running Cube Store in Production section to Using Pre-Aggregations
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#2499 docs(auth): document JWKS caching logic
  docs/content/Auth/Overview.md
Labels: docs

#2498 docs(config): remove outdated `u` reference in `queryTransformer` example
  docs/content/Configuration/Config.md
Labels: docs

#2495 docs(caching): move sections from Schema to Using Pre-Aggregations
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/pre-aggregations.md
Labels: docs

#2496 docs(config): add MSSQL section to Connecting to the Database
  docs/content/Configuration/Connecting-to-the-Database.md
Labels: docs

#2503 docs: add backlinks to Cube Store
  docs/content/Cube-Cloud/Index.md
Labels: docs

#2470 docs: fix strange glow on tab switcher
  docs/static/styles/_layout.scss
Labels: docs

#2463 docs(caching): document Cube Store partial MySQL protocol support
  docs/content/Caching/Using-Pre-Aggregations.md
  rust/README.md
Labels: docs

#2515 docs: Documentation for Databricks driver
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-jdbc-driver/README.md
Labels: docs

#2540 docs(vue): re-order `QueryBuilder` and `QueryRenderer` and add prop reference table
  docs/content/Cube.js-Frontend/@cubejs-client-vue.md
  docs/yarn.lock
Labels: docs

#2525 examples(react-dashboard): fix incorrect `curl` command
  guides/react-dashboard/content/1_overview_and_analytics_backend.md
Labels: docs

#2475 feat(dreamio-driver): Improve polling, similar to BigQuery driver
  packages/cubejs-dremio-driver/driver/DremioDriver.js
  packages/cubejs-dremio-driver/package.json
  yarn.lock
Labels: pr:community

#2564 docs(config): add environment variables for Cube Store
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2541 docs(caching): add Scaling and Storage sections to Using Pre-Aggregations
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs

#2572 docs(config): add Cube Store to list of Development Mode features
  docs/content/Configuration/Overview.md
Labels: docs

#2585 feat(@cubejs-client/core): add type definition to the categories method
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#2521 fix: multi-part identifier `columns.data_type`
  packages/cubejs-mssql-driver/driver/MSSqlDriver.js
Labels: pr:community

#2516 fix: Typo JWK_KEY -> JWT_KEY
  docs/content/Auth/Overview.md
  docs/content/Configuration/Config.md
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/src/core/server.ts
Labels: docs

#2583 docs(config): add environment variables for Cube.js - Cube Store integration
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2426 Minor typo fix/edit
  guides/react-pivot-table/content/1_overview.md
  guides/react-pivot-table/content/3_data.md
  guides/react-pivot-table/content/4_app.md
  guides/react-pivot-table/content/5_explanation.md
Labels: docs

#2599 test: connection wizard e2e test
  packages/cubejs-playground/src/pages/ConnectionWizard/ConnectionWizardPage.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/components/ConnectionTest.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/components/DatabaseCard.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/components/DatabaseForm.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/components/LocalhostTipBox.tsx
  packages/cubejs-playground/src/pages/Schema/SchemaPage.tsx
  packages/cubejs-server-core/package.json
  packages/cubejs-server-core/src/core/DevServer.ts
  packages/cubejs-server-core/src/core/OrchestratorStorage.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-testing/cypress.json
  packages/cubejs-testing/cypress/fixtures/databases.json
  packages/cubejs-testing/cypress/integration/playground-docker-connection-wizard.spec.js
  packages/cubejs-testing/cypress/integration/playground-explore.spec.js
  packages/cubejs-testing/cypress/queries.ts
  packages/cubejs-testing/cypress/utils.ts
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/src/utils.ts
  packages/cubejs-testing/test/bin/birdbox-start.ts
  packages/cubejs-testing/test/bin/cypress-birdbox.ts
Labels: client:playground

#2610 docs(caching): improve Cube Store documentation
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#2588 docs(getting-started): improve Getting Started guides
  docs/content/Getting-Started-Docker.md
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
  docs/content/Getting-Started/Getting-Started-Docker.md
  docs/content/Getting-Started/Getting-Started-Nodejs.md
  docs/content/Getting-Started/Overview.md
  docs/content/Getting-Started/connection-wizard-1.png
  docs/content/Getting-Started/connection-wizard-2.png
  docs/content/Getting-Started/docker-logo.svg
  docs/content/Getting-Started/nodejs-logo.svg
  docs/static/styles/_layout.scss
  docs/static/styles/_mixins.scss
Labels: docs

#2619 docs(getting-started): fix image URLs
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
  docs/content/Getting-Started/Getting-Started-Docker.md
  docs/content/Getting-Started/Overview.md
Labels: bug, docs

#2617 fix(server-core): Move prettier to dev dep (reduce size)
  .npmpackagejsonlintrc.json
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-server-core/package.json
  yarn.lock
Labels: backend:server-core

#2623 docs(getting-started): fix Docker command
  docs/content/Getting-Started/Getting-Started-Docker.md
Labels: bug, docs

#2606 docs: various fixes
  DEPRECATION.md
  docs/content/Schema/cube.md
  docs/yarn.lock
Labels: docs

#2630 docs(getting-started): add Loom recordings to Docker and Docker Compose guides
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
  docs/content/Getting-Started/Getting-Started-Docker.md
Labels: docs

#2632 docs(caching): improve Cube Store setup examples
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs

#2638 docs(caching): merge known limitations section
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Caching/pre-aggregations.png
Labels: docs
