Repository cube-js/cube, pull requests merged in 2021-06, with the labels that each got.

#2883 docs(deployment): fix typo in Overview page
  docs/content/Deployment/Overview.md
Labels: docs, pr:community

#2888 docs(config): add Elasticsearch instructions to Connecting to the Database
  docs/content/Configuration/Connecting-to-the-Database.md
Labels: docs, pr:community

#2892 docs: use version number from Lerna
  docs/gatsby-config.js
  docs/package.json
  docs/yarn.lock
Labels: docs

#2765 docs(cloud): add guides for AWS Athena, AWS Redshift, BigQuery and Snowflake
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
  docs/content/Cube-Cloud/Configuration/connect-db-athena.png
  docs/content/Cube-Cloud/Configuration/connect-db-bigquery.png
  docs/content/Cube-Cloud/Configuration/connect-db-redshift.png
  docs/content/Cube-Cloud/Configuration/connect-db-snowflake.png
Labels: docs

#2902 fix(snowflake-driver): Unexpected random order for columns in pre-agg…
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
Labels: bug, driver:snowflake

#2898 docs(deployment): fix invalid dependency ordering in Overview example
  docs/content/Deployment/Overview.md
Labels: docs

#2833 docs(cloud): split Getting Started page
  docs/content/Cube-Cloud/Getting-Started/Create-new.md
  docs/content/Cube-Cloud/Getting-Started/Overview.md
  docs/content/Cube-Cloud/Getting-Started/Upload-with-CLI.md
  docs/content/Cube-Cloud/Getting-Started/create-new.svg
  docs/content/Cube-Cloud/Getting-Started/upload-with-cli.svg
  docs/static/styles/_layout.scss
Labels: docs

#2897 docs(config): mention expected mount paths for Docker image
  docs/content/Configuration/Overview.md
Labels: docs

#2824 fix(@cubejs-api-gateway): fix end date when current month has less days than previous month
  packages/cubejs-api-gateway/src/dateParser.js
  packages/cubejs-api-gateway/test/dateParser.test.js
Labels: pr:community

#2913 @cubejs-client/core: update uuid package 3.4.0 -> 8.3.2
  packages/cubejs-client-core/package.json
  packages/cubejs-client-core/src/index.js
Labels: pr:community

#2932 fix(bigquery-driver): Encode buffer as base64 for CSV (streaming)
  packages/cubejs-bigquery-driver/src/HydrationStream.ts
Labels: bug, driver:bigquery

#2945 docs(config): fix typo in environment variable name
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: bug, docs

#2878 docs(config): add Cube Store cloud authentication configuration to Environment Variables Reference
  docs/content/Caching/Running-in-Production.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2950 feat(@cubejs-client/vue): support logical operator filters
  packages/cubejs-client-vue/src/QueryBuilder.js
  packages/cubejs-client-vue/tests/unit/QueryBuilder.spec.js
Labels: pr:community

#2794 refactor(@cubejs-client/core): replace `moment` with `dayjs`
  packages/cubejs-client-core/package.json
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/ResultSet.test.js
  packages/cubejs-client-core/src/tests/compare-date-range.test.js
  packages/cubejs-client-core/src/tests/data-blending.test.js
  packages/cubejs-client-core/src/tests/table.test.js
  packages/cubejs-client-core/src/tests/utils.test.js
  yarn.lock
Labels: pr:community

#2964 feat(@cubejs-client/vue): support all pivotConfig props
  packages/cubejs-client-vue/src/QueryBuilder.js
  packages/cubejs-client-vue/tests/unit/QueryBuilder.spec.js
Labels: pr:community

#2893 docs(caching): document the use of export buckets for large pre-aggregations
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Caching/build-batching.png
  docs/content/Caching/build-export-bucket.png
  docs/content/Caching/build-regular.png
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2889 docs(deployment): create Deploy with Docker page
  docs/content/Configuration/Extending-Cubejs.md
  docs/content/Deployment/Deployment-Guide.md
  docs/content/Deployment/Platform-Docker.md
Labels: docs

#2962 Change MssqlQuery dateTimeCast to DATETIME2
  packages/cubejs-schema-compiler/src/adapter/MssqlQuery.js
Labels: pr:community

#2859 Allow CUBEJS_CACHE_AND_QUEUE_DRIVER in Configuration
  docs/content/Configuration/Config.md
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
Labels: pr:community

#3010 docs(getting-started): fix link format typo
  docs/content/Getting-Started/Getting-Started-Nodejs.md
Labels: docs, pr:community

#3011 fix(clickhouse-driver): Correct support for Decimal
  packages/cubejs-clickhouse-driver/package.json
  packages/cubejs-clickhouse-driver/src/ClickHouseDriver.ts
  packages/cubejs-clickhouse-driver/src/HydrationStream.ts
  packages/cubejs-clickhouse-driver/test/ClickHouseDriver.test.ts
  packages/cubejs-clickhouse-driver/test/ClickHouseDriverTest.js
  yarn.lock
Labels: bug, driver:clickhouse
