Repository cube-js/cube, pull requests merged in 2021-11, with the labels that each got.

#3566 docs(recipes): add new recipe for connecting Apache Superset to the Cube SQL connector
  docs/content/Cube.js-Backend/SQL-API.mdx
  docs/content/Examples-Tutorials-Recipes/Recipes.md
  docs/content/Examples-Tutorials-Recipes/Recipes/Using-Apache-Superset-with-Cube-SQL.mdx
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-1.png
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-2.png
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-3.png
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-4.png
Labels: docs

#3276 docs(schema): create Working with Joins page under Fundamentals section
  docs/content/Guides/Direction-of-Joins.mdx
  docs/content/Guides/Many-to-Many-Relationship.md
  docs/content/Schema/Fundamentals/Working-with-Joins.mdx
  docs/content/Schema/Fundamentals/many-to-many-1.png
  docs/content/Schema/Fundamentals/many-to-many-2.png
  docs/content/Schema/Reference/joins.mdx
Labels: docs

#3593 docs(caching): add links from each database page to Pre-Aggregations Build-Time Strategies
  docs/content/Caching/Using-Pre-Aggregations.mdx
  docs/content/Configuration/Databases/AWS-Athena.mdx
  docs/content/Configuration/Databases/AWS-Redshift.mdx
  docs/content/Configuration/Databases/ClickHouse.md
  docs/content/Configuration/Databases/Google-BigQuery.mdx
  docs/content/Configuration/Databases/MS-SQL.mdx
  docs/content/Configuration/Databases/MongoDB.mdx
  docs/content/Configuration/Databases/MySQL.mdx
  docs/content/Configuration/Databases/Postgres.mdx
  docs/content/Configuration/Databases/Snowflake.mdx
Labels: docs

#3606 fix(client-core): dayjs locale conflict
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/granularity.test.js
Labels: pr:community

#3617 examples(k8s): added cubestore data dir env var
  examples/kubernetes/cluster/cubestore-router-statefulset.yaml
  examples/kubernetes/cluster/cubestore-workers-statefulset.yaml
Labels: pr:community

#3616 docs: fix framework switcher positioning
  docs/src/components/Layout/index.tsx
  docs/static/styles/_layout.scss
Labels: bug, docs

#3634 docs(config): fix broken link to `dataSource` documentation
  docs/content/Configuration/Config.mdx
Labels: bug, docs

#3635 docs(config): fix broken link to Export Bucket documentation
  docs/content/Configuration/Databases/AWS-Redshift.mdx
  docs/content/Configuration/Databases/Google-BigQuery.mdx
  docs/content/Configuration/Databases/Snowflake.mdx
Labels: bug, docs

#3624 docs(caching): improve copy for Pre-Aggregation Build Optimizations
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: docs

#3626 docs(caching): document that Cube Store can use EC2 instance metadata for IAM credentials
  docs/content/Caching/Running-in-Production.mdx
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#3640 docs(backend): fix incorrect information about boolean logical operators in filters
  docs/content/Cube.js-Backend/Query-Format.md
Labels: bug, docs

#3615 docs(deployment): use different local directory for each Cube Store instance
  docs/content/Deployment/Platform-Docker.mdx
  docs/content/Deployment/Platform-Kubernetes.mdx
  docs/src/utils/parseHref.ts
  examples/kubernetes/cluster/ingress.yaml
Labels: docs

#3625 docs(config): add information about `countDistinctApprox` for each supported database
  docs/content/Configuration/Databases/AWS-Athena.mdx
  docs/content/Configuration/Databases/AWS-Redshift.mdx
  docs/content/Configuration/Databases/ClickHouse.md
  docs/content/Configuration/Databases/Google-BigQuery.mdx
  docs/content/Configuration/Databases/MS-SQL.mdx
  docs/content/Configuration/Databases/MongoDB.mdx
  docs/content/Configuration/Databases/MySQL.mdx
  docs/content/Configuration/Databases/Postgres.mdx
  docs/content/Configuration/Databases/Presto.md
  docs/content/Configuration/Databases/Snowflake.mdx
Labels: docs

#3647 docs: remove Cube Cloud early access copy
  docs/content/Caching/Overview.mdx
  docs/content/Cube-Cloud/Index.mdx
  docs/content/Deployment/Platform-Cube-Cloud.mdx
  docs/content/Developer-Tools/Developer-Playground.mdx
Labels: docs

#3670 docs(examples): add link in tutorials section
  docs/content/Examples-Tutorials-Recipes/Examples.md
Labels: pr:community

#3600 fixed clickhouse joins in cubejs-schema-compiler
  packages/cubejs-schema-compiler/src/adapter/ClickHouseQuery.js
  packages/cubejs-schema-compiler/test/integration/clickhouse/clickhouse-graph-builder.test.ts
Labels: pr:community

#3555 feat(gateway): Add GraphQL endpoint
  packages/cubejs-api-gateway/package.json
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/graphql.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
Labels: pr:community

#3675 docs(api): update SQL API documentation
  docs/content/Cube.js-Backend/SQL-API.mdx
  docs/content/cube-sql-api-modal.png
Labels: docs

#3656 feat: Log network usage for caching query results in redis
  packages/cubejs-query-orchestrator/src/orchestrator/LocalCacheDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/RedisCacheDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/cache-driver.interface.ts
Labels: pr:community

#3698 docs(recipes): update Apache Superset recipe
  docs/content/Examples-Tutorials-Recipes/Recipes/Using-Apache-Superset-with-Cube-SQL.mdx
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-4.png
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-5.png
  docs/content/Examples-Tutorials-Recipes/Recipes/apache-superset-6.png
Labels: docs

#3704 docs(fix): reorder examples
  docs/content/Examples-Tutorials-Recipes/Examples.md
Labels: pr:community

#3720 docs(deployment): improve Docker reverse proxy documentation
  docs/content/Deployment/Platform-Docker.mdx
Labels: pr:community, docs

#3648 docs(deployment): add links to Migrating to Cube Cloud blog post
  docs/content/Deployment/Platform-Cube-Cloud.mdx
  docs/content/Deployment/Production-Checklist.mdx
Labels: docs

#3649 docs(config): add note about `CUBESTORE_REMOTE_DIR` not being ready for production usage
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#3641 feat: log network usage
  packages/cubejs-api-gateway/src/SubscriptionServer.ts
  packages/cubejs-api-gateway/src/gateway.ts
Labels: pr:community

#3728 fix(cubesql): mysql CLI connection error with COM_FIELD_LIST
  packages/cubejs-backend-native/Cargo.lock
  rust/Cargo.lock
  rust/cubesql/Cargo.toml
Labels: bug, backend:cubesql

#3732 fix(cubesql): Ignore SET NAMES on AST level
  packages/cubejs-backend-native/Cargo.lock
  rust/Cargo.lock
  rust/cubesql/Cargo.toml
  rust/cubesql/src/compile/mod.rs
  rust/cubesql/src/mysql/mod.rs
Labels: bug, backend:cubesql

#3733 feat(cubesql): Skip SET {GLOBAL|SESSION} TRANSACTION isolation on AST level
  packages/cubejs-backend-native/Cargo.lock
  rust/Cargo.lock
  rust/cubesql/Cargo.toml
  rust/cubesql/src/compile/mod.rs
Labels: bug, backend:cube-store

#3738 Master minio intergration
  rust/.gitignore
  rust/cubestore/src/config/mod.rs
  rust/cubestore/src/remotefs/minio.rs
  rust/cubestore/src/remotefs/mod.rs
Labels: pr:community
