Repository cube-js/cube, pull requests merged in 2021-05, with the labels that each got.

#2650 fix(sqlite-driver): TypeError: moment is not a function
  packages/cubejs-schema-compiler/src/adapter/MongoBiQuery.js
  packages/cubejs-schema-compiler/src/adapter/SqliteQuery.js
  packages/cubejs-sqlite-driver/driver/SqliteDriver.js
Labels: driver:sqlite

#2639 docs(caching): create new page for Running in Production
  docs/content/Caching/Running-in-Production.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#2627 docs(configuration): added BigQuery CUBEJS_DB_BQ_LOCATION env in documentation
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs, pr:community

#2668 docs: update broken link to config options reference
  docs/content/Deployment/Deployment-Guide.md
  docs/content/Developer-Tools/CLI-Reference.md
Labels: docs

#2669 docs(config): remove reference to deprecated `authInfo`
  docs/content/Configuration/Config.md
Labels: docs

#2719 fix #2717 support ungrouped tag for Clickhouse schema compiler
  packages/cubejs-schema-compiler/src/adapter/ClickHouseQuery.js
Labels: pr:community

#2715 Update schema-execution-environment.md
  docs/content/Schema/schema-execution-environment.md
Labels: docs, pr:community

#2727 fix(@cubejs-client/playground): telemetry
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-playground/src/App.tsx
  packages/cubejs-playground/src/events.ts
  packages/cubejs-playground/src/index.tsx
  packages/cubejs-server-core/src/core/DevServer.ts
  packages/cubejs-server-core/src/core/server.ts
Labels: bug, client:playground

#2670 docs(caching): remove superfluous configuration in Cube Store example
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2687 docs: recommend using WSL2 when using Windows 10 as host OS
  docs/content/Caching/Running-in-Production.md
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
  docs/content/Getting-Started/Getting-Started-Docker.md
Labels: docs

#2723 docs(cloud): fix typos
  docs/content/Cube-Cloud/Cube-IDE.md
Labels: docs

#2654 docs(cloud): add Connecting via SSL section to Connecting to Databases page
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
  docs/content/Cube-Cloud/Configuration/ssl-custom.png
  docs/content/Cube-Cloud/Configuration/ssl-wizard.png
Labels: docs

#2686 docs(config): add notes regarding Redis and multitenancy
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Configuration/Multitenancy-Setup.md
Labels: docs

#2738 docs(caching): Mention CUBESTORE_WORKERS needs to be set on workers
  docs/content/Caching/Running-in-Production.md
Labels: docs

#2735 Documentation for extendContext option
  docs/content/Configuration/Config.md
Labels: docs, pr:community

#2730 docs(caching): add information about securing Cube Store
  docs/content/Caching/Running-in-Production.md
Labels: docs

#2696 docs(cloud): improve Quickstart documentation
  docs/content/Cube-Cloud/Getting-Started.md
  docs/content/Cube-Cloud/getting-started-2.png
  docs/content/Cube-Cloud/getting-started-4.png
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#2750 docs: fix bug preventing use of common category names across OSS and Cloud
  docs/src/components/Layout/MainMenu.tsx
Labels: bug, docs

#2766 docs(cloud): fix broken images
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
Labels: bug, docs

#2764 feat(@cubejs-client/playground): member search
  packages/cubejs-playground/package.json
  packages/cubejs-playground/src/QueryBuilder/MemberDropdown.tsx
  yarn.lock
Labels: Roadmap: 2021 Q2, client:playground

#2724 Add 'key-pair' authentication to SnowflakeDriver.js
  .gitignore
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-snowflake-driver/driver/SnowflakeDriver.js
  packages/cubejs-snowflake-driver/package.json
  yarn.lock
Labels: pr:community

#2772 docs(config): minor edits to Snowflake environment variables for clarity
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2771 docs(caching): use correct port for Cube Store in Docker Compose example
  docs/content/Caching/Running-in-Production.md
Labels: bug, docs

#2773 Exporting CubejsApi class
  packages/cubejs-client-core/src/index.js
Labels: pr:community

#2751 docs(cloud): rename Configuring Cube Cloud to Configuration to match OSS docs
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
  docs/content/Cube-Cloud/Configuration/Deployment-Env-Vars.md
  docs/content/Cube-Cloud/Configuration/Deployment-Types.md
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#2787 chore(docs): Remove unnecessary port 3000 from Docker Compose docs
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
Labels: docs

#2791 chore(docs): Revert port 3000 and update comments
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
Labels: docs

#2784 docs(config): improve descriptions for `CUBESTORE_DATA_DIR` and `CUBESTORE_REMOTE_DIR`
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#2755 docs(cloud): move Cube IDE to Developer Tools to match OSS docs
  docs/content/Cube-Cloud/Developer-Tools/Cube-IDE.md
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#2762 docs(cloud): add Deploy with GitHub section to Deploys page
  docs/content/Cube-Cloud/Deploys.md
  docs/content/Cube-Cloud/deploy-with-git-creds.png
  docs/content/Cube-Cloud/deploy-with-git.png
  docs/content/Cube-Cloud/deploy-with-github.png
Labels: docs

#2754 docs(config): document `CUBEJS_DB_BQ_EXPORT_BUCKET`
  docs/content/Configuration/Connecting-to-the-Database.md
Labels: docs

#2760 docs(cloud): update video on Home page
  docs/content/Cube-Cloud/Index.md
Labels: docs

#2826 docs(config): update type of `orchestratorOptions`
  docs/content/Configuration/Config.md
Labels: docs

#2832 docs(cloud): add Developer Playground page to Cloud Developer Tools
  docs/content/Cube-Cloud/Developer-Tools/Cube-IDE.md
  docs/content/Cube-Cloud/Developer-Tools/Developer-Playground.md
  docs/content/Cube-Cloud/Developer-Tools/playground-restart.png
  docs/content/Cube-Cloud/Getting-Started.md
Labels: docs

#2795 docs(deployments): create new Overview page
  docs/content/Deployment/Deployment-Guide.md
  docs/content/Deployment/Overview.md
  docs/content/Deployment/Production-Checklist.md
  docs/content/Deployment/deployment-overview.png
Labels: docs

#2846 fix(@cubejs-backend/mssql-driver): add column type mappings for MSSQL external pre-aggregations
  packages/cubejs-mssql-driver/driver/MSSqlDriver.js
Labels: driver:mssql, pr:community
