Repository cube-js/cube, pull requests merged in 2021-08, with the labels that each got.

#3167 docs(caching): add time partitioning information to Using Pre-Aggregations page
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/Funnels.md
Labels: docs

#3009 Promote `queryRewrite` over `SECURITY_CONTEXT`
  docs/content/Auth/Security-Context.md
  docs/content/Configuration/Multitenancy-Setup.md
  docs/content/Cube.js-Backend/REST-API.md
  docs/content/Schema/Reference/cube.md
Labels: docs

#3179 docs: update Examples & Tutorials page
  docs/content/Examples.md
Labels: docs

#3115 docs(schema): ensure Pre-Aggregation ToC is consistent with other reference documentation
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Configuration/Config.md
  docs/content/Configuration/Overview.md
  docs/content/Deployment/Production-Checklist.md
  docs/content/Guides/Incremental-Pre-Aggregations.md
  docs/content/Schema/Funnels.md
  docs/content/Schema/Reference/pre-aggregations.md
  docs/content/Schema/Reference/types-and-formats.md
  packages/cubejs-playground/src/components/RollupDesigner/RollupDesigner.tsx
Labels: docs

#3202 docs: remove `*Reference` from pre-aggregation definitions
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Caching/Overview.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/Reference/schema-execution-environment.md
Labels: docs

#3119 docs: typo fixes
  docs/content/Cube.js-Frontend/Dashboard-App.md
  docs/content/Guides/Subquery.md
Labels: docs

#3205 docs(frontend): change invalid API URLs
  docs/content/Cube.js-Frontend/@cubejs-client-react.md
  docs/content/Cube.js-Frontend/@cubejs-client-vue.md
Labels: bug, docs

#3203 docs(examples): remove outdated recipe
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/Incremental-Pre-Aggregations.md
Labels: docs

#3207 docs(examples): add new recipe for enabling SSL connections to the database
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Examples-Tutorials-Recipes/Enable-SSL-Connections-To-Database.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
Labels: docs

#3211 docs(schema): fix broken link to Security Context page
  docs/content/Schema/Reference/cube.md
Labels: bug, docs

#3183 docs(config): create separate page for each database
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Configuration/Databases/AWS-Athena.md
  docs/content/Configuration/Databases/AWS-Redshift.md
  docs/content/Configuration/Databases/ClickHouse.md
  docs/content/Configuration/Databases/Databricks-JDBC.md
  docs/content/Configuration/Databases/Druid.md
  docs/content/Configuration/Databases/Elasticsearch.md
  docs/content/Configuration/Databases/Google-BigQuery.md
  docs/content/Configuration/Databases/Hive.md
  docs/content/Configuration/Databases/MS-SQL.md
  docs/content/Configuration/Databases/MongoDB.md
  docs/content/Configuration/Databases/MySQL.md
  docs/content/Configuration/Databases/Oracle.md
  docs/content/Configuration/Databases/Postgres.md
  docs/content/Configuration/Databases/Presto.md
  docs/content/Configuration/Databases/SQLite.md
  docs/content/Configuration/Databases/Snowflake.md
  docs/content/Configuration/Databases/elasticsearch.svg
  docs/content/Configuration/Databases/sqlite.svg
  docs/content/Deployment/Production-Checklist.md
  docs/content/Examples-Tutorials-Recipes/Enable-SSL-Connections-To-Database.md
  docs/content/Schema/Reference/pre-aggregations.md
  docs/static/styles/_layout.scss
  docs/static/styles/_mixins.scss
Labels: docs

#3212 docs(examples): rename 'Security' to 'Data Sources'
  docs/content/Examples-Tutorials-Recipes/Enable-SSL-Connections-To-Database.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
Labels: docs

#3216 Fix client hangs when loading big responses (node)
  packages/cubejs-client-core/src/index.js
Labels: pr:community

#3231 docs: include return statement in `queryRewrite` example
  docs/content/Auth/Security-Context.md
Labels: pr:community, docs

#3199 feat(postgres-driver): Load UD types from pg_types for type detection
  packages/cubejs-postgres-driver/src/PostgresDriver.ts
Labels: driver:postgres

#3229 bugfix(build): added regex replace for emojis in github repo metadata
  .github/workflows/publish.yml
Labels: pr:community

#3121 Update DruidQuery.ts
  packages/cubejs-druid-driver/src/DruidQuery.ts
  packages/cubejs-druid-driver/test/druid-query.test.ts
  packages/cubejs-druid-driver/tsconfig.json
Labels: pr:community

#3092 docs(schema): create new Concepts page under new Fundamentals section
  docs/content/Schema/Fundamentals/Concepts.md
Labels: docs

#3233 spelling edit
  packages/cubejs-playground/src/components/Header/RunOnCubeCloud.tsx
Labels: pr:community

#3234 feat(cubejs-api-gateway): Add `next` keyword for relative date ranges
  docs/content/Cube.js-Backend/Query-Format.md
  packages/cubejs-api-gateway/src/dateParser.js
  packages/cubejs-api-gateway/test/dateParser.test.js
Labels: pr:community

#3263 docs: remove unused/unnecessary values from examples
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Caching/Overview.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/Advanced/Dynamic-Schema-Creation.md
  docs/content/Schema/Reference/pre-aggregations.md
Labels: docs

#3267 docs(schema): fix main menu ordering
  docs/content/Schema/Advanced/Code-Reusability-Export-and-Import.md
  docs/content/Schema/Advanced/Code-Reusability-Extending-Cubes.md
  docs/content/Schema/Advanced/Data-Blending.md
  docs/content/Schema/Advanced/Dynamic-Schema-Creation.md
  docs/content/Schema/Advanced/Polymorphic-Cubes.md
  docs/content/Schema/Fundamentals/Concepts.md
  docs/content/Schema/Reference/cube.md
  docs/content/Schema/Reference/dimensions.md
  docs/content/Schema/Reference/joins.md
  docs/content/Schema/Reference/measures.md
  docs/content/Schema/Reference/pre-aggregations.md
  docs/content/Schema/Reference/schema-execution-environment.md
  docs/content/Schema/Reference/segments.md
  docs/content/Schema/Reference/types-and-formats.md
Labels: bug, docs

#3214 docs(schema): document using `every` and `sql` in `refreshKey` together
  docs/content/Caching/Overview.md
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/Reference/pre-aggregations.md
Labels: docs

#3268 docs(schema): create Additional Concepts page
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/event-analytics.md
  docs/content/Guides/Drill-Downs.md
  docs/content/Guides/String-Time-Dimensions.md
  docs/content/Guides/Subquery.md
  docs/content/Schema/Advanced/Code-Reusability-Export-and-Import.md
  docs/content/Schema/Fundamentals/Additional-Concepts.md
  docs/content/Schema/Fundamentals/subquery.png
  docs/content/Schema/Reference/dimensions.md
  docs/content/Schema/Reference/measures.md
  docs/content/Schema/Reference/types-and-formats.md
Labels: docs

#3274 correction of oracle port definition
  packages/cubejs-oracle-driver/driver/OracleDriver.js
Labels: pr:community

#3241 docs(recipes): add role-based access recipe
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/Role-based-access.md
  examples/recipes/.gitignore
  examples/recipes/README.md
  examples/recipes/role-based-access/.env
  examples/recipes/role-based-access/cube.js
  examples/recipes/role-based-access/docker-compose.yml
  examples/recipes/role-based-access/queries/query.json
  examples/recipes/role-based-access/queries/run.sh
  examples/recipes/role-based-access/schema/Orders.js
Labels: docs

#3254 feat(athena-driver): add environment variable to define the Athena workgroup
  docs/content/Configuration/Databases/AWS-Athena.md
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-athena-driver/driver/AthenaDriver.js
Labels: enhancement, pr:community, docs, driver:athena

#2793 chore: Update 3000 ports
  examples/bigquery-public-datasets/docker-compose.yml
  examples/clickhouse-dashboard/docker-compose.yml
  examples/multi-tenant-analytics/docker-compose.yml
  examples/react-muze/docker-compose.yml
  examples/react-pivot-table/docker-compose.yml
  packages/cubejs-cli/src/templates.ts
  packages/cubejs-docker/README.md
  rust/README.md
Labels: docs

#3264 docs: move 'Data Schema' section higher up in the menu
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#3269 docs(recipes): Column-based access
  docs/content/Examples-Tutorials-Recipes/Column-based-access.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
  examples/recipes/README.md
  examples/recipes/column-based-multi-tenancy/.env
  examples/recipes/column-based-multi-tenancy/cube.js
  examples/recipes/column-based-multi-tenancy/docker-compose.yml
  examples/recipes/column-based-multi-tenancy/queries/query.json
  examples/recipes/column-based-multi-tenancy/queries/run.sh
  examples/recipes/column-based-multi-tenancy/schema/Products.js
  examples/recipes/column-based-multi-tenancy/schema/Suppliers.js
Labels: docs

#3284 docs(recipes): Pagination
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/Pagination.md
  examples/recipes/README.md
  examples/recipes/pagination/.env
  examples/recipes/pagination/cube.js
  examples/recipes/pagination/docker-compose.yml
  examples/recipes/pagination/queries/count.json
  examples/recipes/pagination/queries/first.json
  examples/recipes/pagination/queries/run.sh
  examples/recipes/pagination/queries/second.json
  examples/recipes/pagination/schema/Orders.js
Labels: docs

#3292 docs(Time dimensions): Support quarter granularity
  docs/content/Schema/Reference/pre-aggregations.md
Labels: docs

#3282 docs(recipes): Mandatory filters
  docs/content/Examples-Tutorials-Recipes/Enforcing-mandatory-filters.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
  examples/recipes/README.md
  examples/recipes/mandatory-filters/.env
  examples/recipes/mandatory-filters/cube.js
  examples/recipes/mandatory-filters/docker-compose.yml
  examples/recipes/mandatory-filters/queries/completed-orders.json
  examples/recipes/mandatory-filters/queries/run.sh
  examples/recipes/mandatory-filters/queries/shipped-orders.json
  examples/recipes/mandatory-filters/queries/users.json
  examples/recipes/mandatory-filters/schema/Orders.js
Labels: docs

#3266 Create a new folder for helm charts
  examples/helm-charts/README.md
Labels: docs

#3315 docs(recipes): Restore auth token
  docs/content/Examples-Tutorials-Recipes/Enforcing-mandatory-filters.md
  docs/content/Examples-Tutorials-Recipes/Pagination.md
  examples/recipes/mandatory-filters/queries/run.sh
  examples/recipes/pagination/queries/run.sh
Labels: docs

#3316 docs(recipes): Change column based access recipe
  docs/content/Examples-Tutorials-Recipes/Column-based-access.md
  examples/recipes/column-based-multi-tenancy/schema/Products.js
Labels: docs

#3310 docs(recipes): Active users recipe
  docs/content/Examples-Tutorials-Recipes/Active-users.md
  examples/recipes/active-users/.env
  examples/recipes/active-users/cube.js
  examples/recipes/active-users/docker-compose.yml
  examples/recipes/active-users/queries/query.json
  examples/recipes/active-users/queries/run.sh
  examples/recipes/active-users/schema/Users.js
Labels: docs

#3339 fix schemaVersion type
  packages/cubejs-server-core/src/core/types.ts
Labels: pr:community

#3342 feat(helm-charts): Update to version v0.28.28
  examples/helm-charts/cubejs/Chart.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/Chart.yaml
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, examples

#3332 feat(playground): support refresh key cron expression
  packages/cubejs-playground/package.json
  packages/cubejs-playground/src/components/RollupDesigner/RollupDesigner.tsx
  packages/cubejs-playground/src/components/RollupDesigner/components/Settings.tsx
  yarn.lock
Labels: Roadmap: 2021 Q3

#3326 feat: Mixed rolling window and regular measure queries from rollup support
  packages/cubejs-backend-shared/src/time.ts
  packages/cubejs-cubestore-driver/src/CubeStoreQuery.ts
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-query-orchestrator/test/unit/PreAggregations.test.js
  packages/cubejs-schema-compiler/src/adapter/BaseMeasure.js
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/src/adapter/BaseTimeDimension.js
  packages/cubejs-schema-compiler/src/adapter/PreAggregations.js
  rust/Cargo.lock
  rust/cubestore-sql-tests/src/tests.rs
Labels: Roadmap: 2021 Q3, backend:pre-aggregations

#2854 Support multi-value filtering on same column through FILTER_PARAMS
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/integration/postgres/sql-generation.test.ts
Labels: pr:community
