Repository cube-js/cube, pull requests merged in 2021-07, with the labels that each got.

#2999 docs(devtools): add query tabs to Developer Playground page
  docs/content/Developer-Tools/Developer-Playground.md
  docs/content/Developer-Tools/playground-tabs.png
Labels: docs

#3072 fix(@cubejs-client/core): Long Query 413 URL too large
  packages/cubejs-client-core/src/HttpTransport.js
Labels: pr:community

#2978 docs(caching): improve batching and export bucket copy
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs

#3004 docs(deployment): add Export Bucket section to Production Checklist
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#3040 docs(schema): rename Introduction to Getting Started
  docs/content/Getting-Started/Getting-Started-Docker-Compose.md
  docs/content/Getting-Started/Getting-Started-Docker.md
  docs/content/Getting-Started/Getting-Started-Nodejs.md
  docs/content/Schema/Getting-Started-with-Cube.js-Schema.md
  docs/content/Schema/Getting-Started.md
Labels: docs

#3036 docs(deployment): create Deploy with Serverless on AWS page
  docs/content/Deployment/Platform-Serverless-AWS.md
Labels: docs

#2924 docs: upgrade `gatsby` to v3
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/DocsSwitcher/index.tsx
  docs/src/components/Header/Desktop.tsx
  docs/src/components/Layout/MainMenu.tsx
  docs/src/components/Layout/MobileFooter.tsx
  docs/src/components/Layout/ScrollMenu.tsx
  docs/src/components/Layout/index.tsx
  docs/src/components/Search/index.tsx
  docs/src/components/templates/FrameworkSwitcher.tsx
  docs/src/components/templates/MainTab.tsx
  docs/src/components/templates/ScrollSpyLink.tsx
  docs/src/pages/index.tsx
  docs/src/templates/DocTemplate.tsx
  docs/yarn.lock
Labels: docs

#3079 Update Cube.js docs menu order
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#3095 docs(cubes): typo fix
  docs/content/Schema/cube.md
Labels: pr:community

#3087 fix(@cubejs-client/core): incorrect types for logical and/or in query filters (#3083)
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-ngx/src/query-builder/query-members.ts
Labels: pr:community

#3038 docs(caching): replace `originalSql` copy and examples with `rollup`
  docs/content/Schema/Dynamic-Schema-Creation.md
  docs/content/Schema/Funnels.md
  docs/content/Schema/pre-aggregations.md
Labels: docs

#3084 docs(schema): rename `refreshRange*` to `buildRange*`
  docs/content/Schema/pre-aggregations.md
Labels: docs

#3093 docs(schema): remove duplicated rollup selection rules from Pre-Aggregations reference
  docs/content/Schema/pre-aggregations.md
Labels: docs

#3114 docs(deployment): create new Cube Cloud page
  docs/content/Deployment/Platform-Cube-Cloud.md
Labels: docs

#3117 docs(deployment): remove 'Deploy with' prefix from Platform titles
  docs/content/Deployment/Platform-Docker.md
  docs/content/Deployment/Platform-Serverless-AWS.md
  docs/content/Deployment/Platform-Serverless-Google.md
Labels: docs

#3123 fix(snowflake-driver): Restart connection if it's not up
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
Labels: bug, driver:snowflake

#3108 fix(docs): top banner animation and utm
  docs/src/components/EventBanner/index.tsx
Labels: docs

#3138 docs(deployment): fix incorrect URL for GCP deployments
  docs/content/Deployment/Overview.md
Labels: pr:community

#3147 fix(@cubejs-client/react): QueryBuilder incorrectly deduplicates filt…
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#3155 docs(deployment): remove Node prerequisite for Cube Cloud deployment
  docs/content/Deployment/Platform-Cube-Cloud.md
Labels: docs

#3149 docs(caching): add callout for Pre-Aggregations Workshop
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Caching/Overview.md
  docs/content/Caching/Running-in-Production.md
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs

#3086 feat: add env var for SNS || Pub/Sub topic
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-serverless-aws/index.js
  packages/cubejs-serverless-google/index.js
Labels: backend:serverless-aws, enhancement, pr:community
