Repository cube-js/cube, pull requests merged in 2021-09, with the labels that each got.

#3356 docs(schema): add blurb about `refreshKey` being evaluated on a per-partition basis
  docs/content/Schema/Reference/pre-aggregations.md
Labels: docs

#3354 docs(deployment): add Kubernetes to Overview page and fix menu order
  docs/content/Deployment/Overview.md
  docs/content/Deployment/Platform-Cube-Cloud.md
  docs/content/Deployment/Platform-Kubernetes.md
  docs/content/Deployment/Platform-Serverless-AWS.md
  docs/content/Deployment/Platform-Serverless-Google.md
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#3312 docs(caching): document how to inspect pre-aggregations in Cube Store with MySQL
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs

#3359 docs(recipes): Getting unique values for a field
  docs/content/Examples-Tutorials-Recipes/Getting-Unique-Values-for-a-Field.md
  examples/recipes/getting-unique-values-of-the-field/.env
  examples/recipes/getting-unique-values-of-the-field/cube.js
  examples/recipes/getting-unique-values-of-the-field/docker-compose.yml
  examples/recipes/getting-unique-values-of-the-field/queries/load.json
  examples/recipes/getting-unique-values-of-the-field/queries/run.sh
  examples/recipes/getting-unique-values-of-the-field/schema/Users.js
Labels: docs

#3300 docs(recipes): EAV
  docs/content/Examples-Tutorials-Recipes/Entity-Attribute-Value.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
  examples/recipes/README.md
  examples/recipes/entity-attribute-value/.env
  examples/recipes/entity-attribute-value/Dockerfile
  examples/recipes/entity-attribute-value/cube.js
  examples/recipes/entity-attribute-value/docker-compose.yml
  examples/recipes/entity-attribute-value/fetch.js
  examples/recipes/entity-attribute-value/package.json
  examples/recipes/entity-attribute-value/queries/dry.json
  examples/recipes/entity-attribute-value/queries/dynamic.json
  examples/recipes/entity-attribute-value/queries/joins.json
  examples/recipes/entity-attribute-value/queries/run.sh
  examples/recipes/entity-attribute-value/queries/statuses.json
  examples/recipes/entity-attribute-value/schema/Orders.js
  examples/recipes/entity-attribute-value/schema/Users.js
  examples/recipes/entity-attribute-value/schema/UsersStatuses_DRY.js
  examples/recipes/entity-attribute-value/schema/UsersStatuses_Dynamic.js
  examples/recipes/entity-attribute-value/schema/UsersStatuses_Joins.js
Labels: docs

#3346 fix(helm-charts): Add global.apiSecretFromSecret value and fix worker deployment naming
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
Labels: pr:community, examples

#3341 docs(recipes): Using multiple data sources with the same schema
  docs/content/Examples-Tutorials-Recipes/Enable-SSL-Connections-To-Database.md
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/Multiple-Data-Sources-With-Same-Schema.md
  examples/recipes/README.md
  examples/recipes/multiple-data-sources/.env
  examples/recipes/multiple-data-sources/cube.js
  examples/recipes/multiple-data-sources/docker-compose.yml
  examples/recipes/multiple-data-sources/queries/run.sh
  examples/recipes/multiple-data-sources/queries/users.json
  examples/recipes/multiple-data-sources/schema/Users.js
  examples/recipes/multiple-data-sources/scripts/localDB.sql
Labels: docs

#3265 docs: ensure all Data Schema reference pages have consistent table of contents
  docs/content/Schema/Reference/cube.mdx
  docs/content/Schema/Reference/dimensions.mdx
  docs/content/Schema/Reference/joins.mdx
  docs/content/Schema/Reference/measures.mdx
  docs/content/Schema/Reference/pre-aggregations.mdx
  docs/content/Schema/Reference/segments.md
Labels: docs

#3389 docs: create and use `<LoomVideo />` component
  docs/content/Cube-Cloud/Developer-Tools/Cube-IDE.mdx
  docs/content/Cube-Cloud/Getting-Started/Upload-with-CLI.md
  docs/content/Cube-Cloud/Getting-Started/Upload-with-CLI.mdx
  docs/content/Cube-Cloud/Index.mdx
  docs/content/Developer-Tools/Developer-Playground.mdx
  docs/content/Getting-Started/Getting-Started-Docker-Compose.mdx
  docs/content/Getting-Started/Getting-Started-Docker.mdx
  docs/src/components/LoomVideo/LoomVideo.tsx
  docs/src/templates/DocTemplate.tsx
Labels: docs

#3388 docs(recipes): Create the recipes page
  docs/content/Examples-Tutorials-Recipes/Examples.md
  docs/content/Examples-Tutorials-Recipes/Recipes.md
  docs/content/Examples-Tutorials-Recipes/Referencing-Dynamic-Measures.md
  docs/content/Examples-Tutorials-Recipes/Role-based-access.md
  examples/recipes/referencing-dynamic-measures/schema/Orders.js
Labels: docs

#3371 Add cube-stack Helm chart
  examples/helm-charts/cube-stack/.gitignore
  examples/helm-charts/cube-stack/.helmignore
  examples/helm-charts/cube-stack/Chart.lock
  examples/helm-charts/cube-stack/Chart.yaml
  examples/helm-charts/cube-stack/README.md
  examples/helm-charts/cube-stack/values.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/common-env.tpl
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, examples

#3379 Improvements to Kubernetes examples
  examples/kubernetes/cluster/cube-api-deployment.yaml
  examples/kubernetes/cluster/cube-api-schema-configmap.yaml
  examples/kubernetes/cluster/cube-api-service.yaml
  examples/kubernetes/cluster/cube-refresh-worker-deployment.yaml
  examples/kubernetes/cluster/cubestore-pv.yaml
  examples/kubernetes/cluster/cubestore-pvc.yaml
  examples/kubernetes/cluster/cubestore-router-service.yaml
  examples/kubernetes/cluster/cubestore-router-statefulset.yaml
  examples/kubernetes/cluster/cubestore-workers-service.yaml
  examples/kubernetes/cluster/cubestore-workers-statefulset.yaml
  examples/kubernetes/cluster/ingress-controller.yaml
  examples/kubernetes/cluster/ingress-secret.yaml
  examples/kubernetes/cluster/ingress.yaml
  examples/kubernetes/cluster/readme.md
  examples/kubernetes/cluster/redis-deployment.yaml
  examples/kubernetes/cluster/redis-service.yaml
  examples/kubernetes/minikube/cube-deployment.yaml
  examples/kubernetes/minikube/readme.md
  examples/kubernetes/minikube/redis-deployment.yaml
  examples/kubernetes/minikube/redis-service.yaml
Labels: pr:community

#3390 fix(helm-charts): Fix live/ready probe path and expose options
  examples/helm-charts/cubejs/Chart.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/Chart.yaml
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community

#3365 Add benchmarks for BigQuery SDK and Cube Cloud
  examples/data-warehouse-performance-benchmarks/bigquery/.gitignore
  examples/data-warehouse-performance-benchmarks/bigquery/bq-api.js
  examples/data-warehouse-performance-benchmarks/bigquery/cube-api.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-bq.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-cube-cloud.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-cube-local.js
  examples/data-warehouse-performance-benchmarks/bigquery/package.json
  examples/data-warehouse-performance-benchmarks/bigquery/readme.md
  examples/data-warehouse-performance-benchmarks/bigquery/yarn.lock
Labels: pr:community, examples

#3392 docs: create and use `<Grid />` and `<GridItem />` components
  docs/content/Configuration/Connecting-to-the-Database.mdx
  docs/content/Cube-Cloud/Getting-Started/Overview.md
  docs/content/Cube-Cloud/Getting-Started/Overview.mdx
  docs/content/Getting-Started/Overview.md
  docs/content/Getting-Started/Overview.mdx
  docs/src/components/Grid/Grid.tsx
  docs/src/components/Grid/GridItem.tsx
  docs/src/templates/DocTemplate.tsx
  docs/static/styles/_layout.scss
Labels: docs

#3394 docs: fix issue with table overflow
  docs/env/development.js
  docs/static/styles/_tables.scss
Labels: docs

#3364 feat: Add ability to pass through generic-pool options
  packages/cubejs-query-orchestrator/src/orchestrator/RedisPool.ts
  packages/cubejs-server-core/src/core/optionsValidate.ts
Labels: pr:community

#3398 docs(schema): fix broken link
  docs/content/Schema/Reference/joins.mdx
Labels: bug, docs

#3397 docs: replace `CUBEJS_DB_BQ_EXPORT_BUCKET` with `CUBEJS_DB_EXPORT_BUCKET`
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Deployment/Overview.mdx
  docs/content/Deployment/Platform-Docker.mdx
Labels: docs

#3403 fix: `updateWindow` validation isn't consistent with `refreshKey` interval parsing -- allow `s` at the end of time interval
  .github/workflows/birdbox.yml
  .github/workflows/push.yml
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.js
  packages/cubejs-testing/birdbox-fixtures/postgresql/schema/PreAggregationTest.js
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/cli-postgresql-pre-aggregations.test.ts
Labels: pr:community

#3308 docs: remove dead links from Caching documentation
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Schema/Reference/pre-aggregations.mdx
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-playground/src/components/RollupDesigner/RollupDesigner.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/ConnectionWizardPage.tsx
  packages/cubejs-playground/src/pages/ConnectionWizard/components/ConnectionTest.tsx
  packages/cubejs-playground/src/pages/Schema/SchemaPage.tsx
  packages/cubejs-query-orchestrator/src/driver/BaseDriver.js
Labels: docs

#3368 fix(client-core): keep order of elements within tableColumns
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/table.test.js
Labels: pr:community

#3363 docs(recipes): Passing Dynamic Values in a Query
  docs/content/Examples-Tutorials-Recipes/Passing-Dynamic-Values-In-Query.md
  docs/content/Examples-Tutorials-Recipes/Recipes.md
  examples/recipes/README.md
  examples/recipes/passing-dynamic-parameters-in-query/.env
  examples/recipes/passing-dynamic-parameters-in-query/cube.js
  examples/recipes/passing-dynamic-parameters-in-query/docker-compose.yml
  examples/recipes/passing-dynamic-parameters-in-query/queries/query.json
  examples/recipes/passing-dynamic-parameters-in-query/queries/run.sh
  examples/recipes/passing-dynamic-parameters-in-query/schema/Users.js
Labels: docs

#3419 examples(dw-benchmarks): Added randomized queries
  examples/data-warehouse-performance-benchmarks/bigquery/bq-api.js
  examples/data-warehouse-performance-benchmarks/bigquery/bq-queries.js
  examples/data-warehouse-performance-benchmarks/bigquery/cube-api.js
  examples/data-warehouse-performance-benchmarks/bigquery/cube-queries.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-bq.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-cube-cloud.js
  examples/data-warehouse-performance-benchmarks/bigquery/k6-cube-local.js
  examples/data-warehouse-performance-benchmarks/bigquery/package.json
  examples/data-warehouse-performance-benchmarks/bigquery/readme.md
  examples/data-warehouse-performance-benchmarks/bigquery/yarn.lock
Labels: pr:community

#3421 docs(recipes): Joining Data from Multiple Data Sources
  docs/content/Examples-Tutorials-Recipes/Joining-multiple-data-sources.md
  docs/content/Examples-Tutorials-Recipes/Recipes.md
  examples/recipes/README.md
  examples/recipes/joining-multiple-datasources-data/.env
  examples/recipes/joining-multiple-datasources-data/cube.js
  examples/recipes/joining-multiple-datasources-data/docker-compose.yml
  examples/recipes/joining-multiple-datasources-data/queries/pre-agg-query.json
  examples/recipes/joining-multiple-datasources-data/queries/run.sh
  examples/recipes/joining-multiple-datasources-data/schema/Products.js
  examples/recipes/joining-multiple-datasources-data/schema/Suppliers.js
Labels: docs

#3450 fix(@cubejs-client/vue): catch `dryRun` errors on `query-builder` mount
  packages/cubejs-client-vue/src/QueryBuilder.js
Labels: pr:community

#3353 docs(deployment): prevent dev dependencies leaking in Docker Compose startup
  docs/content/Deployment/Platform-Docker.mdx
  docs/content/Getting-Started/Getting-Started-Docker-Compose.mdx
Labels: pr:community, docs

#3482 docs: fix menu truncation
  docs/src/components/Layout/MainMenu.tsx
  docs/static/styles/_layout.scss
Labels: bug, docs

#3460 docs: add callout for multitenancy workshop
  docs/content/Configuration/Multitenancy-Setup.mdx
  docs/src/pages/index.tsx
Labels: docs

#3483 docs(data schema): fix broken links
  docs/content/Schema/Fundamentals/Concepts.mdx
Labels: docs

#3472 fix(@cubejs-backend/schema-compiler): match query with no dimensions …
  packages/cubejs-schema-compiler/src/adapter/PreAggregations.js
  packages/cubejs-schema-compiler/test/unit/PrepareCompiler.js
  packages/cubejs-schema-compiler/test/unit/pre-agg-by-filter-match.test.ts
Labels: pr:community

#3494 check segments when matching pre-aggregations
  packages/cubejs-schema-compiler/src/adapter/PreAggregations.js
  packages/cubejs-schema-compiler/test/unit/pre-agg-by-filter-match.test.ts
Labels: pr:community

#3408 examples(helm-charts): Default values for cube store and redis
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
  examples/kubernetes/cluster/cube-api-deployment.yaml
  examples/kubernetes/cluster/cube-api-schema-configmap.yaml
  examples/kubernetes/cluster/cube-refresh-worker-deployment.yaml
Labels: pr:community, examples

#3497 examples(helm-charts): Fix standalone cubejs chart and add ingressClassName support
  examples/helm-charts/cubejs/Chart.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/_helpers.tpl
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/ingress.yaml
  examples/helm-charts/cubejs/values.yaml
Labels: pr:community
