Repository cube-js/cube, pull requests merged in 2021-03, with the labels that each got.

#2231 fix(cubestore): Delay query execution before Cube Store started
  rust/js-wrapper/process.ts
Labels: bug, enhancement

#2129 feat(examples): add simple example project for `asyncModule()`
  examples/async-module-simple/.gitignore
  examples/async-module-simple/cube.js
  examples/async-module-simple/package.json
  examples/async-module-simple/schema/Orders.js
  examples/async-module-simple/schema/fetchSchema.js
  examples/async-module-simple/yarn.lock
Labels: enhancement

#2200 docs(auth0): fix typos in guide
  docs/content/Auth/Auth0-Guide.md
  docs/content/Auth/auth0-03-get-jwt-02.png
  docs/content/Auth/auth0-03-get-jwt-03.png
Labels: bug, docs

#2253 fix(schema-compiler): @types/ramda is a dev dependecy, dont ship it
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/yarn.lock
Labels: bug

#2257 docs: Update docs for cube store release phase 1
  docs/content/Caching/Using-Pre-Aggreations.md
  docs/content/Configuration/Config.md
  docs/content/Configuration/Connecting-to-the-Database.md
  docs/content/Schema/pre-aggregations.md
Labels: docs

#2259 docs: fix minor typos in DEPRECATION.md
  DEPRECATION.md
Labels: docs, pr:community

#2239 fix(@cubejs-schema-compiler): Fix addInterval / subtractInterval for Mssql
  packages/cubejs-schema-compiler/src/adapter/MssqlQuery.js
  packages/cubejs-schema-compiler/test/integration/mssql/mssql-pre-aggregations.test.ts
Labels: pr:community

#2232 docs(aws-cognito): add guide for AWS Cognito integration
  docs/content/Auth/AWS-Cognito.md
  docs/content/Auth/Security-Context.md
  docs/content/Auth/cognito-get-jwt-02.png
  docs/content/Auth/cognito-get-jwt-03.png
  docs/content/Auth/cognito-get-jwt-04.png
  docs/content/Auth/cognito-get-jwt-05.png
Labels: docs, enhancement

#2260 feat: Fetch JWK in background only
  .github/workflows/push.yml
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/jwk.ts
  packages/cubejs-backend-shared/src/promises.ts
  packages/cubejs-backend-shared/test/promises.test.ts
  packages/cubejs-server-core/src/core/server.ts
Labels: enhancement

#2261 TypeScript fixes
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-react/index.d.ts
Labels: pr:community

#2270 docs(security): move Custom Authentication section to Overview page
  docs/content/Auth/Overview.md
  docs/content/Auth/Security-Context.md
Labels: docs, enhancement

#2287 fix(cubestore): post-install - compatbility with non bash env
  .github/workflows/publish.yml
  .github/workflows/push.yml
  rust/bin/postinstall-skip-env.js
  rust/package.json
  rust/yarn.lock
Labels: bug

#2266 docs: add JWKS section to Production Checklist
  docs/content/Deployment/Production-Checklist.md
Labels: docs, enhancement

#2273 docs(security): re-order JWT/JWKS sections in Overview page
  docs/content/Auth/Overview.md
Labels: docs

#2272 docs(security): add links to Auth0 and AWS Cognito guides
  docs/content/Auth/Overview.md
Labels: docs, enhancement

#2263 Refactoring QueryBuilder orderMembers for better logic flow
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#2262 React QueryBuilder show dry-run errors
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#2240 feat: Support for elastic.co in ElasticsearchSriver and improved docs
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-elasticsearch-driver/README.md
  packages/cubejs-elasticsearch-driver/driver/ElasticSearchDriver.js
  packages/cubejs-schema-compiler/src/adapter/ElasticSearchQuery.js
Labels: enhancement, pr:community

#2230 docs: create Cube.js/Cube Cloud switcher
  docs/src/components/DocsSwitcher/cube-cloud-logo-sm.svg
  docs/src/components/DocsSwitcher/cube-cloud-logo.svg
  docs/src/components/DocsSwitcher/cube.js-logo.svg
  docs/src/components/DocsSwitcher/index.tsx
  docs/src/components/DocsSwitcher/styles.module.scss
  docs/src/components/Header/Desktop.tsx
  docs/static/styles/_layout.scss
Labels: docs, enhancement

#2093 docs: mention `sqlAlias` can also be specified in the pre-aggregation definition
  docs/content/Schema/pre-aggregations.md
Labels: docs, enhancement

#2296 docs(security): fix incorrect grammar in callout
  docs/content/Auth/Overview.md
Labels: bug, docs

#2302 Update doughnut-chart.component.ts
  examples/angular-dashboard-with-material-ui/dashboard-app/src/app/doughnut-chart/doughnut-chart.component.ts
Labels: pr:community

#2339 Fix Typos and Broken Link in Docs
  docs/content/Caching/Using-Pre-Aggregations.md
  docs/content/Schema/pre-aggregations.md
Labels: bug, docs, pr:community

#2303 Refactoring React QueryBuilder to be uncontrolled
  packages/cubejs-client-react/index.d.ts
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#2351 Prevent calling onVizStateChanged twice unless needed
  packages/cubejs-client-react/src/QueryBuilder.jsx
Labels: pr:community

#2347 docs: add info box for Discourse
  docs/content/Schema/event-analytics.md
Labels: docs, enhancement

#2355 docs: add margins to headings, wide links, code blocks, images and callouts
  docs/content/Auth/AWS-Cognito.md
  docs/content/Auth/Auth0-Guide.md
  docs/content/Auth/Overview.md
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.md
  docs/content/Cube-Cloud/Configuration/Deployment-Env-Vars.md
  docs/content/Cube-Cloud/Cube-IDE.md
  docs/content/Cube-Cloud/Deploys.md
  docs/content/Cube-Cloud/Index.md
  docs/content/Cube-Cloud/Inspecting-Queries.md
  docs/content/Cube-Cloud/Quickstart.md
  docs/content/Cube.js-Introduction.md
  docs/content/Schema/cohort-retention.md
  docs/content/Schema/event-analytics.md
  docs/static/styles/_code.scss
  docs/static/styles/_layout.scss
  docs/static/styles/_typography.scss
  docs/static/styles/content.css
Labels: docs, enhancement

#2383 docs: improve docs related to the pre-aggregations schema
  docs/content/Caching/Overview.md
  docs/content/Configuration/Config.md
  docs/content/Schema/pre-aggregations.md
Labels: docs, enhancement

#2387 Rename 'Configure JWKS' to 'Secure the deployment'
  docs/content/Deployment/Production-Checklist.md
Labels: docs, enhancement

#1149 fix(cubejs-cli): Create - ability to select a specific JDBC driver
  packages/cubejs-cli/src/command/create.ts
  packages/cubejs-jdbc-driver/driver/JDBCDriver.js
Labels: bug

#2397 Update DremioQuery.js
  packages/cubejs-dremio-driver/driver/DremioQuery.js
Labels: pr:community

#2377 Add the Discourse link to the readme file
  README.md
  docs/content/Examples.md
Labels: docs

#2271 docs(security): add mention of `COMPILE_CONTEXT` to Security Context page
  docs/content/Auth/Security-Context.md
Labels: docs, enhancement

#2384 docs(caching): add known limitations when using MySQL/Postgres for external pre-aggregations
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs, enhancement

#2385 docs(caching): add Partitioning section to Using Pre-aggregations page
  docs/content/Caching/Using-Pre-Aggregations.md
Labels: docs, enhancement

#2410 Updated totalRow within ResultSet
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/src/ResultSet.js
Labels: pr:community

#2394 Adding a Discourse button to docs page header
  docs/src/components/Header/Desktop.tsx
Labels: docs

#2443 Update DremioDriver.js
  packages/cubejs-dremio-driver/driver/DremioDriver.js
Labels: pr:community

#2398 docs(schema): add known limitations to using internal pre-aggregations
  docs/content/Schema/pre-aggregations.md
Labels: docs, enhancement

#2427 docs(devtools): add Editing the Security Context section to Developer Playground page
  docs/content/Auth/Security-Context.md
  docs/content/Developer-Tools/Developer-Playground.md
Labels: docs

#2438 docs(schema): document `rollupJoin`
  docs/content/Schema/pre-aggregations.md
Labels: docs

#2444 Update Examples and Tutorials
  docs/content/Examples.md
Labels: docs
