Repository cube-js/cube, pull requests merged in 2021-12, with the labels that each got.

#3769 docs(config): move Node API reference to Configuration section
  docs/content/API-Reference/Query-Format.md
  docs/content/Configuration/Reference/@cubejs-backend-server-core.md
  docs/content/Configuration/Reference/@cubejs-backend-server.md
Labels: docs

#3721 docs: improve docs landing page
  docs/src/pages/index.tsx
Labels: docs

#3768 docs(schema): fix broken link to Join Directions page
  docs/content/Schema/Reference/joins.mdx
Labels: bug, docs

#3778 fix(api-gateway): Remove irrelevant GraphQL float filters
  packages/cubejs-api-gateway/src/graphql.ts
Labels: pr:community

#3779 feat(api-gateway): Enable GraphiQL header editor to pass security context in dev mode
  packages/cubejs-api-gateway/src/gateway.ts
Labels: pr:community

#3770 docs(frontend): rename 'Cube.js Frontend' to 'Frontend Integrations'
  docs/content/Frontend-Integrations/@cubejs-client-core.md
  docs/content/Frontend-Integrations/@cubejs-client-ngx.md
  docs/content/Frontend-Integrations/@cubejs-client-react.md
  docs/content/Frontend-Integrations/@cubejs-client-vue.md
  docs/content/Frontend-Integrations/@cubejs-client-ws-transport.md
  docs/content/Frontend-Integrations/Dashboard-App.md
  docs/content/Frontend-Integrations/Introduction-angular.md
  docs/content/Frontend-Integrations/Introduction-react.md
  docs/content/Frontend-Integrations/Introduction-vue.md
  docs/content/Frontend-Integrations/Introduction.md
  docs/content/Frontend-Integrations/Real-Time-Data-Fetch.md
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#3771 docs(cloud): update multiple database connection instructions
  docs/content/Cube-Cloud/Configuration/Connecting-to-Databases.mdx
Labels: docs

#3739 docs(config): add environment variables for Cube Store minIO support
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: pr:community, docs

#3705 docs(recipes): fix recipes menu order
  docs/content/Examples-Tutorials-Recipes/Recipes/Optimizing-complex-cubes.mdx
Labels: docs

#3781 docs: update product logos
  docs/src/components/DocsSwitcher/cube-cloud-logo-sm.svg
  docs/src/components/DocsSwitcher/cube-cloud-logo.svg
  docs/src/components/DocsSwitcher/cube-logo-cloud-min.svg
  docs/src/components/DocsSwitcher/cube-logo-cloud.svg
  docs/src/components/DocsSwitcher/cube-logo.svg
  docs/src/components/DocsSwitcher/cube.js-logo.svg
  docs/src/components/DocsSwitcher/index.tsx
Labels: docs

#3783 docs(config): update and improve 'Migrating from Express to Docker' section
  docs/content/Configuration/Overview.mdx
Labels: docs

#3630 docs(schema): improve copy and examples for Segments section in Pre-Aggregations
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#3654 docs(caching): add new Joins between Pre-Aggregations section
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: docs

#3743 docs(api): create GraphQL API Reference
  docs/content/API-Reference/GraphQL-API-1.png
  docs/content/API-Reference/GraphQL-API-2.png
  docs/content/API-Reference/GraphQL-API.mdx
Labels: docs

#3706 feat(helm-charts): Add sqlPort config to enable SQL Api
  examples/helm-charts/cubejs/Chart.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/Chart.yaml
  examples/helm-charts/cubestore/templates/common-env.tpl
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/service-headless.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
Labels: pr:community, examples

#3789 docs(api): improve and update GraphQL API Reference
  docs/content/API-Reference/GraphQL-API.mdx
Labels: docs

#3790 docs(api): improve GraphQL API reference
  docs/content/API-Reference/GraphQL-API.mdx
Labels: bug, docs

#3791 docs(schema): improve Pre-Aggregation reference
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#3796 fix(cubesql): Special NULL handling for LEAST function
  rust/cubesql/src/compile/engine/df/coerce.rs
  rust/cubesql/src/compile/engine/udf.rs
  rust/cubesql/src/compile/mod.rs
Labels: bug, backend:cubesql

#3800 docs: remove outdated references to `SECURITY_CONTEXT`
  docs/content/Auth/Security-Context.mdx
  docs/content/Configuration/Multitenancy-Setup.mdx
  docs/content/Deployment/Platform-Docker.mdx
  docs/content/Deployment/Platform-Kubernetes.mdx
  docs/content/Deployment/Platform-Serverless-AWS.mdx
  docs/content/Deployment/Platform-Serverless-Google.mdx
Labels: docs

#3801 feat(cubejs-client-vue): add wrapWithQueryRenderer prop
  docs/content/Frontend-Integrations/@cubejs-client-react.md
  docs/content/Frontend-Integrations/@cubejs-client-vue.md
  packages/cubejs-client-vue/src/QueryBuilder.js
Labels: pr:community

#3774 feat(api-gateway): Event property for SQL and GraphQL API
  packages/cubejs-api-gateway/src/SubscriptionServer.ts
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/graphql.ts
  packages/cubejs-api-gateway/src/sql-server.ts
Labels: pr:community

#3804 docs: fix menu scroll when item is selected
  docs/src/templates/DocTemplate.tsx
Labels: pr:community, docs

#3814 docs: update deprecation notices
  DEPRECATION.md
Labels: docs

#3823 docs: fix `<h4>` links
  docs/src/templates/DocTemplate.tsx
Labels: bug, docs

#3824 docs(config): add example for CORS configuration
  docs/content/Configuration/Config.mdx
Labels: docs

#3821 docs(devtools): add `typegen` command to CLI Reference
  docs/content/Developer-Tools/CLI-Reference.mdx
Labels: docs

#3815 Add 'meta' field to typescript TCubeMember type
  docs/content/Frontend-Integrations/@cubejs-client-core.md
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#3806 fix(@cubejs-client/vue): fix error when executing deletion
  packages/cubejs-client-vue/src/QueryBuilder.js
Labels: pr:community, client:vue

#3847 chore: fix codesandboxes
  docs/content/Examples-Tutorials-Recipes/Accelerating-Non-Additive-Measures.md
  docs/content/Frontend-Integrations/@cubejs-client-vue.md
  docs/content/Frontend-Integrations/Introduction-angular.md
  docs/content/Frontend-Integrations/Introduction-react.md
  docs/content/Frontend-Integrations/Introduction-vue.md
  docs/content/Frontend-Integrations/Introduction.md
Labels: pr:community

#3854 fix(cubesql/native): Return errors to the client (missing field )
  packages/cubejs-backend-native/src/transport.rs
  packages/cubejs-backend-native/test/sql.test.js
Labels: bug, backend:cubesql
