Repository cube-js/cube, pull requests merged in 2021-01, with the labels that each got.

#1733 Uploading with token should take precedence over .cubecloud file and update it
  packages/cubejs-cli/src/config.ts
Labels: enhancement

#1627 docs(@cubejs-docs/site): change heading font and improve styling
  docs/static/styles/_code.scss
  docs/static/styles/_layout.scss
  docs/static/styles/_mixins.scss
  docs/static/styles/_tables.scss
  docs/static/styles/_typography.scss
  docs/static/styles/content.css
  docs/static/styles/index.module.scss
  docs/static/styles/prism.scss
Labels: docs

#1753 add dashboard-app folder to black list
  packages/cubejs-cli/src/deploy.ts
Labels: pr:community

#1746 docs: Extending Cube.js
  docs/content/Configuration/Extending-Cubejs.md
  docs/content/Configuration/Multitenancy-Setup.md
Labels: docs

#1511 examples(react-muze): Create a working MuzeJS+Cube+React example
  .github/workflows/examples.yml
  examples/react-muze/.env
  examples/react-muze/.gitignore
  examples/react-muze/README.md
  examples/react-muze/cube.js
  examples/react-muze/dashboard-app/.env.development
  examples/react-muze/dashboard-app/.env.production
  examples/react-muze/dashboard-app/.gitignore
  examples/react-muze/dashboard-app/README.md
  examples/react-muze/dashboard-app/config-overrides.js
  examples/react-muze/dashboard-app/package.json
  examples/react-muze/dashboard-app/public/favicon.ico
  examples/react-muze/dashboard-app/public/index.html
  examples/react-muze/dashboard-app/public/logo192.png
  examples/react-muze/dashboard-app/public/manifest.json
  examples/react-muze/dashboard-app/public/robots.txt
  examples/react-muze/dashboard-app/src/App.js
  examples/react-muze/dashboard-app/src/App.module.less
  examples/react-muze/dashboard-app/src/Header.js
  examples/react-muze/dashboard-app/src/Header.module.less
  examples/react-muze/dashboard-app/src/hooks/use-size.js
  examples/react-muze/dashboard-app/src/index.js
  examples/react-muze/dashboard-app/src/index.module.less
  examples/react-muze/dashboard-app/src/logo-cube.svg
  examples/react-muze/dashboard-app/src/logo-muze.svg
  examples/react-muze/dashboard-app/src/reportWebVitals.js
  examples/react-muze/docker-compose.yml
  examples/react-muze/package.json
  examples/react-muze/schema/Orders.js
  examples/react-muze/schema/ProductCategories.js
  examples/react-muze/schema/Products.js
  examples/react-muze/schema/Users.js
Labels: pr:community

#1772 examples: Fix resize issue in the MuzeJS sample
  examples/react-muze/dashboard-app/src/App.module.less
  examples/react-muze/dashboard-app/src/index.js
  examples/react-muze/dashboard-app/src/index.less
  examples/react-muze/dashboard-app/src/index.module.less
Labels: pr:community

#1759 Improve support for the binary data type in cubestore
  rust/Cargo.lock
  rust/cubestore/Cargo.toml
  rust/cubestore/src/lib.rs
  rust/cubestore/src/metastore/mod.rs
  rust/cubestore/src/mysql/mod.rs
  rust/cubestore/src/queryplanner/query_executor.rs
  rust/cubestore/src/sql/mod.rs
Labels: pr:community

#1805 docs(contributing): Replace legacy import for BaseDriver
  CONTRIBUTING.md
Labels: docs

#1626 docs(@cubejs-backend/docker): improve `README.md`
  packages/cubejs-docker/README.md
Labels: docs

#1801 docs: add warning to 'Subquery' page about self-referential dimensions/measures
  docs/content/Guides/Subquery.md
Labels: docs

#1715 docs: add 'Dynamic Schema Creation' page
  docs/content/Schema/Dynamic-Schema-Creation.md
  docs/content/Schema/schema-execution-environment.md
Labels: docs

#1819 docs: fix headings in 'Dynamic Schema Creation' page
  docs/content/Schema/Dynamic-Schema-Creation.md
Labels: docs

#1806 docs(contributing): Write about Docker, Cube.js Server
  CONTRIBUTING.md
Labels: docs

#1802 docs: add Healthcheck API endpoints to 'REST API' page
  docs/content/Cube.js-Backend/REST-API.md
Labels: docs

#1764 docs: Update Caching intro
  docs/content/Caching/Caching.md
Labels: docs

#1863 Update Dynamic-Schema-Creation.md
  docs/content/Schema/Dynamic-Schema-Creation.md
Labels: docs, pr:community

#1795 chore: remove obsolete examples
  packages/cubejs-server/examples/simple-mysql/index.js
  packages/cubejs-server/examples/simple-mysql/package.json
  packages/cubejs-server/examples/simple-mysql/schema/Customers.js
  packages/cubejs-server/examples/simple-mysql/yarn.lock
  packages/cubejs-server/examples/simple-postgres/index.js
  packages/cubejs-server/examples/simple-postgres/package.json
  packages/cubejs-server/examples/simple-postgres/schema/Customers.js
  packages/cubejs-server/examples/simple-postgres/yarn.lock
Labels: enhancement

#1861 docs(DEPRECATION.md): add v0.26 deprecation notices
  DEPRECATION.md
Labels: docs

#1874 docs: added link to CloudFormation template for VPC
  docs/content/Deployment/Deployment-Guide.md
Labels: pr:community

#1878 docs: add mention of `CUBEJS_PREAGGREGATIONS_SCHEMA` to Production Checklist
  docs/content/Deployment/Production-Checklist.md
Labels: docs

#1906 feat: Ability to specify dataSource from request
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/index.ts
  packages/cubejs-api-gateway/src/requestParser.ts
  packages/cubejs-server-core/src/core/DevServer.ts
  packages/cubejs-server-core/src/core/server.ts
Labels: enhancement

#1917 docs: formatting fixes for #1902
  docs/content/Caching/Caching.md
  docs/content/Cube.js-Frontend/Dashboard-App.md
  docs/content/Developer-Tools/CLI-Reference.md
Labels: bug, docs

#1905 docs(@cubejs-docs/site): add formatting instructions to `README.md`
  docs/README.md
Labels: docs

#1877 docs: add warning to `orchestratorOptions` in 'Configuration' page
  docs/content/Configuration/Config.md
Labels: docs

#1862 docs(cubestore): update `README.md`
  rust/README.md
Labels: docs

#1920 docs(configuration): Describe scheduledRefreshTimeZones, scheduledRef…
  docs/content/Configuration/Config.md
Labels: docs

#1923 docs(multitenancy): Add Warning about scheduledRefreshContexts
  docs/content/Configuration/Config.md
  docs/content/Configuration/Multitenancy-Setup.md
Labels: docs

#1926 chore(docs): Fix the image path on Developer Playground page
  docs/content/Developer-Tools/Developer-Playground.md
Labels: bug, docs

#1924 docs(@cubejs-docs/site): fix incorrect spelling of GitHub
  docs/src/components/Header/Desktop.tsx
Labels: docs

#1930 feat(cubestore): Rebase to datafusion 2021-01-27 version
  rust/Cargo.lock
  rust/cubestore/Cargo.toml
  rust/cubestore/src/queryplanner/query_executor.rs
  rust/cubestore/src/queryplanner/serialized_plan.rs
Labels: pr:community

#1921 feat: Warning on unconfigured scheduledRefreshContexts in multitenanc…
  packages/cubejs-server-core/src/core/server.ts
Labels: enhancement

#1938 fix(schema-compiler): Wrong dayOffset in refreshKey for not UTC computers
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/unit/BaseQueryTest.js
Labels: bug
