Repository cube-js/cube, pull requests merged in 2022-10, with the labels that each got.

#5402 examples: fix ksql demo dashboard
  examples/ksql/dashboard-app/src/components/Header.js
Labels: pr:community

#5397 fix(extensions): fix SELECT handling in the Funnels extensions
  packages/cubejs-schema-compiler/src/extensions/Funnels.ts
Labels: pr:community

#5418 examples: setup clichouse demo deployments
  .github/workflows/examples-publish.yml
  examples/building-an-open-source-data-stack-with-clickhouse-and-cube-workshop/dashboard-app-multi-tenancy/.netlify/state.json
  examples/building-an-open-source-data-stack-with-clickhouse-and-cube-workshop/dashboard-app-multiple-data-sources/.netlify/state.json
Labels: pr:community

#5407 fix(materialize-driver) schema inference
  packages/cubejs-materialize-driver/package.json
  packages/cubejs-materialize-driver/src/MaterializeDriver.ts
  yarn.lock
Labels: pr:community

#5372 fix: ISSUE-5371 DruidQuery timezone MINUTES fix
  packages/cubejs-druid-driver/src/DruidQuery.ts
  packages/cubejs-druid-driver/test/druid-query.test.ts
Labels: pr:community

#5454 docs(examples): add note on how to configure Redis URL in helm chart `README`
  examples/helm-charts/cubejs/README.md
Labels: pr:community, docs

#5297 docs(schema): document `unionWithSourceData` and `rollupLambda`
  docs/content/Caching/Lambda-Pre-Aggregations.mdx
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#5473 feat(cubestore): CC-1133 - add headers to telemetry request
  rust/cubestore/cubestore/src/telemetry/mod.rs
Labels: pr:community

#5474 Examples fix multitenancy workshop
  examples/multitenancy-workshop/dashboard-app/src/App.js
  examples/multitenancy-workshop/dashboard-app/yarn.lock
Labels: pr:community

#5475 examples: remove legacy logo from aws example
  examples/aws-web-analytics/analytics-dashboard/src/App.js
Labels: pr:community

#5513 examples: set default daterange to 2020, to show existing stats
  examples/web-analytics/dashboard-app/src/pages/ReportPage.js
Labels: pr:community

#5534 chore: rename Cube.js server to Cube API server
  packages/cubejs-server/src/server/container.ts
Labels: pr:community
