Repository cube-js/cube, pull requests merged in 2022-12, with the labels that each got.

#5699 docs: downgrade sitemap plugin to match gatsby version
  docs/package.json
  docs/yarn.lock
Labels: pr:community

#5698 docs: update search
  docs/.env.development
  docs/.env.production
  docs/package.json
  docs/src/@types/global.d.ts
  docs/src/Head.tsx
  docs/src/components/Header/Desktop.tsx
  docs/src/components/Search/index.tsx
  docs/static/styles/_layout.scss
  docs/static/styles/docsearch-custom.css
  docs/yarn.lock
Labels: pr:community, docs

#5668 docs(releases): add release notes for v0.31 to documentation
  docs/content/Release-Notes/0-31.mdx
Labels: docs

#5724 docs: sort release notes in descending order
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#5723 feat(cubejs-api-gateway): added endpoint to run sql query directly
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
Labels: pr:community

#5743 feat(api-gateway, server-core): Added dataSources list to extended meta
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#5476 docs(api): document Orchestrator API endpoints
  docs/content/API-Reference/REST-API.mdx
Labels: docs

#5784 Revert "feat(cubejs-api-gateway): added endpoint to run sql query directly"
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
Labels: pr:community

#5785 Revert "feat(api-gateway, server-core): Added dataSources list to extended meta"
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#3218 docs: use `gatsby-remark-prismjs` to run PrismJS at build time
  docs/content/API-Reference/GraphQL-API.mdx
  docs/content/API-Reference/Query-Format.md
  docs/content/Auth/AWS-Cognito.mdx
  docs/content/Auth/Auth0-Guide.mdx
  docs/content/Auth/Overview.mdx
  docs/content/Caching/Lambda-Pre-Aggregations.mdx
  docs/content/Caching/Overview.mdx
  docs/content/Configuration/Databases/AWS-Athena.mdx
  docs/content/Configuration/Databases/AWS-Redshift.mdx
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
  docs/content/Configuration/Databases/Google-BigQuery.mdx
  docs/content/Configuration/Databases/Postgres.mdx
  docs/content/Configuration/Databases/Snowflake.mdx
  docs/content/Configuration/Downstream/Deepnote.mdx
  docs/content/Configuration/Downstream/Hex.mdx
  docs/content/Configuration/Downstream/Metabase.mdx
  docs/content/Configuration/Downstream/Observable.mdx
  docs/content/Configuration/Downstream/PowerBI.md
  docs/content/Configuration/Downstream/Superset.mdx
  docs/content/Configuration/Downstream/Tableau.mdx
  docs/content/Examples-Tutorials-Recipes/Recipes/using-ssl-connections-to-data-source.md
  docs/content/Frontend-Integrations/Real-Time-Data-Fetch.md
  docs/content/Getting-Started/Getting-Started-Nodejs.md
  docs/content/SQL-API/Getting-Started.mdx
  docs/content/SQL-API/Joins.mdx
  docs/content/SQL-API/Overview.mdx
  docs/content/Schema/Reference/cube.mdx
  docs/gatsby-config.js
  docs/package.json
  docs/src/Head.tsx
  docs/static/scripts/prism.js
  docs/yarn.lock
Labels: docs

#5821 docs(faqs): create new FAQs section
  docs/content/FAQs/General.mdx
  docs/content/FAQs/Tips-and-Tricks.mdx
  docs/content/FAQs/Troubleshooting.mdx
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#5792 docs: increase header spacing
  docs/static/styles/_typography.scss
Labels: docs

#5822 chore: support for building the cube:latest image with local changes
  package.json
  packages/cubejs-docker/local.Dockerfile
  packages/cubejs-docker/package.json.local
Labels: pr:community

#5839 docs(api/rest): simplify pre-aggregation API examples
  docs/content/API-Reference/REST-API.mdx
Labels: docs

#5836 feat(@cubejs-client/core): expose shortTitle in series()
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/src/ResultSet.js
  packages/cubejs-client-core/src/tests/ResultSet.test.js
  packages/cubejs-client-core/src/tests/compare-date-range.test.js
Labels: pr:community

#4995 docs(frontend): update dashboard deploy instructions from deprecated Zeit to Vercel
  docs/content/Frontend-Integrations/Dashboard-App.md
Labels: pr:community, docs

#5860 fix(@cubejs-client/core): add missing Series.shortTitle typing
  packages/cubejs-client-core/index.d.ts
Labels: pr:community
