Repository cube-js/cube, pull requests merged in 2022-08, with the labels that each got.

#5005 feature (firebolt-driver) engine autostart
  docs/content/Configuration/Databases/Firebolt.mdx
  packages/cubejs-firebolt-driver/package.json
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
  packages/cubejs-firebolt-driver/test/autostart.test.ts
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  yarn.lock
Labels: pr:community, driver:firebolt

#5008 add --directory option to cubejs-cli
  packages/cubejs-cli/src/command/deploy.ts
Labels: pr:community

#4929 feat(drivers): Bootstraps CrateDB driver
  .github/actions/integration/crate.sh
  .github/workflows/push.yml
  packages/cubejs-crate-driver/.gitignore
  packages/cubejs-crate-driver/LICENSE
  packages/cubejs-crate-driver/README.md
  packages/cubejs-crate-driver/index.js
  packages/cubejs-crate-driver/package.json
  packages/cubejs-crate-driver/src/CrateDriver.ts
  packages/cubejs-crate-driver/src/index.ts
  packages/cubejs-crate-driver/test/CrateDriver.test.ts
  packages/cubejs-crate-driver/tsconfig.json
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-playground/src/img/db/crate.svg
  packages/cubejs-playground/src/pages/ConnectionWizard/ConnectionWizardPage.tsx
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
  packages/cubejs-schema-compiler/src/adapter/CrateQuery.js
  packages/cubejs-schema-compiler/src/adapter/QueryBuilder.js
  packages/cubejs-server-core/src/core/DriverDependencies.js
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-testing-shared/src/DriverTests.ts
  packages/cubejs-testing-shared/src/db/crate.ts
  packages/cubejs-testing-shared/src/db/index.ts
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/__snapshots__/smoke-crate.test.ts.snap
  packages/cubejs-testing/test/smoke-crate.test.ts
  tsconfig.json
  yarn.lock
Labels: pr:community

#5067 Fix a type inference failure
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#5083 fix(@cubejs-client/vue3): fix removeOffset warning (#5082)
  packages/cubejs-client-vue3/src/QueryBuilder.js
Labels: pr:community

#4774 docs(cloud): document final setup steps for VPC peering
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC-AWS.mdx
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC-Azure.mdx
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC-GCP.mdx
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC.mdx
  docs/content/Cube-Cloud/Configuration/VPC/aws.svg
  docs/content/Cube-Cloud/Configuration/VPC/azure.svg
  docs/content/Cube-Cloud/Configuration/VPC/gcp.svg
Labels: docs

#5110 fix(cubejs): Fixes build_range_end for preaggregatons REST API
  .github/workflows/push.yml
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
  packages/cubejs-testing/birdbox-fixtures/smoke/cube.js
  packages/cubejs-testing/birdbox-fixtures/smoke/schema/Orders.js
  packages/cubejs-testing/birdbox-fixtures/smoke/schema/OrdersPA.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/smoke-lambda.test.ts
  packages/cubejs-testing/test/smoke-postgres.test.ts
Labels: pr:community

#5119 feat(@cubejs-client/vue3): support logical operator filters (#2950)
  packages/cubejs-client-vue3/src/QueryBuilder.js
  packages/cubejs-client-vue3/tests/unit/QueryBuilder.spec.js
Labels: pr:community

#5120 fix(@cubejs-client/vue3): avoid setQuery Vue3 warnings (#5084)
  packages/cubejs-client-vue3/src/QueryBuilder.js
Labels: pr:community

#5123 fix(cubejs): Fixes CubeStoreDriver user/password auth
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
Labels: pr:community

#5086 docs(config): document `CUBEJS_DB_DATABRICKS_AGENT` and `CUBEJS_DB_DATABRICKS_TOKEN`
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
Labels: docs

#5087 docs(config): document how to set maximum partitions for a pre-aggregation
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#5144 fix(databricks-jdbc): databricks user-agent
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#5140 docs(caching): document aggregating indexes functionality
  docs/content/Caching/Using-Pre-Aggregations.mdx
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#5138 docs(cloud): document Role-based Access Control for Cube Cloud
  docs/content/Cube-Cloud/Access Control.mdx
Labels: docs

#5130 feat(helm-charts): add values to configure service account
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/_helpers.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/master/serviceaccount.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/serviceaccount.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/_helpers.tpl
  examples/helm-charts/cubestore/templates/router/serviceaccount.yaml
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/serviceaccount.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, examples, helm charts

#5152 fix(databricks-jdbc): databricks multiple downloads of jar
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-databricks-jdbc-driver/bin/installer.js
  packages/cubejs-databricks-jdbc-driver/bin/post-install
  packages/cubejs-databricks-jdbc-driver/bin/post-install.js
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
  packages/cubejs-databricks-jdbc-driver/src/installer.ts
  packages/cubejs-databricks-jdbc-driver/src/post-install.ts
Labels: pr:community

#5158 docs: replace deprecated node-sass with sass and move from GA to GTM
  docs/gatsby-config.js
  docs/package.json
  docs/yarn.lock
Labels: pr:community

#5145 docs(deployment): fix faulty Cube Store worker configuration
  docs/content/Deployment/Platform-Docker.mdx
Labels: docs

#2652 docs(cloud): add Custom Domains page
  docs/content/Cube-Cloud/Configuration/Custom-Domains.mdx
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC.mdx
Labels: docs
