Repository cube-js/cube, pull requests merged in 2022-07, with the labels that each got.

#4842 feat: dbt metric take into account table alias
  packages/cubejs-dbt-schema-extension/src/Dbt.ts
Labels: pr:community

#4740 fix(client-react): update useIsMounted hook to be compatible with React 18 StrictMode
  packages/cubejs-client-react/src/hooks/is-mounted.js
Labels: pr:community, client:react, logged, reviewed

#4829 docs(schema): document all valid granularity values
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#4828 docs(config): document `CUBEJS_DB_QUERY_TIMEOUT`
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#4830 docs(reference): fix CURL POST example in REST API reference
  docs/content/API-Reference/REST-API.mdx
Labels: docs

#4827 docs(schema): document `allowNonStrictDateRangeMatch`
  docs/content/Configuration/Downstream/Superset.mdx
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#4817 feat: adds node selector and tolerations
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, examples, helm charts

#4893 docs: fix card grids
  docs/src/@types/util.d.ts
  docs/src/components/Grid/Grid.tsx
  docs/src/components/Grid/GridItem.tsx
  docs/static/styles/_grids.scss
  docs/static/styles/_layout.scss
  docs/static/styles/index.module.scss
  docs/static/styles/variables.scss
Labels: docs

#4541 Refactor Rollup config, fix warnings, and support more file extensions
  rollup.config.js
Labels: pr:community

#4907 Edits PowerBI docs to fix typo
  docs/content/Configuration/Downstream/PowerBI.md
Labels: pr:community

#4938 feat(cubestore): Stores build_range_end in table metadata
  rust/cubestore/cubestore-sql-tests/src/tests.rs
  rust/cubestore/cubestore/src/metastore/mod.rs
  rust/cubestore/cubestore/src/metastore/table.rs
  rust/cubestore/cubestore/src/queryplanner/info_schema/info_schema_tables.rs
  rust/cubestore/cubestore/src/queryplanner/info_schema/system_tables.rs
  rust/cubestore/cubestore/src/queryplanner/mod.rs
  rust/cubestore/cubestore/src/queryplanner/planning.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  rust/cubestore/cubestore/src/store/compaction.rs
  rust/cubestore/cubestore/src/store/mod.rs
Labels: pr:community

#4958 docs(cloud): update Git icon for Getting Started with Git SSH page
  docs/content/Cube-Cloud/Getting-Started/git.svg
Labels: docs

#4999 fix(client-react): update hooks for React 18 StrictMode
  packages/cubejs-client-react/src/hooks/cube-query.js
  packages/cubejs-playground/src/hooks/is-mounted.ts
Labels: pr:community

#4952 docs(config): deprecate `dbType` and update examples
  DEPRECATION.md
  docs/content/Caching/Using-Pre-Aggregations.mdx
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Multitenancy-Setup.mdx
  docs/content/Schema/Reference/cube.mdx
Labels: docs

#4949 docs(sql): How to change security context for SQL API
  docs/content/API-Reference/SQL-API.mdx
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#4928 examples(helm-charts): Replacing wrong key Value with the correct one: Values
  examples/helm-charts/cubejs/templates/common-env.tpl
Labels: pr:community, examples, helm charts
