Repository cube-js/cube, pull requests merged in 2022-01, with the labels that each got.

#3822 docs(api): improve `renewQuery` documentation
  docs/content/API-Reference/Query-Format.md
Labels: docs

#3869 docs(config): improve documentation for `contextToOrchestratorId`
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Multitenancy-Setup.mdx
Labels: docs

#3872 docs(deployment): add note about Refresh Workers keeping `refreshKey` up-to-date
  docs/content/Deployment/Overview.mdx
Labels: docs

#3840 fix(cubejs-cli): use `process.cwd()` in `typegen` to resolve current project's `node_modules/`
  packages/cubejs-cli/src/command/typegen.ts
Labels: bug, backend:cli

#3846 docs(cloud): add Release Notes
  docs/content/Cube-Cloud/Release-Notes/12-2021.mdx
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#3868 fix(schema-compiler): Handle `null` Values in Security Context
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
Labels: pr:community

#3880 Rust toolchain
  rust/cubesql/rust-toolchain
  rust/cubestore/rust-toolchain
Labels: pr:community

#3902 fix(cubesql): Alias binding problem with escapes (<expr> as '$1')
  rust/cubesql/cubesql/src/compile/context.rs
  rust/cubesql/cubesql/src/compile/mod.rs
Labels: bug, backend:cubesql

#3829 fix(cubesql): improve error messages
  packages/cubejs-backend-native/DEVELOPMENT.md
  rust/cubesql/DEVELOPMENT.md
  rust/cubesql/cubesql/src/compile/context.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/lib.rs
Labels: backend:cubesql

#3891 style: Make eslint no-unused-vars ignore unused args/vars starting with _
  packages/cubejs-linter/index.js
  packages/cubejs-query-orchestrator/src/driver/BaseDriver.js
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryQueue.js
  packages/cubejs-query-orchestrator/test/unit/BaseDriver.test.ts
  packages/cubejs-query-orchestrator/test/unit/PreAggregations.test.js
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#3890 feat: Surfaces lastUpdateAt for used preaggregation tables and lastRefreshTime for queries using preaggreagation tables
  packages/cubejs-query-orchestrator/src/driver/BaseDriver.js
  packages/cubejs-query-orchestrator/src/driver/driver.interface.ts
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-query-orchestrator/test/unit/PreAggregations.test.js
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#3957 fix: postgres driver add enum support
  packages/cubejs-postgres-driver/src/PostgresDriver.ts
  packages/cubejs-postgres-driver/test/PostgresDriver.test.ts
Labels: pr:community

#3967 chore: Renames AthenaDriver.js to AthenaDriver.ts
  packages/cubejs-athena-driver/package.json
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-athena-driver/src/index.d.ts
Labels: pr:community

#3972 fix(@cubejs-client/core): restore support for Angular by removing dependency on `@cubejs-client/dx`
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/package.json
Labels: bug, client:core

#3963 docs: improve server development instructions in CONTRIBUTION.md
  CONTRIBUTING.md
Labels: docs

#3871 docs(frontend): fix Frontend Integration API Reference generation
  docs-gen/src/resources/helpers/member-title.ts
  docs-gen/tasks/generate.js
  docs/content/Frontend-Integrations/@cubejs-client-core.md
  docs/content/Frontend-Integrations/@cubejs-client-react.md
  docs/content/Frontend-Integrations/@cubejs-client-ws-transport.md
  docs/netlify.toml
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-react/index.d.ts
  packages/cubejs-client-ws-transport/index.d.ts
Labels: docs

#3874 docs(schema): improve docs for using `buildRangeStart/End` with `refreshKey`
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#3980 [fix] versionEntryByStructureVersion
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
Labels: pr:community

#3979 style: Enable for..of loops in eslint
  packages/cubejs-backend-shared/package.json
  packages/cubejs-backend-shared/src/http-utils.ts
  packages/cubejs-backend-shared/src/node-check.ts
  packages/cubejs-backend-shared/test/iterators.test.ts
  packages/cubejs-linter/index.js
Labels: pr:community

#4006 chore(docs): fix typo
  packages/cubejs-client-react/index.d.ts
Labels: pr:community
