Repository cube-js/cube, pull requests merged in 2022-09, with the labels that each got.

#5063 docs(config): document `CUBEJS_BUILD_PRE_AGGREGATIONS`
  docs/content/Configuration/Environment-Variables-Reference.md
  docs/content/Deployment/Overview.mdx
Labels: docs

#5226 docs(cloud): add note to Custom Domains page about DNS timeouts
  docs/content/Cube-Cloud/Configuration/Custom-Domains.mdx
Labels: docs

#5208 fix: add deprecation of token in jdbc connection string
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#5231 fix(query-orchestrator): delete temp tables
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#5243 chore(firebolt-driver): refresh access token on expiration
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
Labels: pr:community

#5167 feat(docs): add azure peering documentation
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC-Azure.mdx
  docs/content/Cube-Cloud/Configuration/VPC/Connecting-with-a-VPC.mdx
Labels: docs

#5223 docs(config): document `initApp()` configuration property
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Extending-Cubejs.mdx
Labels: docs

#5225 docs(caching): document `EXPLAIN` and `EXPLAIN ANALYZE` for Cube Store
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: docs

#5245 examples: setup hasura remote schema example deployment
  .github/workflows/examples-publish.yml
  examples/hasura-remote-schema-with-cube/dashboard-app/.netlify/state.json
  examples/hasura-remote-schema-with-cube/dashboard-app/package.json
  examples/hasura-remote-schema-with-cube/dashboard-app/src/index.html
  examples/hasura-remote-schema-with-cube/dashboard-app/yarn.lock
Labels: pr:community

#5267 examples: skip cube deployment for hasura example
  .github/workflows/examples-publish.yml
Labels: pr:community

#5216 feature (firebolt-driver) pass driver version and client name
  packages/cubejs-firebolt-driver/package.json
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
  packages/cubejs-firebolt-driver/tsconfig.json
  yarn.lock
Labels: pr:community

#5286 fix(databricks-driver): remove env user agent
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#5273 fix(snowflake-driver): added agent
  packages/cubejs-snowflake-driver/package.json
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
  yarn.lock
Labels: pr:community

#5290 docs(config): remove `CUBEJS_DB_DATABRICKS_AGENT`
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
  docs/content/Configuration/Databases/Firebolt.mdx
Labels: docs

#5295 docs(api): add note to GraphQL API about lack of variable support
  docs/content/API-Reference/GraphQL-API.mdx
Labels: docs

#5132 Rename .d.ts files to .ts files in order to expose the types in the build
  packages/cubejs-api-gateway/src/types/auth.ts
  packages/cubejs-api-gateway/src/types/gateway.ts
  packages/cubejs-api-gateway/src/types/query.ts
  packages/cubejs-api-gateway/src/types/request.ts
  packages/cubejs-api-gateway/src/types/strings.ts
Labels: pr:community, backend:server

#5288 feat(cubejs-docker): Added images with cube user instead of root to cloud team
  .github/workflows/publish.yml
  packages/cubejs-docker/latest-debian-jdk.Dockerfile
Labels: pr:community

#5294 docs(config): update `driverFactory()` examples in Multitenancy
  docs/content/Configuration/Multitenancy-Setup.mdx
Labels: docs

#5224 docs(config): document `processSubscriptionsInterval` configuration option
  docs/content/Configuration/Config.mdx
Labels: docs

#5291 docs(config): make `CUBEJS_DB_DATABRICKS_TOKEN` required for Databricks driver
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
Labels: docs

#5301 docs(config): add warning about `FileRepository` only using files from a single directory
  docs/content/Configuration/Config.mdx
Labels: docs

#5304 docs(caching): add note about export bucket requiring `CREATE TABLE` permission
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: docs

#5300 docs(api): add pagination instructions to REST API reference
  docs/content/API-Reference/REST-API.mdx
Labels: docs

#5308 docs(config): add missing QuestDB link
  docs/content/Configuration/Databases/QuestDB.mdx
Labels: docs

#5312 docs(cloud): fix broken link in Developer Playground documentation
  docs/content/Cube-Cloud/Developer-Tools/Developer-Playground.md
Labels: pr:community, docs

#5318 examples: ksqldb deploy
  .github/workflows/examples-publish.yml
  examples/ksql/dashboard-app/.netlify/state.json
Labels: pr:community

#5332 docs(config): fix broken link to Database Connection guide
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#5324 feat(query-orchestrator): introduce unload without temp table
  packages/cubejs-base-driver/src/BaseDriver.ts
  packages/cubejs-base-driver/src/driver.interface.ts
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/PreAggregations.ts
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#5365 examples: enable apollo-federation example deploy
  .github/workflows/examples-publish.yml
  examples/apollo-federation-with-cube/dashboard-app/.netlify/state.json
Labels: pr:community

#5380 docs(sql): document more SQL functions and operators
  docs/content/SQL-API/SQL-Commands.mdx
  docs/content/SQL-API/SQL-Functions-and-Operators.mdx
Labels: docs
