Repository cube-js/cube, pull requests merged in 2022-06, with the labels that each got.

#4678 chore(jdbc-driver) testConnection method optimization
  packages/cubejs-jdbc-driver/src/JDBCDriver.js
Labels: pr:community

#4703 feat(databricks-jdbc): export bucket for azure via databricks api v2.0
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#4704 fix(databricks-jdbc) concurrency and garbage collection
  packages/cubejs-databricks-jdbc-driver/package.json
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#4713 fix(databricks-jdbc): concurrency improvements
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#4491 feat(helm-charts): Add imagePullSecrets in k8s manifest
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, helm charts

#4716 fix(databricks-jdbc): docs
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#4542 docs(config): add Databricks driver
  docs/content/Configuration/Connecting-to-the-Database.mdx
  docs/content/Configuration/Databases/Databricks-JDBC.md
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
  packages/cubejs-playground/src/img/db/databricks.svg
Labels: docs

#4283 docs(config): replace database environment variables in Environment Variables page with link to Database Connection guide
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#4123 docs(caching): fix pre-aggregation selection diagram
  docs/content/Caching/pre-agg-selection-flow.png
  docs/content/Schema/Reference/pre-aggregations.mdx
Labels: docs

#4737 fix(databricks-jdbc): decreasing timeouts between API calls
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#4748 fix(api-gateway): correct calculation of total if there is a query property offset
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-testing/test/__snapshots__/driver-postgres.test.ts.snap
  packages/cubejs-testing/test/driver-test-suite.ts
Labels: pr:community

#4754 fix(cubejs-docker): fix typos in dev.Dockerfile
  packages/cubejs-docker/dev.Dockerfile
Labels: pr:community, docker

#4122 docs(schema): add instructions on how to use `FILTER_PARAMS` with extended cubes
  docs/content/Schema/Advanced/Code-Reusability-Extending-Cubes.mdx
Labels: docs

#4724 docs(config): add documentation for enabling export bucket for Databricks
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
  docs/content/Configuration/Databases/Snowflake.mdx
Labels: docs

#4775 docs(caching): clarify that source database still requires write access when export bucket is used
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: docs

#3886 docs(config): improve Multitenancy documentation with respect to `contextToOrchestratorId()`
  docs/content/Configuration/Multitenancy-Setup.mdx
Labels: docs

#4379 feat(cubestore): Aggregating index
  rust/cubestore/cubestore-sql-tests/src/tests.rs
  rust/cubestore/cubestore/src/metastore/index.rs
  rust/cubestore/cubestore/src/metastore/mod.rs
  rust/cubestore/cubestore/src/metastore/table.rs
  rust/cubestore/cubestore/src/queryplanner/info_schema/system_indexes.rs
  rust/cubestore/cubestore/src/queryplanner/info_schema/system_tables.rs
  rust/cubestore/cubestore/src/queryplanner/mod.rs
  rust/cubestore/cubestore/src/queryplanner/planning.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  rust/cubestore/cubestore/src/sql/parser.rs
  rust/cubestore/cubestore/src/store/compaction.rs
  rust/cubestore/cubestore/src/store/mod.rs
  rust/cubestore/cubestore/src/table/parquet.rs
Labels: backend:cube-store, Roadmap: 2022 Q2

#4760 docs(config): improve multiple database-single schema multitenancy documentation
  docs/content/Configuration/Multitenancy-Setup.mdx
Labels: docs

#4821 docs(config): improve export bucket instructions for Databricks
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
Labels: docs

#4826 docs: More languages support survey
  docs/content/Schema/Getting-Started.mdx
Labels: docs
