Repository cube-js/cube, pull requests merged in 2022-02, with the labels that each got.

#4016 fix(@cubejs-backend/api-gateway): fix a type issue where queries did not properly support logical AND/OR operators
  packages/cubejs-api-gateway/src/interfaces.ts
Labels: pr:community

#4013 chore(examples): rename outdated term at heading and switch control label
  examples/external-rollups/dashboard-app/src/App.js
Labels: examples

#3974 [Fix] ngx cubejs.watch() not producing errors
  packages/cubejs-client-ngx/src/client.ts
Labels: pr:community

#4023 fix(cubesql): Ignore case sensitive search for usage of identifiers
  packages/cubejs-backend-native/Cargo.lock
  rust/cubesql/Cargo.lock
  rust/cubesql/cubesql/Cargo.toml
  rust/cubesql/cubesql/src/compile/mod.rs
Labels: bug, backend:cubesql

#4044 example(external-rollups): update heading and switch label
  examples/external-rollups/dashboard-app/src/App.js
Labels: examples

#3910 chore: add deprecation warning for non-Cube Store databases being used as an external database
  DEPRECATION.md
  packages/cubejs-server-core/src/core/server.ts
Labels: docs, backend:server

#4010 Issue/3324
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/integration/postgres/PostgresDBRunner.js
  packages/cubejs-schema-compiler/test/integration/postgres/sql-generation-logic.test.ts
  packages/cubejs-schema-compiler/test/unit/base-query.test.ts
  packages/cubejs-schema-compiler/test/unit/utils.ts
Labels: pr:community

#4059 docs(config): add `CUBEJS_DB_QUERY_TIMEOUT`
  docs/content/Configuration/Environment-Variables-Reference.md
Labels: docs

#4039 Athena driver: Typescript, stream, unload, integration & e2e tests
  packages/cubejs-athena-driver/.gitignore
  packages/cubejs-athena-driver/index.js
  packages/cubejs-athena-driver/package.json
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-athena-driver/src/index.d.ts
  packages/cubejs-athena-driver/src/index.ts
  packages/cubejs-athena-driver/test/AthenaDriver.test.ts
  packages/cubejs-athena-driver/tsconfig.json
  packages/cubejs-backend-shared/src/helpers.ts
  packages/cubejs-backend-shared/src/http-utils.ts
  packages/cubejs-backend-shared/test/helper.test.ts
  packages/cubejs-bigquery-driver/package.json
  packages/cubejs-bigquery-driver/test/BigQueryDriver.test.ts
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
  packages/cubejs-query-orchestrator/src/driver/driver.interface.ts
  packages/cubejs-testing/DEVELOPMENT.md
  packages/cubejs-testing/birdbox-fixtures/athena.yml
  packages/cubejs-testing/birdbox-fixtures/bigquery.yml
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/src/testing/DriverTests.ts
  packages/cubejs-testing/src/testing/index.ts
  packages/cubejs-testing/src/testing/query-test.abstract.ts
  packages/cubejs-testing/test/__snapshots__/athena.query.snapshot
  packages/cubejs-testing/test/__snapshots__/bigquery.query.snapshot
  packages/cubejs-testing/test/bin/cypress-birdbox.ts
  packages/cubejs-testing/test/birdbox-driver.test.ts
  packages/cubejs-testing/test/birdbox-postgresql-cubestore.test.ts
  packages/cubejs-testing/test/birdbox-postgresql.test.ts
  packages/cubejs-testing/test/cli-postgresql.test.ts
  packages/cubejs-testing/test/pre-aggregations-test-case.ts
  rust/cubestore/cubestore-sql-tests/data/csv.csv
  rust/cubestore/cubestore-sql-tests/data/csv_no_header.csv
  rust/cubestore/cubestore-sql-tests/src/tests.rs
  rust/cubestore/cubestore/src/import/mod.rs
  rust/cubestore/cubestore/src/metastore/mod.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  tsconfig.json
  yarn.lock
Labels: pr:community

#4070 fix: Accidental birdbox breakage.
  packages/cubejs-testing/src/birdbox.ts
Labels: pr:community

#4087 docs: Fix cypress testing recipe formatting
  packages/cubejs-testing/DEVELOPMENT.md
Labels: pr:community

#4097 feat: Unwinds CubeStore select worker panics to provide descriptive error messages
  packages/cubejs-cubestore-driver/package.json
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
  packages/cubejs-cubestore-driver/src/CubeStoreQuery.ts
  packages/cubejs-cubestore-driver/src/WebSocketConnection.ts
  packages/cubejs-testing/src/testing/DriverTests.ts
  rust/cubestore/cubestore-sql-tests/src/tests.rs
  rust/cubestore/cubestore/src/cluster/worker_pool.rs
  rust/cubestore/cubestore/src/lib.rs
  rust/cubestore/cubestore/src/queryplanner/mod.rs
  rust/cubestore/cubestore/src/queryplanner/panic.rs
  rust/cubestore/cubestore/src/queryplanner/planning.rs
  rust/cubestore/cubestore/src/queryplanner/pretty_printers.rs
  rust/cubestore/cubestore/src/queryplanner/serialized_plan.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  rust/cubestore/cubestore/src/sql/parser.rs
  rust/cubestore/cubestore/src/util/catch_unwind.rs
  rust/cubestore/cubestore/src/util/mod.rs
Labels: pr:community

#4098 fix(helm-charts): correct s3 output location env variable
  examples/helm-charts/cubejs/templates/common-env.tpl
Labels: pr:community, examples

#4046 feat: Compact JSON array based response data format support
  package.json
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/graphql.ts
  packages/cubejs-api-gateway/src/helpers/prepareAnnotation.ts
  packages/cubejs-api-gateway/src/helpers/toConfigMap.ts
  packages/cubejs-api-gateway/src/helpers/transformData.ts
  packages/cubejs-api-gateway/src/helpers/transformValue.ts
  packages/cubejs-api-gateway/src/interfaces.ts
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-api-gateway/src/types/auth.d.ts
  packages/cubejs-api-gateway/src/types/enums.ts
  packages/cubejs-api-gateway/src/types/gateway.d.ts
  packages/cubejs-api-gateway/src/types/query.d.ts
  packages/cubejs-api-gateway/src/types/request.d.ts
  packages/cubejs-api-gateway/src/types/strings.d.ts
  packages/cubejs-api-gateway/test/auth.test.ts
  packages/cubejs-api-gateway/test/helpers/prepareAnnotation.test.ts
  packages/cubejs-api-gateway/test/helpers/transformData.test.ts
  packages/cubejs-api-gateway/test/helpers/transformValue.test.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-client-core/babel.config.js
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/package.json
  packages/cubejs-client-core/src/index.js
  packages/cubejs-client-core/src/index.test.js
  packages/cubejs-client-core/src/tests/ResultSet.test.js
  packages/cubejs-client-ws-transport/index.d.ts
  packages/cubejs-server-core/src/core/DevServer.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-postgresql.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/cli-postgresql.test.ts.snap
  packages/cubejs-testing/test/abstract-test-case.ts
  packages/cubejs-testing/test/birdbox-driver.test.ts
  yarn.lock
Labels: pr:community

#4126 chore(cubestore): Fixes enterprise csv tests
  rust/cubestore/Cargo.lock
  rust/cubestore/cubestore-sql-tests/Cargo.toml
  rust/cubestore/cubestore-sql-tests/data/csv.csv
  rust/cubestore/cubestore-sql-tests/data/csv_no_header.csv
  rust/cubestore/cubestore-sql-tests/src/files.rs
  rust/cubestore/cubestore-sql-tests/src/lib.rs
  rust/cubestore/cubestore-sql-tests/src/tests.rs
  rust/cubestore/cubestore/src/queryplanner/panic.rs
Labels: pr:community

#4130 chore(testing): Updates postgres tests to use csv instead of postgres dump
  packages/cubejs-testing/birdbox-fixtures/postgresql/scripts/load-pre-aggregations.sh
  packages/cubejs-testing/birdbox-fixtures/postgresql/scripts/load.sh
  packages/cubejs-testing/birdbox-fixtures/postgresql/scripts/postgres-load-events.sh
  packages/cubejs-testing/src/testing/DriverTests.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-postgresql-cubestore.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/birdbox-postgresql.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/cli-postgresql.test.ts.snap
  packages/cubejs-testing/test/bin/utils.ts
  packages/cubejs-testing/test/birdbox-postgresql-cubestore.test.ts
  packages/cubejs-testing/test/birdbox-postgresql.test.ts
  packages/cubejs-testing/test/cli-postgresql.test.ts
Labels: pr:community

#4096 feat(packages): add QuestDB driver
  docs/content/Configuration/Connecting-to-the-Database.mdx
  docs/content/Configuration/Databases/QuestDB.mdx
  packages/cubejs-cli/src/command/create.ts
  packages/cubejs-docker/dev-alpine.Dockerfile
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-docker/package.json
  packages/cubejs-playground/src/img/db/questdb.svg
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
  packages/cubejs-query-orchestrator/src/driver/BaseDriver.js
  packages/cubejs-questdb-driver/.gitignore
  packages/cubejs-questdb-driver/LICENSE
  packages/cubejs-questdb-driver/README.md
  packages/cubejs-questdb-driver/index.js
  packages/cubejs-questdb-driver/package.json
  packages/cubejs-questdb-driver/src/QuestDriver.ts
  packages/cubejs-questdb-driver/src/QuestQuery.ts
  packages/cubejs-questdb-driver/src/index.ts
  packages/cubejs-questdb-driver/test/QuestDriver.test.ts
  packages/cubejs-questdb-driver/test/QuestQuery.test.ts
  packages/cubejs-questdb-driver/tsconfig.json
  packages/cubejs-server-core/src/core/DriverDependencies.js
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-testing/src/db/index.ts
  packages/cubejs-testing/src/db/questdb.ts
  tsconfig.json
  yarn.lock
Labels: pr:community
