Repository cube-js/cube, pull requests merged in 2022-05, with the labels that each got.

#4371 feat(cubejs): rollupJoin between multiple databases
  .github/workflows/push.yml
  examples/recipes/joining-multiple-databases-data/.env
  examples/recipes/joining-multiple-databases-data/.gitignore
  examples/recipes/joining-multiple-databases-data/README.md
  examples/recipes/joining-multiple-databases-data/cube.js
  examples/recipes/joining-multiple-databases-data/package.json
  examples/recipes/joining-multiple-databases-data/schema/Products.js
  examples/recipes/joining-multiple-databases-data/schema/Suppliers.js
  examples/recipes/joining-multiple-databases-data/yarn.lock
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/src/adapter/PreAggregations.js
  packages/cubejs-schema-compiler/src/adapter/QueryBuilder.js
  packages/cubejs-schema-compiler/src/adapter/QueryFactory.ts
  packages/cubejs-schema-compiler/src/adapter/index.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-testing/birdbox-fixtures/multidb.yml
  packages/cubejs-testing/birdbox-fixtures/multidb/cube.js
  packages/cubejs-testing/birdbox-fixtures/multidb/schema/Products.js
  packages/cubejs-testing/birdbox-fixtures/multidb/schema/Suppliers.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-multidb.test.ts.snap
  packages/cubejs-testing/test/birdbox-multidb.test.ts
Labels: backend:cube-store, backend:pre-aggregations

#4477 GraphQL: Make dimensions and measures nullable fields.
  packages/cubejs-api-gateway/src/graphql.ts
Labels: pr:community

#4420 feat: persistence access mode
  examples/helm-charts/cubestore/README.md
  examples/helm-charts/cubestore/templates/pvc.yaml
  examples/helm-charts/cubestore/values.yaml
Labels: pr:community, examples, helm charts

#4467 chore: extend meta response for catalog
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/helpers/transformMetaExtended.ts
  packages/cubejs-api-gateway/test/helpers/transformMetaExtended.test.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#4501 chore(schema): rollupJoin.scheduledRefresh can only be false
  packages/cubejs-schema-compiler/src/compiler/CubeSymbols.js
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.js
  packages/cubejs-schema-compiler/test/unit/cube-validator.test.ts
  packages/cubejs-schema-compiler/test/unit/pre-aggregations.test.ts
  packages/cubejs-server-core/test/unit/RefreshScheduler.test.ts
Labels: pr:community

#4485 chore(testing) Fix e2e release tests
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-postgresql-cubestore.test.ts.snap
  packages/cubejs-testing/test/cli-postgresql-pre-aggregations.test.ts
  packages/cubejs-testing/test/cli-postgresql.test.ts
Labels: pr:community

#4507 chore(cubestore):fix workers config for cluster tests
  rust/cubestore/Cargo.lock
  rust/cubestore/cubestore-sql-tests/tests/cluster.rs
Labels: pr:community

#4508 Add redirects to angular, realtime dashboard, and multi-tenant guides
  guides/angular-dashboard/redirects.txt
  guides/d3-dashboard/README.md
  guides/material-ui-dashboard/README.md
  guides/multi-tenant-analytics/data/SiteConfig.js
  guides/multi-tenant-analytics/redirects.txt
  guides/real-time-dashboard/redirects.txt
  guides/web-analytics/README.md
Labels: pr:community

#4511 fix(drivers): Fixes error when data result is empty for AthenaDriver
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-athena-driver/test/AthenaDriver.test.ts
  packages/cubejs-testing-shared/src/DriverTests.ts
Labels: pr:community

#4523 guides: add redirects to the relevant blog-posts
  guides/mapbox/redirects.txt
  guides/material-ui-dashboard/redirects.txt
  guides/web-analytics/redirects.txt
Labels: pr:community

#4526 fix(materialize-driver): commit cursor on release
  packages/cubejs-materialize-driver/src/MaterializeDriver.ts
  packages/cubejs-testing/birdbox-fixtures/materialize/schema/Orders.js
  packages/cubejs-testing/test/__snapshots__/smoke-materialize.test.ts.snap
  packages/cubejs-testing/test/smoke-materialize.test.ts
Labels: pr:community

#4530 guides: add redirects to the relevant blog-posts
  guides/d3-dashboard/redirects.txt
  guides/react-dashboard/redirects.txt
Labels: pr:community

#4543 chore(cubejs-api-gateway): add fields to cube object from extended meta response
  packages/cubejs-api-gateway/src/helpers/transformMetaExtended.ts
Labels: pr:community

#4545 chore(testing): Redshift smoke test
  .github/actions/integration/athena.sh
  .github/actions/integration/bigquery.sh
  packages/cubejs-testing/DEVELOPMENT.md
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-athena.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/birdbox-bigquery.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/smoke-athena.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/smoke-bigquery.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/smoke-redshift.test.ts.snap
  packages/cubejs-testing/test/bin/manual.sh
  packages/cubejs-testing/test/birdbox-athena.test.ts
  packages/cubejs-testing/test/birdbox-bigquery.test.ts
  packages/cubejs-testing/test/birdbox-driver.test.ts
  packages/cubejs-testing/test/smoke-athena.test.ts
  packages/cubejs-testing/test/smoke-bigquery.test.ts
  packages/cubejs-testing/test/smoke-materialize.test.ts
  packages/cubejs-testing/test/smoke-multidb.test.ts
  packages/cubejs-testing/test/smoke-questdb.test.ts
  packages/cubejs-testing/test/smoke-redshift.test.ts
  packages/cubejs-testing/test/smoke-tests.ts
Labels: pr:community

#4529 fix: refresh worker force queue reconcile logic
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-server-core/src/core/OrchestratorApi.ts
  packages/cubejs-server-core/src/core/RefreshScheduler.ts
Labels: pr:community

#4539 feat(extensions): Adds minio s3 region env to cubestore cloud storage
  docs/content/Configuration/Environment-Variables-Reference.md
  rust/cubestore/cubestore/src/remotefs/minio.rs
Labels: pr:community

#4422 feat: statefulset annotations
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
Labels: pr:community, examples

#4500 chore(cubestore): Remotefs Queue refactor
  rust/cubestore/cubestore/src/config/mod.rs
  rust/cubestore/cubestore/src/sql/mod.rs
Labels: backend:cube-store, Roadmap: 2022 Q2

#4546 feat(packages): add Firebolt driver
  docs/content/Configuration/Connecting-to-the-Database.mdx
  docs/content/Configuration/Databases/Firebolt.mdx
  packages/cubejs-cli/src/command/create.ts
  packages/cubejs-docker/dev-alpine.Dockerfile
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-docker/package.json
  packages/cubejs-firebolt-driver/.gitignore
  packages/cubejs-firebolt-driver/LICENSE
  packages/cubejs-firebolt-driver/README.md
  packages/cubejs-firebolt-driver/index.js
  packages/cubejs-firebolt-driver/package.json
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
  packages/cubejs-firebolt-driver/src/FireboltQuery.ts
  packages/cubejs-firebolt-driver/src/index.ts
  packages/cubejs-firebolt-driver/test/Firebolt.test.ts
  packages/cubejs-firebolt-driver/tsconfig.json
  packages/cubejs-playground/src/img/db/firebolt.svg
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
  packages/cubejs-server-core/src/core/DriverDependencies.js
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-testing/DEVELOPMENT.md
  packages/cubejs-testing/birdbox-fixtures/driver-test-data/CAST.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  packages/cubejs-testing/test/__snapshots__/driver-firebolt.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/smoke-firebolt.test.ts.snap
  packages/cubejs-testing/test/driver-firebolt.test.ts
  packages/cubejs-testing/test/smoke-firebolt.test.ts
  tsconfig.json
  yarn.lock
Labels: pr:community

#4509 Add iam_role arn to Redshift Unload
  docs/content/Configuration/Environment-Variables-Reference.md
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-redshift-driver/src/RedshiftDriver.ts
  packages/cubejs-testing/test/__snapshots__/smoke-redshift.test.ts.snap
  packages/cubejs-testing/test/smoke-redshift.test.ts
Labels: pr:community

#4598 examples(building-dashboard-supabase): update samples
  examples/supabase/.env
  examples/supabase/README.md
  examples/supabase/cube.js
  examples/supabase/dashboard-app/README.md
  examples/supabase/dashboard-app/package.json
  examples/supabase/dashboard-app/public/favicon.ico
  examples/supabase/dashboard-app/public/index.html
  examples/supabase/dashboard-app/public/logo192.png
  examples/supabase/dashboard-app/public/logo512.png
  examples/supabase/dashboard-app/public/manifest.json
  examples/supabase/dashboard-app/public/robots.txt
  examples/supabase/dashboard-app/src/App.css
  examples/supabase/dashboard-app/src/App.js
  examples/supabase/dashboard-app/src/App.test.js
  examples/supabase/dashboard-app/src/components/BarChart.js
  examples/supabase/dashboard-app/src/components/PieChart.js
  examples/supabase/dashboard-app/src/components/Table.js
  examples/supabase/dashboard-app/src/index.css
  examples/supabase/dashboard-app/src/index.js
  examples/supabase/dashboard-app/src/logo.svg
  examples/supabase/dashboard-app/src/reportWebVitals.js
  examples/supabase/dashboard-app/src/setupTests.js
  examples/supabase/docker-compose.yml
  examples/supabase/jwtGen.js
  examples/supabase/package.json
  examples/supabase/schema/Fraud.js
Labels: pr:community

#4584 Materialize schema materialization
  packages/cubejs-materialize-driver/src/MaterializeDriver.ts
  packages/cubejs-materialize-driver/test/MaterializeDriver.test.ts
Labels: pr:community

#4599 feat(cubestore): Storing aggregating index
  rust/cubestore/cubestore/src/metastore/mod.rs
  rust/cubestore/cubestore/src/metastore/table.rs
  rust/cubestore/cubestore/src/queryplanner/info_schema/system_tables.rs
  rust/cubestore/cubestore/src/queryplanner/mod.rs
  rust/cubestore/cubestore/src/queryplanner/planning.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  rust/cubestore/cubestore/src/store/compaction.rs
  rust/cubestore/cubestore/src/store/mod.rs
Labels: pr:community
