Repository cube-js/cube, pull requests merged in 2022-03, with the labels that each got.

#4163 minor text edits to updated messaging
  README.md
  docs/content/Cube.js-Introduction.md
  docs/content/Frontend-Integrations/Introduction-angular.md
  docs/content/Frontend-Integrations/Introduction-react.md
  docs/content/Frontend-Integrations/Introduction-vue.md
  docs/content/Frontend-Integrations/Introduction.md
Labels: pr:community

#4162 Fix timestamp for quarter range in time series
  packages/cubejs-backend-shared/src/time.ts
  packages/cubejs-backend-shared/test/time.test.ts
Labels: pr:community

#4159 Fix the URL of dump db file
  examples/material-ui-dashboard/README.md
Labels: pr:community

#4157 fix(compiler): add strictness to booleans in definition
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.js
Labels: pr:community

#4170 chore(fix): Fixes CubestoreDriver CREATE TABLE with INDEX
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
  packages/cubejs-testing/birdbox-fixtures/postgresql/schema/OrdersPA.js
  packages/cubejs-testing/test/__snapshots__/athena.query.snapshot
  packages/cubejs-testing/test/__snapshots__/bigquery.query.snapshot
  packages/cubejs-testing/test/__snapshots__/birdbox-postgresql-pre-aggregations.test.ts.snap
  packages/cubejs-testing/test/birdbox-driver.test.ts
  rust/cubestore/cubestore-sql-tests/src/tests.rs
Labels: pr:community

#4175 fix "Cannot read property findIndex of undefined"
  packages/cubejs-api-gateway/src/graphql.ts
Labels: pr:community

#4178 Update Cube.js-Introduction.md
  docs/content/Cube.js-Introduction.md
Labels: pr:community

#4183 fix(athena): Fixes export bucket location. Fixes column order.
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-query-orchestrator/src/driver/driver.interface.ts
  packages/cubejs-query-orchestrator/src/driver/utils.ts
  packages/cubejs-testing/DEVELOPMENT.md
  packages/cubejs-testing/birdbox-fixtures/postgresql/schema/OrdersPA.js
  packages/cubejs-testing/test/__snapshots__/athena.query.snapshot
  packages/cubejs-testing/test/__snapshots__/bigquery.query.snapshot
  packages/cubejs-testing/test/birdbox-driver.test.ts
Labels: pr:community

#4196 chore(testing): Splits e2e tests from @cubejs-backend/testing-shared
  packages/cubejs-athena-driver/package.json
  packages/cubejs-athena-driver/test/AthenaDriver.test.ts
  packages/cubejs-bigquery-driver/package.json
  packages/cubejs-bigquery-driver/test/BigQueryDriver.test.ts
  packages/cubejs-cubestore-driver/package.json
  packages/cubejs-cubestore-driver/test/CubeStoreQuery.test.ts
  packages/cubejs-docker/dev-alpine.Dockerfile
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-mysql-driver/package.json
  packages/cubejs-mysql-driver/test/MySqlDriver.test.ts
  packages/cubejs-mysql-driver/test/MySqlDriverPool.disabled.ts
  packages/cubejs-postgres-driver/package.json
  packages/cubejs-postgres-driver/test/PostgresDriver.test.ts
  packages/cubejs-questdb-driver/package.json
  packages/cubejs-questdb-driver/test/QuestDriver.test.ts
  packages/cubejs-testing-shared/.gitignore
  packages/cubejs-testing-shared/LICENSE
  packages/cubejs-testing-shared/README.md
  packages/cubejs-testing-shared/package.json
  packages/cubejs-testing-shared/src/DriverTests.ts
  packages/cubejs-testing-shared/src/db/cubestore.ts
  packages/cubejs-testing-shared/src/db/db-runner.abstract.ts
  packages/cubejs-testing-shared/src/db/index.ts
  packages/cubejs-testing-shared/src/db/mysql.ts
  packages/cubejs-testing-shared/src/db/postgres.ts
  packages/cubejs-testing-shared/src/db/questdb.ts
  packages/cubejs-testing-shared/src/index.ts
  packages/cubejs-testing-shared/src/query-test.abstract.ts
  packages/cubejs-testing-shared/src/utils.ts
  packages/cubejs-testing-shared/tsconfig.json
  packages/cubejs-testing/birdbox-fixtures/athena.yml
  packages/cubejs-testing/birdbox-fixtures/bigquery.yml
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/src/index.ts
  tsconfig.json
  yarn.lock
Labels: pr:community

#4192 docs: fix wrong env variables for sqlAPI
  docs/content/API-Reference/SQL-API.mdx
  docs/content/Configuration/Config.mdx
  docs/content/Examples-Tutorials-Recipes/Recipes/using-apache-superset-with-cube-sql.mdx
Labels: pr:community, docs

#4191 fix(helm-charts): add missing config for sqlAPI
  examples/helm-charts/cubejs/Chart.yaml
  examples/helm-charts/cubejs/README.md
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/master/service.yaml
  examples/helm-charts/cubejs/values.yaml
  examples/helm-charts/cubestore/Chart.yaml
Labels: pr:community, examples

#4203 feat(cubesql): Support SHOW processlist
  packages/cubejs-backend-native/Cargo.lock
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__show_processlist.snap
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__show_warnings.snap
Labels: backend:cubesql

#4181 chore: add basic E2E tests for QuestDB
  .github/workflows/push.yml
  packages/cubejs-questdb-driver/src/QuestQuery.ts
  packages/cubejs-testing-shared/src/db/questdb.ts
  packages/cubejs-testing/birdbox-fixtures/questdb.yml
  packages/cubejs-testing/birdbox-fixtures/questdb/schema/Events.js
  packages/cubejs-testing/birdbox-fixtures/questdb/schema/Orders.js
  packages/cubejs-testing/birdbox-fixtures/questdb/scripts/questdb-load-events.sh
  packages/cubejs-testing/package.json
  packages/cubejs-testing/test/__snapshots__/birdbox-questdb.test.ts.snap
  packages/cubejs-testing/test/birdbox-questdb.test.ts
  packages/cubejs-testing/test/driver-test-case.ts
Labels: pr:community

#4197 docs: Downstream tools
  README.md
  docs/content/Configuration/Connecting-to-Downstream-Tools.mdx
  docs/content/Configuration/Connecting-to-the-Database.mdx
  docs/content/Configuration/Downstream/Hex.md
  docs/content/Configuration/Downstream/Jupyter.md
  docs/content/Configuration/Downstream/Streamlit.md
  docs/content/Configuration/Downstream/Superset.md
  docs/content/Configuration/Downstream/hex.png
  docs/content/Configuration/Downstream/streamlit.png
  docs/content/Cube.js-Introduction.md
  docs/content/cube-logo.png
  docs/content/cube-scheme.png
  docs/src/pages/index.tsx
  docs/static/icons/angular.svg
  docs/static/icons/graphql.svg
  docs/static/icons/hex.svg
  docs/static/icons/jupiter.svg
  docs/static/icons/react.svg
  docs/static/icons/rest.svg
  docs/static/icons/sql.svg
  docs/static/icons/streamlit.svg
  docs/static/icons/superset.svg
  docs/static/icons/vue.svg
  docs/static/scripts/prism.js
Labels: docs

#4215 feat(cubesql): Support meta layer and dialect for Postgres service
  rust/cubesql/cubesql/src/compile/engine/information_schema/mod.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/collations.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/columns.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/key_column_usage.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/mod.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/processlist.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/referential_constraints.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/schemata.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/statistics.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/tables.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/mysql/variables.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/postgres/columns.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/postgres/mod.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/postgres/pg_tables.rs
  rust/cubesql/cubesql/src/compile/engine/information_schema/postgres/tables.rs
  rust/cubesql/cubesql/src/compile/engine/provider.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/parser.rs
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__information_schema_columns_mysql.snap
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__information_schema_columns_postgres.snap
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__information_schema_tables_mysql.snap
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__information_schema_tables_postgres.snap
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__pgcatalog_pgtables_postgres.snap
  rust/cubesql/cubesql/src/mysql/service.rs
  rust/cubesql/cubesql/src/mysql/session.rs
  rust/cubesql/cubesql/src/mysql/session_manager.rs
Labels: pr:community

#4187 Update example layout
  examples/drill-downs/dashboard-app/.env.development
  examples/drill-downs/dashboard-app/.gitignore
  examples/drill-downs/dashboard-app/package.json
  examples/drill-downs/dashboard-app/public/assets/favicon-16x16.png
  examples/drill-downs/dashboard-app/public/assets/favicon-32x32.png
  examples/drill-downs/dashboard-app/public/assets/favicon.ico
  examples/drill-downs/dashboard-app/public/assets/logo.svg
  examples/drill-downs/dashboard-app/public/index.html
  examples/drill-downs/dashboard-app/public/js/feedback.js
  examples/drill-downs/dashboard-app/public/js/index.js
  examples/drill-downs/dashboard-app/public/js/menu.js
  examples/drill-downs/dashboard-app/public/js/tracking.js
  examples/drill-downs/dashboard-app/public/logo192.png
  examples/drill-downs/dashboard-app/public/logo512.png
  examples/drill-downs/dashboard-app/public/manifest.json
  examples/drill-downs/dashboard-app/public/robots.txt
  examples/drill-downs/dashboard-app/public/style.css
  examples/drill-downs/dashboard-app/src/App.css
  examples/drill-downs/dashboard-app/src/App.js
  examples/drill-downs/dashboard-app/src/App.test.js
  examples/drill-downs/dashboard-app/src/body.css
  examples/drill-downs/dashboard-app/src/components/Header.js
  examples/drill-downs/dashboard-app/src/components/cubejs-logo-white.svg
  examples/drill-downs/dashboard-app/src/index.css
  examples/drill-downs/dashboard-app/src/index.js
  examples/drill-downs/dashboard-app/src/serviceWorker.js
  examples/drill-downs/dashboard-app/src/setupTests.js
  examples/drill-downs/dashboard-app/yarn.lock
Labels: pr:community

#4218 Examples update layout
  examples/drill-downs/dashboard-app/public/index.html
Labels: pr:community

#4143 chore(testing): Wires cloud db integration & e2e tests into github workflows.
  .github/actions/integration/athena.sh
  .github/actions/integration/bigquery.sh
  .github/workflows/cloud.yml
  packages/cubejs-athena-driver/package.json
  packages/cubejs-athena-driver/test/AthenaDriver.test.ts
  packages/cubejs-backend-shared/package.json
  packages/cubejs-backend-shared/src/helpers.ts
  packages/cubejs-bigquery-driver/package.json
  packages/cubejs-bigquery-driver/test/BigQueryDriver.test.ts
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-testing-shared/src/DriverTests.ts
  packages/cubejs-testing/DEVELOPMENT.md
  packages/cubejs-testing/birdbox-fixtures/athena.yml
  packages/cubejs-testing/birdbox-fixtures/bigquery.yml
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/__snapshots__/birdbox-athena.test.ts.snap
  packages/cubejs-testing/test/__snapshots__/birdbox-bigquery.test.ts.snap
  packages/cubejs-testing/test/birdbox-athena.test.ts
  packages/cubejs-testing/test/birdbox-bigquery.test.ts
  packages/cubejs-testing/test/birdbox-driver.test.ts
  yarn.lock
Labels: pr:community

#4217 feat(cubejs-api-gateway): add dbType to load req success event
  packages/cubejs-api-gateway/src/gateway.ts
Labels: pr:community

#4235 chore(server-core): Allow to configure DataSchemaCompiler's allowNodeRequire option via CubejsServer
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#4240 docs: explain import from parent dirs with example
  docs/content/Schema/Advanced/Code-Reusability-Export-and-Import.md
Labels: pr:community

#4241 WIP: Batch size
  examples/cubestore-benchmark/README.md
  examples/cubestore-benchmark/cubejs-cubestore/cube.js
  examples/cubestore-benchmark/cubejs-cubestore/docker-compose.yml
  examples/cubestore-benchmark/cubejs-postgres/cube.js
  examples/cubestore-benchmark/cubejs-postgres/docker-compose.yml
  examples/cubestore-benchmark/loadtest/.env
  examples/cubestore-benchmark/loadtest/package.json
  packages/cubejs-testing/DEVELOPMENT.md
  yarn.lock
Labels: pr:community

#4259 chore(cubestore): Use config.injector() to configure WorkerServices
  rust/cubestore/cubestore-sql-tests/tests/cluster.rs
  rust/cubestore/cubestore-sql-tests/tests/multi_process.rs
  rust/cubestore/cubestore/src/bin/cubestored.rs
  rust/cubestore/cubestore/src/cluster/mod.rs
  rust/cubestore/cubestore/src/cluster/worker_pool.rs
  rust/cubestore/cubestore/src/config/mod.rs
Labels: pr:community

#4232 chore(cubestore): Updates cubestore to use (async_)try_catch_unwind from arrow-datafusion.
  rust/cubestore/Cargo.lock
  rust/cubestore/cubestore/src/cluster/worker_pool.rs
  rust/cubestore/cubestore/src/lib.rs
  rust/cubestore/cubestore/src/sql/mod.rs
  rust/cubestore/cubestore/src/util/catch_unwind.rs
  rust/cubestore/cubestore/src/util/mod.rs
Labels: pr:community

#4265 chore(cubesql): Introduce cache for HttpTransport
  packages/cubejs-backend-native/src/transport.rs
  rust/cubesql/cubesql/src/compile/engine/df/scan.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/config/mod.rs
  rust/cubesql/cubesql/src/sql/mysql/service.rs
  rust/cubesql/cubesql/src/sql/postgres/protocol.rs
  rust/cubesql/cubesql/src/sql/postgres/shim.rs
  rust/cubesql/cubesql/src/transport/ctx.rs
  rust/cubesql/cubesql/src/transport/service.rs
Labels: backend:cubesql

#4272 examples(drill-downs): add DataDog browser logs
  examples/drill-downs/dashboard-app/package.json
  examples/drill-downs/dashboard-app/public/index.html
  examples/drill-downs/dashboard-app/yarn.lock
Labels: pr:community

#4267 refactor: replace deprecated String.prototype.substr()
  docs-gen/src/components/helpers.component.ts
  docs-gen/src/subthemes/docusaurus2/theme.ts
  examples/react-dashboard/dashboard-app/config/paths.js
  guides/angular-dashboard/data/SiteConfig.js
  guides/bigquery-public-datasets/data/SiteConfig.js
  guides/clickhouse-dashboard/data/SiteConfig.js
  guides/d3-dashboard/data/SiteConfig.js
  guides/mapbox/data/SiteConfig.js
  guides/material-ui-dashboard/data/SiteConfig.js
  guides/multi-tenant-analytics/data/SiteConfig.js
  guides/react-dashboard/data/SiteConfig.js
  guides/react-pivot-table/data/SiteConfig.js
  guides/real-time-dashboard/data/SiteConfig.js
  guides/web-analytics/data/SiteConfig.js
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-postgres-driver/src/PostgresDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/utils.ts
  packages/cubejs-server-core/src/core/DevServer.ts
  packages/cubejs-testing/cypress/integration/chart-renderers.spec.js
  rust/cubestore/js-wrapper/src/download.ts
Labels: pr:community

#4253 feat(schema-compiler): Allow filtering with or/and in FILTER_PARAMS.
  packages/cubejs-schema-compiler/src/adapter/BaseGroupFilter.js
  packages/cubejs-schema-compiler/test/unit/base-query.test.ts
Labels: pr:community

#2941 Picking up allowUngroupedWithoutPrimaryKey from env
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/src/core/server.ts
Labels: pr:community
