Repository cube-js/cube, pull requests merged in 2023-01, with the labels that each got.

#5916 docs(config): update MongoDB docs to show SSL is required with MongoBI
  docs/content/Configuration/Databases/MongoDB.mdx
Labels: docs

#5897 fix(client-core): Invalid type Meta: not correct type cubesMap, type not have a constructor
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#5598 Add CUBEJS_PG_SQL_PORT to cubejs helm chart env
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/master/service.yaml
  examples/helm-charts/cubejs/values.yaml
Labels: pr:community

#5680 Fix graphql non capital cube name issue
  packages/cubejs-api-gateway/src/graphql.ts
  packages/cubejs-api-gateway/test/graphql.test.ts
Labels: pr:community

#5786 feat(cubejs-api-gateway): added endpoint to run sql query directly
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
Labels: pr:community

#5920 Helm chart : export commons labels at pod level
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubestore/templates/router/statefulset.yaml
  examples/helm-charts/cubestore/templates/workers/statefulset.yaml
Labels: pr:community

#5835 fix(athena-driver): Add catalog config
  docs/content/Configuration/Databases/AWS-Athena.mdx
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-backend-shared/src/env.ts
Labels: pr:community, driver:athena

#5992 docs: sync selected code lang across all CodeTabs components and all opened docs pages
  docs/src/components/CodeTabs/CodeTabs.tsx
Labels: pr:community, docs

#5901 feat: Hooks for the context rejection mechanism
  packages/cubejs-api-gateway/src/SubscriptionServer.ts
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/interfaces.ts
  packages/cubejs-api-gateway/src/types/gateway.ts
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/package.json
  packages/cubejs-server-core/src/core/OptsHandler.ts
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-server-core/test/unit/index.test.ts
  packages/cubejs-server/src/server.ts
  packages/cubejs-server/src/server/container.ts
Labels: pr:community

#5985 feat(api-gateway): added result filter for sql-runner
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
Labels: pr:community

#6006 chore: shouldAcceptWs not bound
  packages/cubejs-server-core/src/core/server.ts
Labels: pr:community

#5991 help user to understand which parameter is missing
  packages/cubejs-athena-driver/src/AthenaDriver.ts
Labels: pr:community

#6016 Add possibility to define extra env in helm chart
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubejs/templates/master/deployment.yaml
  examples/helm-charts/cubejs/templates/workers/deployment.yaml
  examples/helm-charts/cubejs/values.yaml
Labels: pr:community

#5986 manage BQkeyFile and CubeStore telemetry
  examples/helm-charts/cubejs/templates/common-env.tpl
  examples/helm-charts/cubestore/templates/common-env.tpl
Labels: pr:community

#6020 docs(config): fix examples for multiple data source with environment variables
  docs/content/Configuration/Advanced/Multiple-Data-Sources.mdx
Labels: docs

#5915 docs(config): improve Databricks driver instructions for Docker
  docs/content/Configuration/Databases/Databricks-JDBC.mdx
Labels: docs

#5918 docs(frontend): document the `query` prop correctly
  packages/cubejs-client-react/index.d.ts
Labels: docs

#6021 docs(frontend): show how to unsubscribe from subscriptions
  docs/content/Frontend-Integrations/Real-Time-Data-Fetch.md
  packages/cubejs-client-core/index.d.ts
Labels: docs

#5971 Update link to Helm Chart example
  docs/content/Deployment/Overview.mdx
Labels: docs

#6027 docs(caching): fix Pre-Aggregation Selection flowchart
  docs/content/Caching/Getting-Started-Pre-Aggregations.md
  docs/content/Caching/pre-agg-selection-flow.png
Labels: docs

#6044 Feat: new dark scheme at README
  README.md
  docs/content/cube-scheme-dark.png
Labels: pr:community

#6045 docs: remove references to 'Headless BI'
  docs/content/Cube.js-Introduction.md
  docs/content/Frontend-Integrations/Introduction-angular.md
  docs/content/Frontend-Integrations/Introduction-react.md
  docs/content/Frontend-Integrations/Introduction-vue.md
  docs/content/Frontend-Integrations/Introduction.md
Labels: docs

#5789 feat(api-gateway, server-core): Added dataSources method
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#6058 chore: move ApiGateway creation into a factory method
  packages/cubejs-server-core/src/core/server.ts
Labels: pr:community

#6062 feat: new logo with background
  README.md
  docs/content/cube-logo-with-bg.png
Labels: pr:community
