Repository cube-js/cube, pull requests merged in 2023-09, with the labels that each got.

#7086 docs: Remove rewrite_queries
  docs/content/Guides/Style-Guide.mdx
  docs/content/Schema/Reference/cube.mdx
  docs/docs-new/pages/guides/style-guide.mdx
  docs/docs-new/pages/product/data-modeling/reference/cube.mdx
Labels: docs

#7089 docs: Add a note on data sources
  docs/docs-new/pages/product/configuration/data-sources.mdx
Labels: docs

#7091 docs: Add Slack
  docs/docs-new/theme.config.tsx
Labels: docs

#7096 docs: Describe the error message on primary keys
  docs/docs-new/pages/product/data-modeling/reference/dimensions.mdx
  docs/docs-new/pages/reference/errors.mdx
Labels: docs

#7098 docs: Clarify the database name in SQL API
  docs/docs-new/pages/product/apis-integrations/sql-api.mdx
Labels: docs

#7101 docs: Add a note on Refresh Scheduler Interval Error
  docs/docs-new/pages/reference/errors.mdx
Labels: docs

#7050 docs: add Getting Started with Databricks guide
  docs/docs-new/pages/product/getting-started/_meta.js
  docs/docs-new/pages/product/getting-started/databricks.mdx
  docs/docs-new/pages/product/getting-started/databricks/_meta.js
  docs/docs-new/pages/product/getting-started/databricks/connect-to-databricks.mdx
  docs/docs-new/pages/product/getting-started/databricks/create-data-model.mdx
  docs/docs-new/pages/product/getting-started/databricks/load-data.mdx
  docs/docs-new/pages/product/getting-started/databricks/query-from-bi.mdx
  docs/docs-new/pages/product/getting-started/databricks/query-from-react-app.mdx
Labels: docs

#7047 docs(reference): document `CUBESTORE_TELEMETRY`
  docs/docs-new/pages/reference/configuration/environment-variables.mdx
Labels: docs

#7046 docs(product): remove Alerts page
  docs/docs-new/pages/product/deployment/cloud/pricing.mdx
  docs/docs-new/pages/product/monitoring/_meta.js
  docs/docs-new/pages/product/monitoring/alerts.mdx
Labels: docs

#7060 docs(product): add guide for single sign-on with Google Workspace
  docs/docs-new/pages/product/workspace/sso.mdx
  docs/docs-new/pages/product/workspace/sso/_meta.js
  docs/docs-new/pages/product/workspace/sso/google-workspace.mdx
Labels: docs

#7121 docs: Update Tableau support in SLS
  docs/docs-new/pages/product/workspace/semantic-layer-sync.mdx
Labels: docs

#6965 fix(redshift-driver): resolves issue where redshift column order can …
  docs/content/Reference/Configuration/Environment-Variables-Reference.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-base-driver/src/BaseDriver.ts
Labels: pr:community, driver:redshift

#7058 feat: new methods for step-by-step db schema fetching
  packages/cubejs-athena-driver/src/AthenaDriver.ts
  packages/cubejs-base-driver/src/BaseDriver.ts
  packages/cubejs-base-driver/src/driver.interface.ts
  packages/cubejs-bigquery-driver/src/BigQueryDriver.ts
  packages/cubejs-clickhouse-driver/src/ClickHouseDriver.ts
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
  packages/cubejs-mssql-driver/driver/MSSqlDriver.js
  packages/cubejs-mysql-driver/src/MySqlDriver.ts
  packages/cubejs-postgres-driver/src/PostgresDriver.ts
  packages/cubejs-redshift-driver/src/RedshiftDriver.ts
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
  packages/cubejs-testing-drivers/src/tests/testIncrementalSchemaLoading.ts
  packages/cubejs-testing-drivers/src/tests/testQueries.ts
  packages/cubejs-testing-drivers/test/athena-full.test.ts
  packages/cubejs-testing-drivers/test/bigquery-full.test.ts
  packages/cubejs-testing-drivers/test/clickhouse-full.test.ts
  packages/cubejs-testing-drivers/test/databricks-jdbc-full.test.ts
  packages/cubejs-testing-drivers/test/mssql-full.test.ts
  packages/cubejs-testing-drivers/test/mysql-full.test.ts
  packages/cubejs-testing-drivers/test/postgres-full.test.ts
  packages/cubejs-testing-drivers/test/snowflake-full.test.ts
Labels: pr:community

#7041 Fix(CubeSQL) Add ability to filter dates inclusive of date being passed in w…
  examples/apollo-federation-with-cube/apollo-server-app/graphql/cube.graphql
  examples/apollo-federation-with-cube/apollo-server-app/graphql/supergraph.graphql
  packages/cubejs-api-gateway/src/graphql.ts
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-api-gateway/src/types/strings.ts
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-core/src/Meta.js
  packages/cubejs-schema-compiler/src/adapter/BaseFilter.js
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  rust/cubesql/cubesql/src/compile/legacy_compiler.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/filters.rs
Labels: pr:community

#7177 chore(testing-drivers): arrange tables creation/removal in incrementalSchemaLoading test
  packages/cubejs-testing-drivers/src/tests/testIncrementalSchemaLoading.ts
Labels: pr:community

#7168 fix(databricks-jdbc-driver): ensure default UID property is set
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
  packages/cubejs-databricks-jdbc-driver/src/helpers.ts
Labels: pr:community
