Repository cube-js/cube, pull requests merged in 2023-08, with the labels that each got.

#6955 docs(product): deprecate `running_total` measure type
  DEPRECATION.md
  docs/docs-new/pages/product/data-modeling/reference/dimensions.mdx
  docs/docs-new/pages/product/data-modeling/reference/measures.mdx
  docs/docs-new/pages/product/data-modeling/reference/types-and-formats.mdx
Labels: docs

#6957 docs(product): document CCU billing intervals during auto-suspension
  docs/docs-new/pages/product/deployment/cloud/auto-suspension.mdx
Labels: docs

#6978 docs(product): add note about HLL support for Postgres
  docs/docs-new/pages/product/configuration/data-sources/postgres.mdx
Labels: docs

#6971 docs: fix social graph description, Twitter handle and icons
  docs/docs-new/theme.config.tsx
Labels: docs

#6989 chore(examples): migrate Highcharts example to Vercel
  .github/workflows/examples-publish.yml
  examples/highcharts/dashboard-app/.netlify/state.json
  examples/highcharts/dashboard-app/vercel.json
Labels: examples

#6990 docs: Add video recording to Budgets
  docs/docs-new/pages/product/workspace/budgets.mdx
Labels: docs

#6991 chore(examples): migrate D3 example to Vercel
  examples/d3-dashboard/dashboard-app/.netlify/state.json
  examples/d3-dashboard/dashboard-app/netlify.toml
  examples/d3-dashboard/dashboard-app/vercel.json
Labels: examples

#6992 chore(examples): migrate Material UI example to Vercel
  .github/workflows/examples-publish.yml
  examples/material-ui-dashboard/dashboard-app/.netlify/state.json
  examples/material-ui-dashboard/dashboard-app/netlify.toml
  examples/material-ui-dashboard/dashboard-app/vercel.json
Labels: examples

#6994 chore(examples): migrate React Data Table example to Vercel
  .github/workflows/examples-publish.yml
  examples/react-data-table/dashboard-app/.netlify/state.json
  examples/react-data-table/dashboard-app/vercel.json
Labels: examples

#7002 docs: update banners
  docs/docs-new/pages/product/configuration/data-sources/snowflake.mdx
  docs/docs-new/pages/product/getting-started/cloud.mdx
  docs/docs-new/pages/product/getting-started/cloud/connect-to-snowflake.mdx
  docs/docs-new/pages/product/getting-started/cloud/create-data-model.mdx
  docs/docs-new/pages/product/getting-started/cloud/load-data.mdx
  docs/docs-new/pages/product/getting-started/cloud/query-from-bi.mdx
  docs/docs-new/pages/product/introduction.mdx
  docs/docs-new/pages/product/workspace/semantic-layer-sync.mdx
Labels: docs

#6979 docs(product): add API quotas to Limits page
  docs/docs-new/pages/product/deployment/cloud/limits.mdx
Labels: docs

#7000 docs(product): update Pricing page
  docs/docs-new/pages/product/deployment/cloud/pricing.mdx
Labels: docs

#7014 docs: fix broken links to data sources
  docs/docs-new/pages/product/configuration/data-sources.mdx
Labels: docs

#7013 docs: rename MSSQL to Microsoft SQL Server
  docs/docs-new/pages/product/configuration/data-sources/_meta.js
  docs/docs-new/pages/product/configuration/data-sources/ms-sql.mdx
Labels: docs

#7005 fix(cubejs-schema-compiler): cube level public should take precedence over dimension level public
  packages/cubejs-schema-compiler/src/compiler/CubeToMetaTransformer.js
Labels: pr:community

#7024 docs: fix reference documentation generation on CI
  docs/docs-new/package.json
  docs/docs-new/pages/reference/frontend/cubejs-client-core.mdx
  docs/docs-new/pages/reference/frontend/cubejs-client-react.mdx
  docs/docs-new/pages/reference/frontend/cubejs-client-ws-transport.mdx
  docs/docs-new/scripts/docs-gen.sh
Labels: docs

#7021 docs: re-enable page-level analytics
  docs/docs-new/pages/_app.tsx
Labels: docs

#7015 docs(product): add more examples to Jinja page
  docs/docs-new/pages/product/data-modeling/advanced/jinja.mdx
Labels: docs

#7025 docs: fix broken links from Semrush report
  docs/docs-new/components/mdx/AlertBox/AlertBox.tsx
  docs/docs-new/components/mdx/Banners/CommunitySupportedDriver.tsx
  docs/docs-new/components/mdx/index.ts
  docs/docs-new/pages/product/apis-integrations/rest-api/real-time-data-fetch.mdx
  docs/docs-new/pages/product/configuration/data-sources/_meta.js
  docs/docs-new/pages/product/configuration/data-sources/druid.mdx
  docs/docs-new/pages/product/configuration/data-sources/elasticsearch.mdx
  docs/docs-new/pages/product/configuration/data-sources/hive.mdx
  docs/docs-new/pages/product/configuration/data-sources/mongodb.mdx
  docs/docs-new/pages/product/configuration/data-sources/oracle.mdx
  docs/docs-new/pages/product/configuration/data-sources/sqlite.mdx
  docs/docs-new/pages/product/configuration/visualization-tools.mdx
  docs/docs-new/pages/product/configuration/visualization-tools/observable.mdx
  docs/docs-new/pages/product/data-modeling/fundamentals/concepts.mdx
  docs/docs-new/pages/product/getting-started/core/learn-more.mdx
  docs/docs-new/pages/product/monitoring/integrations.mdx
  packages/cubejs-client-core/index.d.ts
  packages/cubejs-client-react/index.d.ts
Labels: docs

#6969 docs(product): document DuckDB as a data source
  docs/docs-new/components/mdx/Grid/GridItem.module.css
  docs/docs-new/pages/product/configuration/data-sources.mdx
  docs/docs-new/pages/product/configuration/data-sources/_meta.js
  docs/docs-new/pages/product/configuration/data-sources/duckdb.mdx
  docs/docs-new/pages/reference/configuration/environment-variables.mdx
Labels: docs

#7030 docs: clarify that Vector is also suspended when deployment auto-suspends
  docs/docs-new/pages/product/monitoring/integrations.mdx
Labels: docs

#7020 docs: document private member/cube visibility when `CUBEJS_DEV_MODE=true`
  docs/docs-new/pages/product/configuration.mdx
  docs/docs-new/pages/reference/configuration/environment-variables.mdx
Labels: docs

#7045 docs(product): add banners for Getting Started with Cube Cloud event
  docs/docs-new/pages/product/getting-started/cloud.mdx
  docs/docs-new/pages/product/getting-started/cloud/connect-to-snowflake.mdx
  docs/docs-new/pages/product/getting-started/cloud/create-data-model.mdx
  docs/docs-new/pages/product/getting-started/cloud/load-data.mdx
  docs/docs-new/pages/product/getting-started/cloud/query-from-bi.mdx
  docs/docs-new/pages/product/getting-started/cloud/query-from-react-app.mdx
  docs/docs-new/pages/product/introduction.mdx
  docs/docs-new/pages/product/workspace/semantic-layer-sync.mdx
Labels: docs

#7061 docs(product): add brief documentation for Langchain support
  docs/docs-new/pages/product/configuration/visualization-tools.mdx
  docs/docs-new/pages/product/configuration/visualization-tools/langchain.mdx
  docs/docs-new/pages/product/introduction.mdx
Labels: docs

#7042 docs(reference): document the `total` property in response from `/v1/load`
  docs/docs-new/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/docs-new/pages/reference/rest-api.mdx
Labels: docs

#7004 docs(product): add configuration example for Row-Level Security
  docs/docs-new/pages/product/apis-integrations/sql-api/security.mdx
Labels: docs

#6352 fix(mongobi-driver): invalid configuration for mysql2 connection
  .github/actions/integration/mongobi.sh
  .github/actions/smoke.sh
  .github/workflows/push.yml
  packages/cubejs-mongobi-driver/package.json
  packages/cubejs-mongobi-driver/src/MongoBIDriver.ts
  packages/cubejs-mongobi-driver/test/Dockerfile
  packages/cubejs-mongobi-driver/test/MongoBiDriver.test.ts
  packages/cubejs-mongobi-driver/test/config.yaml
  packages/cubejs-mongobi-driver/test/docker-compose.yml
  packages/cubejs-mongobi-driver/test/mongo-init.js
  yarn.lock
Labels: pr:community

#6999 chore: add ignores: pnpm-lock.yaml
  .gitignore
Labels: pr:community

#6749 update code snippet to import class
  docs/content/APIs-Integrations/Orchestration-API/Dagster.mdx
Labels: pr:community
