Repository cube-js/cube, pull requests merged in 2023-12, with the labels that each got.

#7519 docs: Multiple updates and fixes
  docs/pages/guides/recipes.mdx
  docs/pages/product/configuration/data-sources/mysql.mdx
  docs/pages/product/data-modeling/syntax.mdx
  docs/pages/product/monitoring/_meta.js
  docs/pages/product/monitoring/alerts.mdx
  docs/pages/product/workspace/access-control.mdx
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  docs/pages/reference/data-model/types-and-formats.mdx
  docs/pages/reference/data-model/view.mdx
  docs/pages/reference/errors.mdx
  docs/pages/reference/frontend/cubejs-client-core.mdx
  docs/pages/reference/python/cube.mdx
  docs/redirects.json
Labels: docs

#7516 Update sql-api.mdx
  docs/pages/product/apis-integrations/sql-api.mdx
Labels: pr:community, docs

#7327 feat(schema-compiler): add meta property for cube definition
  docs/pages/reference/data-model/cube.mdx
  docs/pages/reference/data-model/view.mdx
  packages/cubejs-schema-compiler/src/compiler/CubeToMetaTransformer.js
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.ts
  packages/cubejs-schema-compiler/src/compiler/YamlCompiler.ts
  packages/cubejs-schema-compiler/test/unit/yaml-schema.test.ts
Labels: pr:community

#7539 docs: Performance Insights (first draft)
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/performance.mdx
Labels: docs

#7540 docs: Add SQL API + LDAP recipe
  docs/pages/guides/recipes.mdx
  docs/pages/guides/recipes/auth/_meta.js
  docs/pages/guides/recipes/auth/sql-api-ldap.mdx
  docs/pages/product/apis-integrations/sql-api/security.mdx
  docs/pages/reference/configuration/config.mdx
Labels: docs

#7541 docs: Add Explo to data sources
  docs/pages/product/configuration/visualization-tools.mdx
  docs/pages/product/configuration/visualization-tools/_meta.js
  docs/pages/product/configuration/visualization-tools/explo.mdx
Labels: docs

#7542 docs: Describe deployments and their resource consumption
  docs/pages/product/deployment/cloud.mdx
  docs/pages/product/deployment/cloud/_meta.js
  docs/pages/product/deployment/cloud/deployments.mdx
  docs/pages/product/deployment/core.mdx
  docs/pages/product/workspace/_meta.js
Labels: docs

#7527 chore(client-core): add meta field to cube type def
  packages/cubejs-client-core/index.d.ts
Labels: pr:community

#7557 docs: Add charts to Performance Insights
  docs/pages/product/deployment/cloud.mdx
  docs/pages/product/deployment/cloud/_meta.js
  docs/pages/product/deployment/cloud/deployment-types.mdx
  docs/pages/product/deployment/cloud/scalability.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/performance.mdx
  docs/pages/product/workspace/sso.mdx
Labels: docs

#7503 fix(cubejs-dremio-driver): Change TIMESTAMP to TO_TIMESTAMP
  packages/cubejs-dremio-driver/driver/DremioQuery.js
Labels: driver:dremio

#7493 docs: Add details on Designing for metrics
  docs/pages/guides/designing-metrics.mdx
Labels: pr:community

#7543 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: pr:community

#7572 Update environment-variables.mdx
  docs/pages/reference/configuration/environment-variables.mdx
Labels: pr:community

#7571 fix(@cubejs-client/ngx): set module to fesm2015
  packages/cubejs-client-ngx/package.json
Labels: pr:community
