Repository cube-js/cube, pull requests merged in 2023-05, with the labels that each got.

#6501 docs(modeling): document `public` property on cubes, views, dimensions, measures and segments
  docs/content/Auth/Security-Context.mdx
  docs/content/Configuration/Advanced/Multitenancy.mdx
  docs/content/Schema/Reference/cube.mdx
  docs/content/Schema/Reference/dimensions.mdx
  docs/content/Schema/Reference/measures.mdx
  docs/content/Schema/Reference/segments.mdx
  docs/content/Schema/Reference/view.mdx
Labels: docs

#6531 fix (firebolt-driver) cast boolean params
  packages/cubejs-firebolt-driver/src/FireboltQuery.ts
  packages/cubejs-firebolt-driver/test/FireboltQuery.test.ts
Labels: pr:community

#6533 docs: Style guide
  docs/content/Style-Guide/Overview.mdx
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#6541 docs: update direction of joins section
  docs/content/Schema/Fundamentals/Working-with-Joins.mdx
  docs/content/Schema/Reference/view.mdx
Labels: docs

#6521 Remove package.json dependency from DatabricksDriver.ts
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#6554 docs: fix search z-index
  docs/static/styles/docsearch-custom.css
Labels: pr:community

#6492 docs(deployment): create new page for auto-suspend functionality in Cube Cloud
  docs/content/Deployment/Cloud/Auto-Suspension.mdx
  docs/content/Deployment/Cloud/Deployment-Types.mdx
Labels: docs

#6552 docs(deployment): add note about Cube Store Workers scaling down when idle
  docs/content/Deployment/Cloud/Deployment-Types.mdx
Labels: docs

#6442 docs(workspace): document the "Pre-Aggregations" page in Cube Cloud
  docs/content/Workspace/Access Control.mdx
  docs/content/Workspace/Inspecting-Pre-aggregations.mdx
Labels: docs

#6446 docs(workspace): document Rollup Designer
  docs/content/Workspace/Developer-Playground.mdx
Labels: docs

#6557 docs(workspace): document Cube Cloud Single Sign-On with Okta
  docs/content/Workspace/Single-Sign-On/Okta.mdx
  docs/content/Workspace/Single-Sign-On/Overview.mdx
  docs/content/Workspace/Single-Sign-On/SAML.mdx
  docs/src/components/InlineButton/styles.module.scss
  docs/static/icons/okta.svg
Labels: docs

#6575 chore: deflate APM data when sent over plain http(s)
  packages/cubejs-server-core/src/core/agentCollect.ts
Labels: pr:community

#6576 docs: fix nextra config
  docs/docs-new/next.config.mjs
  docs/docs-new/theme.config.tsx
Labels: pr:community

#6579 docs: silenece vercel comments
  docs/docs-new/vercel.json
Labels: pr:community

#6581 docs(reference): fix links to development mode
  docs/content/Reference/Configuration/Config.mdx
Labels: docs

#6582 docs(deployment): add note about resume guarantees in Auto-Suspension page
  docs/content/Deployment/Cloud/Auto-Suspension.mdx
Labels: docs

#6599 docs: Add cost-saving guide
  docs/content/Guides/Data-Store-Cost-Saving-Guide.mdx
  docs/content/Guides/Style-Guide.mdx
  docs/src/components/Layout/MainMenu.tsx
  docs/src/rename-category.js
Labels: docs

#6606 docs: A one-liner about how Cube is packaged
  docs/content/Getting-Started/Overview.mdx
Labels: docs

#6566 docs(workspace): rename page to Query History
  docs/content/Workspace/Inspecting-Pre-aggregations.mdx
  docs/content/Workspace/Inspecting-Queries.mdx
Labels: docs

#6595 docs(workspace): reorder pages
  docs/content/Workspace/Access-Control.mdx
  docs/content/Workspace/Developer-Playground.mdx
  docs/content/Workspace/Development-API.mdx
  docs/content/Workspace/Inspecting-Pre-aggregations.mdx
  docs/content/Workspace/Inspecting-Queries.mdx
  docs/content/Workspace/Preferences.mdx
  docs/content/Workspace/SQL-Runner.mdx
  docs/content/Workspace/Single-Sign-On/Overview.mdx
Labels: docs

#6560 chore(cubejs-cli): update `docker` template to use YAML files by default
  packages/cubejs-cli/src/templates.ts
Labels: backend:cli

#6620 docs(modeling): add `format` and `type` to dimensions reference
  docs/content/Schema/Reference/dimensions.mdx
  docs/content/Schema/Reference/measures.mdx
Labels: docs

#6618 docs(workspace): add links to SQL Runner
  docs/content/Workspace/Developer-Playground.mdx
  docs/content/Workspace/Inspecting-Queries.mdx
Labels: docs

#6607 docs: Add JavaScript part into the style guide
  docs/content/Guides/Style-Guide.mdx
Labels: docs

#6609 docs: Make dimensions go first in the style guide
  docs/content/Guides/Style-Guide.mdx
Labels: docs

#6565 chore(cubejs-cli): add example view to `docker` and `docker-js` templates
  packages/cubejs-cli/src/templates.ts
Labels: backend:cli
