Repository cube-js/cube, pull requests merged in 2023-02, with the labels that each got.

#6089 feat(cubejs-server-core): add dbType to dataSources
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: pr:community

#6053 feat(cubejs-api-gateway): Add scope check to sql runner
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
Labels: pr:community

#6102 docs(schema): add examples showing extended cubes using `FILTER_PARAMS`
  docs/content/Schema/Advanced/Code-Reusability-Extending-Cubes.mdx
Labels: pr:community

#6050 chore(api-gateway): add limit for sql-runner method
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/helpers/shouldAddLimit.ts
  packages/cubejs-api-gateway/test/helpers/shouldAddLimit.test.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-base-driver/src/BaseDriver.ts
  packages/cubejs-base-driver/test/unit/BaseDriver.test.ts
  packages/cubejs-mssql-driver/driver/MSSqlDriver.js
  packages/cubejs-oracle-driver/driver/OracleDriver.js
Labels: pr:community

#5852 feat(api-gateway, server-core): added endpoint to fetch db schema
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#6100 docs(caching): add index examples
  docs/content/Caching/Using-Pre-Aggregations.mdx
Labels: pr:community

#6120 fix(server-core): config validation if custom ContextAcceptor is provided
  packages/cubejs-server-core/src/core/server.ts
Labels: pr:community

#6123 Add missing step in Docker installation
  packages/cubejs-hive-driver/README.md
Labels: pr:community

#6070 docs(schema): add examples for string, time and boolean measures
  docs/content/Schema/Reference/types-and-formats.mdx
Labels: docs

#6063 docs(schema): add information about how to use dbt
  docs/content/Schema/Advanced/Using-dbt.mdx
Labels: docs

#6161 docs(sql): fix incorrect "Not Equals" example and description
  docs/content/SQL-API/SQL-Functions-and-Operators.mdx
Labels: pr:community, docs

#6173 docs: fix connect to db link refereneces
  docs/content/Cube-Cloud/Getting-Started/Create-new.mdx
  docs/content/Cube-Cloud/Getting-Started/Import-Bitbucket-repository-via-SSH.mdx
  docs/content/Cube-Cloud/Getting-Started/Import-Git-repository-via-SSH.mdx
  docs/content/Cube-Cloud/Getting-Started/Import-GitHub-repository.mdx
  docs/content/Cube-Cloud/Getting-Started/Import-GitLab-repository-via-SSH.mdx
  docs/content/Cube-Cloud/Getting-Started/Upload-with-CLI.mdx
Labels: pr:community, docs

#6195 docs: update purple banner to 2.0.6
  docs/package.json
  docs/yarn.lock
Labels: pr:community

#5469 add connection release after execute query in OracleDriver
  .github/workflows/push.yml
  packages/cubejs-oracle-driver/driver/OracleDriver.js
  packages/cubejs-testing-shared/src/db/index.ts
  packages/cubejs-testing-shared/src/db/oracle.ts
  packages/cubejs-testing/birdbox-fixtures/oracle/schema/Orders.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/src/REQUIRED_ENV_VARS.ts
  packages/cubejs-testing/src/birdbox.ts
  packages/cubejs-testing/test/__snapshots__/smoke-oracle.test.ts.snap
  packages/cubejs-testing/test/smoke-oracle.test.ts
Labels: pr:community
