Repository cube-js/cube, pull requests merged in 2023-03, with the labels that each got.

#6229 docs(releases): add release notes for v0.32
  docs/content/Release-Notes/0-32.mdx
Labels: docs

#6223 chore: replace deprecated `@hapi/joi` with `joi`
  packages/cubejs-api-gateway/package.json
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-schema-compiler/package.json
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.js
  packages/cubejs-server-core/package.json
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/test/unit/OptsHandler.test.ts
  packages/cubejs-server-core/test/unit/index.test.ts
  yarn.lock
Labels: pr:community

#6068 fix(redshift-driver): fixes column order
  packages/cubejs-redshift-driver/src/RedshiftDriver.ts
Labels: pr:community

#6113 docs(config): add Thoughtspot as a downstream tool
  docs/content/Configuration/Connecting-to-Downstream-Tools.mdx
  docs/content/Configuration/Downstream/Thoughtspot.mdx
  docs/static/icons/thoughtspot.svg
Labels: docs

#6244 refactor(cubestore): Remove uneeded spawn_blocking (improve perf)
  rust/cubestore/Cargo.lock
  rust/cubestore/cubestore/Cargo.toml
  rust/cubestore/cubestore/src/metastore/rocks_store.rs
Labels: backend:cube-store

#6253 docs(cli): document `validate` CLI command
  docs/content/Developer-Tools/CLI-Reference.mdx
Labels: docs, backend:cli

#6262 docs(rest): document `measureFilter` operator
  docs/content/API-Reference/Query-Format.md
Labels: docs, client:core

#6275 docs(cloud): add diagrams to Deployment Types page
  docs/content/Cube-Cloud/Configuration/Deployment-Types.mdx
Labels: docs

#6299 docs(config): consolidate all environment variables into Reference page
  docs/content/Configuration/Environment-Variables-Reference.mdx
Labels: docs

#3498 docs(recipes): Refreshing Select Partitions
  docs/content/Examples-Tutorials-Recipes/Recipes.md
  docs/content/Examples-Tutorials-Recipes/Refreshing-select-partitions.md
  examples/recipes/README.md
  examples/recipes/refreshing-select-partitions/.env
  examples/recipes/refreshing-select-partitions/Dockerfile
  examples/recipes/refreshing-select-partitions/cube.js
  examples/recipes/refreshing-select-partitions/data-updater/data-updater.js
  examples/recipes/refreshing-select-partitions/data-updater/data-updater.sh
  examples/recipes/refreshing-select-partitions/db-scripts/orders.sql
  examples/recipes/refreshing-select-partitions/docker-compose.yml
  examples/recipes/refreshing-select-partitions/package.json
  examples/recipes/refreshing-select-partitions/queries/orders.json
  examples/recipes/refreshing-select-partitions/queries/run.sh
  examples/recipes/refreshing-select-partitions/schema/Orders .js
Labels: docs

#6316 fix: Refresh Scheduler - empty securityContext in driverFactory
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/types/gateway.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-server-core/src/core/OptsHandler.ts
  packages/cubejs-server-core/src/core/OrchestratorApi.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/test/unit/RefreshScheduler.test.ts
  packages/cubejs-server-core/test/unit/index.test.ts
Labels: bug

#6308 docs: remove references to Redis
  docs/content/Caching/Lambda-Pre-Aggregations.mdx
  docs/content/Caching/Overview.mdx
  docs/content/Caching/Running-in-Production.mdx
  docs/content/Configuration/Config.mdx
  docs/content/Configuration/Environment-Variables-Reference.mdx
  docs/content/Configuration/Overview.mdx
  docs/content/Cube-Cloud/Cloud-Workspace/Observability/Log-Export.mdx
  docs/content/Cube-Cloud/Configuration/Deployment-Types.mdx
  docs/content/Deployment/Overview.mdx
  docs/content/Deployment/Platform-Docker.mdx
  docs/content/Deployment/Production-Checklist.mdx
Labels: docs

#6142 feat(server-core, query-orchestrator): sql-runner - supp…
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryCache.ts
  packages/cubejs-query-orchestrator/src/orchestrator/QueryOrchestrator.ts
  packages/cubejs-query-orchestrator/test/unit/QueryOrchestrator.test.js
Labels: pr:community

#6301 docs: automatically add links to Environment Variables reference
  docs/gatsby-config.js
  docs/scripts/test-remark-plugin.mjs
  docs/src/remark/plugins/link-environment-variables.js
Labels: docs

#6331 docs: banner update
  docs/package.json
  docs/yarn.lock
Labels: pr:community, docs

#6338 Sql runner fix cubestore
  packages/cubejs-cubestore-driver/src/CubeStoreDriver.ts
Labels: pr:community

#6166 chore(api-gateway): Remove sql-runner routes
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/helpers/shouldAddLimit.ts
  packages/cubejs-api-gateway/test/helpers/shouldAddLimit.test.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-testing/test/smoke-athena.test.ts
Labels: pr:community

#6347 docs(cloud): create a page specifically for Cube Cloud pricing
  docs/content/Cube-Cloud/Configuration/Deployment-Types.mdx
  docs/content/Cube-Cloud/Pricing.mdx
  docs/src/components/Layout/MainMenu.tsx
Labels: docs

#6139 docs(recipes): Add environment variable example.
  docs/content/Schema/Advanced/Code-Reusability-Export-and-Import.mdx
Labels: pr:community, docs

#6357 New link to twitter on the occasion of the renaming of the twitter account
  README.md
  packages/cubejs-api-gateway/README.md
  packages/cubejs-athena-driver/README.md
  packages/cubejs-backend-cloud/README.md
  packages/cubejs-backend-maven/README.md
  packages/cubejs-backend-native/README.md
  packages/cubejs-backend-shared/README.md
  packages/cubejs-base-driver/README.md
  packages/cubejs-bigquery-driver/README.md
  packages/cubejs-cli/README.md
  packages/cubejs-clickhouse-driver/README.md
  packages/cubejs-client-core/README.md
  packages/cubejs-client-dx/README.md
  packages/cubejs-client-ngx/README.md
  packages/cubejs-client-react/README.md
  packages/cubejs-client-vue/README.md
  packages/cubejs-client-vue3/README.md
  packages/cubejs-client-ws-transport/README.md
  packages/cubejs-crate-driver/README.md
  packages/cubejs-cubestore-driver/README.md
  packages/cubejs-databricks-jdbc-driver/README.md
  packages/cubejs-dbt-schema-extension/README.md
  packages/cubejs-docker/README.md
  packages/cubejs-dremio-driver/README.md
  packages/cubejs-druid-driver/README.md
  packages/cubejs-elasticsearch-driver/README.md
  packages/cubejs-firebolt-driver/README.md
  packages/cubejs-hive-driver/README.md
  packages/cubejs-jdbc-driver/README.md
  packages/cubejs-ksql-driver/README.md
  packages/cubejs-materialize-driver/README.md
  packages/cubejs-mongobi-driver/README.md
  packages/cubejs-mssql-driver/README.md
  packages/cubejs-mysql-aurora-serverless-driver/README.md
  packages/cubejs-mysql-driver/README.md
  packages/cubejs-oracle-driver/README.md
  packages/cubejs-playground/README.md
  packages/cubejs-postgres-driver/README.md
  packages/cubejs-prestodb-driver/README.md
  packages/cubejs-query-orchestrator/README.md
  packages/cubejs-questdb-driver/README.md
  packages/cubejs-redshift-driver/README.md
  packages/cubejs-schema-compiler/README.md
  packages/cubejs-server-core/README.md
  packages/cubejs-server/README.md
  packages/cubejs-serverless-aws/README.md
  packages/cubejs-serverless-google/README.md
  packages/cubejs-serverless/README.md
  packages/cubejs-snowflake-driver/README.md
  packages/cubejs-sqlite-driver/README.md
  packages/cubejs-templates/README.md
  packages/cubejs-testing-shared/README.md
  packages/cubejs-testing/README.md
  packages/cubejs-trino-driver/README.md
  rust/cubesql/cubeclient/README.md
  rust/cubesql/cubesql/README.md
  rust/cubesql/pg-srv/README.md
  rust/cubestore/README.md
Labels: pr:community

#6368 docs: update purple banner to 2.0.15
  docs/package.json
  docs/yarn.lock
Labels: pr:community

#6013 docs(getting-started): revamp Getting Started
  docs/content/Configuration/Downstream/Superset.mdx
  docs/content/Getting-Started/Cloud/01-Overview.mdx
  docs/content/Getting-Started/Cloud/02-Create-a-deployment.mdx
  docs/content/Getting-Started/Cloud/03-Generate-models.mdx
  docs/content/Getting-Started/Cloud/04-Query-data.mdx
  docs/content/Getting-Started/Cloud/05-Add-a-pre-aggregation.mdx
  docs/content/Getting-Started/Cloud/06-Learn-more.mdx
  docs/content/Getting-Started/Core/01-Overview.mdx
  docs/content/Getting-Started/Core/02-Create-a-project.mdx
  docs/content/Getting-Started/Core/03-Query-data.mdx
  docs/content/Getting-Started/Core/04-Add-a-pre-aggregation.mdx
  docs/content/Getting-Started/Core/05-Learn-more.mdx
  docs/content/Getting-Started/Getting-Started-Docker-Compose.mdx
  docs/content/Getting-Started/Getting-Started-Docker.mdx
  docs/content/Getting-Started/Getting-Started-Nodejs.mdx
  docs/content/Getting-Started/Overview.mdx
  docs/content/SQL-API/Getting-Started.mdx
  docs/src/components/InlineButton/InlineButton.tsx
  docs/src/components/InlineButton/styles.module.scss
  docs/src/templates/DocTemplate.tsx
  docs/static/styles/_layout.scss
  docs/static/styles/variables.scss
Labels: docs
