Repository cube-js/cube, pull requests merged in 2024-06, with the labels that each got.

#8319 docs: Fix typo, change "push-down" to "pushdown"
  docs/pages/product/apis-integrations/queries.mdx
  docs/pages/product/apis-integrations/sql-api.mdx
  docs/pages/product/apis-integrations/sql-api/query-format.mdx
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/configuration/environment-variables.mdx
Labels: docs

#8237 Update limits.mdx
  docs/pages/product/deployment/cloud/limits.mdx
Labels: pr:community

#8321 cubesql-engine (chore): remove duplicates
  rust/cubesql/cubesql/src/compile/engine/df/coerce.rs
  rust/cubesql/cubesql/src/compile/engine/udf/common.rs
Labels: pr:community

#8300 docs: MDX API
  docs/pages/product/apis-integrations/_meta.js
  docs/pages/product/apis-integrations/mdx-api.mdx
Labels: pr:community, docs

#8332 fix(cubesql): Set limit to 0(instead of 1) when filter is FALSE
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/filters.rs
Labels: pr:community

#8330 chore: fix link:dev script
  package.json
Labels: pr:community

#8329 Add script to simplify development environment setup
  CONTRIBUTING.md
  dev_env_setup.sh
Labels: pr:community

#8325 feat(cubesql): support `GREATEST`/`LEAST` function for scalars
  packages/cubejs-databricks-jdbc-driver/src/DatabricksQuery.ts
  packages/cubejs-duckdb-driver/src/DuckDBQuery.ts
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/src/adapter/MssqlQuery.ts
  packages/cubejs-schema-compiler/src/adapter/PostgresQuery.ts
  rust/cubesql/cubesql/src/compile/engine/df/coerce.rs
  rust/cubesql/cubesql/src/compile/engine/udf/common.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/snapshots/cubesql__compile__tests__metabase-2.snap
Labels: pr:community

#8350 docs: Promote multi-cluster deployments for massive data models
  docs/pages/product/data-modeling/concepts.mdx
Labels: docs

#8353 docs: Add Klipfolio PowerMetrics as a data consumer
  docs/pages/product/configuration/visualization-tools.mdx
  docs/pages/product/configuration/visualization-tools/_meta.js
  docs/pages/product/configuration/visualization-tools/klipfolio.mdx
Labels: docs

#8340 Use an incremental rule scheduler for egg
  packages/cubejs-backend-native/Cargo.lock
  rust/cubesql/Cargo.lock
  rust/cubesql/cubesql/Cargo.toml
  rust/cubesql/cubesql/src/compile/rewrite/analysis.rs
  rust/cubesql/cubesql/src/compile/rewrite/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/rewriter.rs
Labels: pr:community

#8362 docs: Explain calculated members: calculated measures, proxy dimensio…
  docs/pages/guides/recipes/analytics/event-analytics.mdx
  docs/pages/guides/recipes/data-modeling/nested-aggregates.mdx
  docs/pages/product/data-modeling/concepts.mdx
  docs/pages/product/data-modeling/concepts/_meta.js
  docs/pages/product/data-modeling/concepts/calculated-members.mdx
  docs/pages/product/data-modeling/concepts/subquery-dimensions.mdx
  docs/pages/product/data-modeling/overview.mdx
  docs/pages/product/data-modeling/syntax.mdx
  docs/pages/reference/data-model/dimensions.mdx
  docs/redirects.json
Labels: docs

#8370 chore: testing drivers update
  packages/cubejs-testing-drivers/fixtures/bigquery.json
  packages/cubejs-testing-drivers/fixtures/mssql.json
  packages/cubejs-testing-drivers/fixtures/mysql.json
  packages/cubejs-testing-drivers/src/dataset.ts
  packages/cubejs-testing-drivers/src/tests/testQueries.ts
  packages/cubejs-testing-drivers/test/__snapshots__/athena-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/bigquery-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/clickhouse-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/databricks-jdbc-export-bucket-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/databricks-jdbc-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/mssql-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/mysql-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/postgres-full.test.ts.snap
  packages/cubejs-testing-drivers/test/__snapshots__/snowflake-full.test.ts.snap
Labels: pr:community

#8363 perf(cubesql): Make incremental rule scheduler distinguish between generation 0 and 1
  rust/cubesql/cubesql/src/compile/rewrite/analysis.rs
  rust/cubesql/cubesql/src/compile/rewrite/rewriter.rs
Labels: pr:community

#8373 feat(duckdb-driver): Upgrade to DuckDB 1.0.0
  packages/cubejs-duckdb-driver/package.json
  yarn.lock
Labels: pr:community

#8372 feat(cubesql): support timestamp subtract date in SQL API, tests
  rust/cubesql/Cargo.lock
  rust/cubesql/cubesql/Cargo.toml
  rust/cubesql/cubesql/src/compile/mod.rs
Labels: pr:community

#8369 feat(cubesql): Decimal128 i.e. NUMERIC(_,_) literal generation for Po…
  rust/cubesql/cubesql/src/compile/engine/df/wrapper.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/filters.rs
Labels: pr:community

#8388 docs: Semantic Catalog and AI assistant
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/ai-assistant.mdx
  docs/pages/product/workspace/semantic-catalog.mdx
Labels: docs

#8382 Update types-and-formats.mdx
  docs/pages/reference/data-model/types-and-formats.mdx
Labels: pr:community, docs

#8381 Update passing-dynamic-parameters-in-a-query.mdx
  docs/pages/guides/recipes/data-modeling/passing-dynamic-parameters-in-a-query.mdx
Labels: pr:community, docs

#8364 Update QuestDB doc
  docs/pages/product/configuration/data-sources/questdb.mdx
Labels: pr:community, docs

#8307 docs/data-modeling: Adding compareDateRange example
  docs/pages/product/apis-integrations/queries.mdx
Labels: pr:community, docs

#8367 chore(cubesql): Set opt-level to 1 in dev debug builds
  packages/cubejs-backend-native/Cargo.toml
Labels: pr:community

#8299 feat(cubesql): Support multiply operation with intervals
  packages/cubejs-backend-native/Cargo.lock
  packages/cubejs-schema-compiler/src/adapter/PrestodbQuery.ts
  packages/cubejs-testing/test/__snapshots__/smoke-cubesql.test.ts.snap
  packages/cubejs-testing/test/smoke-cubesql.test.ts
  rust/cubesql/Cargo.lock
  rust/cubesql/cubesql/Cargo.toml
  rust/cubesql/cubesql/src/compile/engine/df/scan.rs
  rust/cubesql/cubesql/src/compile/engine/df/wrapper.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/utils.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/wrapper/literal.rs
  rust/cubesql/cubesql/src/transport/service.rs
Labels: pr:community

#8401 docs: update cloud infrastructure diagrams
  docs/pages/product/deployment/cloud/infrastructure.mdx
Labels: pr:community

#8383 Upgrade to Oracle Database Free
  packages/cubejs-testing-shared/src/db-container-runners/oracle.ts
Labels: pr:community
