Repository cube-js/cube, pull requests merged in 2024-05, with the labels that each got.

#8175 docs: Add a large-scale cost example
  docs/pages/product/deployment/cloud/limits.mdx
  docs/pages/product/deployment/cloud/pricing.mdx
  docs/pages/product/workspace/query-history.mdx
Labels: docs

#8214 updated the cron-parser package in the schema compiler
  packages/cubejs-schema-compiler/package.json
  yarn.lock
Labels: pr:community

#8194 fix(schema-compiler): support string measures in views
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/src/compiler/CubeSymbols.js
  packages/cubejs-schema-compiler/src/compiler/CubeToMetaTransformer.js
  packages/cubejs-testing/birdbox-fixtures/postgresql/schema/Orders.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/test/__snapshots__/smoke-cubesql.test.ts.snap
  packages/cubejs-testing/test/smoke-cubesql.test.ts
Labels: pr:community

#8249 docs(cloud): add AI API docs
  docs/pages/product/apis-integrations/_meta.js
  docs/pages/product/apis-integrations/ai-api.mdx
  docs/pages/product/apis-integrations/ai-api/_meta.js
  docs/pages/product/apis-integrations/ai-api/privacy-security.mdx
  docs/pages/reference/_meta.js
  docs/pages/reference/ai-api.mdx
Labels: cube cloud

#8242 feat: Support probing `LIMIT 0` queries
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-testing/test/smoke-cubesql.test.ts
Labels: pr:community

#8154 docs: Running syncs on schedule in Semantic Layer Sync
  docs/pages/product/deployment/cloud/auto-suspension.mdx
  docs/pages/product/workspace/semantic-layer-sync.mdx
Labels: docs

#8235 feat(cubesql): Flatten IN lists expressions to improve performance
  rust/cubesql/cubesql/benches/benchmarks.rs
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/converter.rs
  rust/cubesql/cubesql/src/compile/rewrite/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/filters.rs
  rust/cubesql/cubesql/src/compile/rewrite/rules/wrapper/in_list_expr.rs
  rust/cubesql/cubesql/src/compile/test/mod.rs
Labels: pr:community

#8182 feat(firebolt): Switch to the new auth method
  docs/pages/product/configuration/data-sources/firebolt.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-backend-shared/test/db_env_single.test.ts
  packages/cubejs-firebolt-driver/package.json
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
  packages/cubejs-firebolt-driver/test/autostart.test.ts
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
Labels: pr:community, driver:firebolt, data source driver

#8267 docs: Chart Prototyping
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/vizard.mdx
Labels: docs

#8265 fix(schema-compiler): Fix failing of `WHERE FALSE` queries
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-testing/test/smoke-cubesql.test.ts
  rust/cubesql/cubesql/src/compile/engine/df/wrapper.rs
  rust/cubesql/cubesql/src/compile/mod.rs
Labels: pr:community

#8266 fix(cubesql): Remove prefix underscore from aliases
  packages/cubejs-testing/birdbox-fixtures/postgresql/schema/SegmentTest.js
  packages/cubejs-testing/test/smoke-cubesql.test.ts
  rust/cubesql/cubesql/src/compile/engine/df/wrapper.rs
  rust/cubesql/cubesql/src/compile/mod.rs
Labels: pr:community

#8270 docs: Add a link to "Try Cube for Free"
  docs/components/common/BlogButton/Button.module.css
  docs/components/common/BlogButton/Button.tsx
  docs/components/common/BlogButton/index.ts
  docs/theme.config.tsx
Labels: docs

#8271 docs: Update CCU abbreviation
  docs/pages/product/deployment/cloud/pricing.mdx
Labels: docs

#8184 docs(deployment): Cube Cloud Infrastructure Deployment Options
  docs/pages/product/deployment/cloud/_meta.js
  docs/pages/product/deployment/cloud/byoc.mdx
  docs/pages/product/deployment/cloud/byoc/_meta.js
  docs/pages/product/deployment/cloud/byoc/aws.mdx
  docs/pages/product/deployment/cloud/infrastructure.mdx
Labels: pr:community

#8275 docs: Add Google Tag Manager
  docs/theme.config.tsx
Labels: docs

#8298 docs: clarify the development setup in contributing guide
  .gitignore
  CONTRIBUTING.md
Labels: pr:community, docs

#8292 docs: SQL Pushdown
  docs/pages/product/apis-integrations.mdx
  docs/pages/product/apis-integrations/_meta.js
  docs/pages/product/apis-integrations/graphql-api.mdx
  docs/pages/product/apis-integrations/javascript-sdk.mdx
  docs/pages/product/apis-integrations/javascript-sdk/angular.mdx
  docs/pages/product/apis-integrations/javascript-sdk/react.mdx
  docs/pages/product/apis-integrations/javascript-sdk/vue.mdx
  docs/pages/product/apis-integrations/queries.mdx
  docs/pages/product/apis-integrations/rest-api.mdx
  docs/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/pages/product/apis-integrations/sql-api.mdx
  docs/pages/product/apis-integrations/sql-api/_meta.js
  docs/pages/product/apis-integrations/sql-api/query-format.mdx
  docs/pages/product/caching/matching-pre-aggregations.mdx
  docs/pages/product/configuration/visualization-tools/superset.mdx
  docs/pages/product/data-modeling/_meta.js
  docs/pages/product/data-modeling/concepts/publicity.mdx
  docs/pages/product/data-modeling/queries.mdx
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  docs/pages/reference/graphql-api.mdx
  docs/plugins/link-environment-variables.mjs
Labels: docs
