Repository cube-js/cube, pull requests merged in 2024-11, with the labels that each got.

#8887 docs: Pricing update
  docs/pages/product/apis-integrations/google-sheets.mdx
  docs/pages/product/apis-integrations/mdx-api.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/power-bi.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/tableau.mdx
  docs/pages/product/caching/running-in-production.mdx
  docs/pages/product/configuration/data-sources.mdx
  docs/pages/product/configuration/data-sources/elasticsearch.mdx
  docs/pages/product/configuration/data-sources/ksqldb.mdx
  docs/pages/product/configuration/data-sources/ms-fabric.mdx
  docs/pages/product/configuration/data-sources/singlestore.mdx
  docs/pages/product/deployment/cloud/auto-suspension.mdx
  docs/pages/product/deployment/cloud/byoc.mdx
  docs/pages/product/deployment/cloud/custom-domains.mdx
  docs/pages/product/deployment/cloud/deployment-types.mdx
  docs/pages/product/deployment/cloud/infrastructure.mdx
  docs/pages/product/deployment/cloud/limits.mdx
  docs/pages/product/deployment/cloud/pricing.mdx
  docs/pages/product/deployment/cloud/providers.mdx
  docs/pages/product/deployment/cloud/support.mdx
  docs/pages/product/deployment/cloud/vpc.mdx
  docs/pages/product/deployment/cloud/vpc/aws.mdx
  docs/pages/product/deployment/cloud/warm-up.mdx
  docs/pages/product/faqs/general.mdx
  docs/pages/product/getting-started/cloud/connect-to-snowflake.mdx
  docs/pages/product/getting-started/databricks/connect-to-databricks.mdx
  docs/pages/product/getting-started/migrate-from-core/import-bitbucket-repository-via-ssh.mdx
  docs/pages/product/getting-started/migrate-from-core/import-git-repository-via-ssh.mdx
  docs/pages/product/getting-started/migrate-from-core/import-github-repository.mdx
  docs/pages/product/getting-started/migrate-from-core/import-gitlab-repository-via-ssh.mdx
  docs/pages/product/getting-started/migrate-from-core/upload-with-cli.mdx
  docs/pages/product/workspace/access-control.mdx
  docs/pages/product/workspace/ai-assistant.mdx
  docs/pages/product/workspace/audit-log.mdx
  docs/pages/product/workspace/budgets.mdx
  docs/pages/product/workspace/data-model.mdx
  docs/pages/product/workspace/dev-mode.mdx
  docs/pages/product/workspace/encryption-keys.mdx
  docs/pages/product/workspace/integrations.mdx
  docs/pages/product/workspace/monitoring.mdx
  docs/pages/product/workspace/performance.mdx
  docs/pages/product/workspace/playground.mdx
  docs/pages/product/workspace/pre-aggregations.mdx
  docs/pages/product/workspace/preferences.mdx
  docs/pages/product/workspace/query-history.mdx
  docs/pages/product/workspace/rollup-designer.mdx
  docs/pages/product/workspace/semantic-catalog.mdx
  docs/pages/product/workspace/sql-runner.mdx
  docs/pages/product/workspace/sso.mdx
  docs/pages/product/workspace/sso/google-workspace.mdx
  docs/pages/product/workspace/sso/microsoft-entra-id.mdx
  docs/pages/product/workspace/sso/okta.mdx
Labels: docs

#8898 feat(snowflake-driver): host env variable
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
Labels: pr:community

#8909 fix(FileRepository): create repositoryPath if not exists
  packages/cubejs-backend-shared/src/FileRepository.ts
Labels: pr:community

#8912 docs: Tiny updates
  docs/pages/product/configuration/data-sources/mongodb.mdx
  docs/pages/product/data-modeling/concepts.mdx
  docs/pages/product/data-modeling/concepts/working-with-joins.mdx
  docs/pages/reference/data-model/dimensions.mdx
Labels: docs

#8913 docs: Add Pinot to the list of data sources
  docs/pages/product/configuration/data-sources.mdx
  docs/pages/product/configuration/data-sources/_meta.js
  docs/pages/product/configuration/data-sources/pinot.mdx
Labels: docs

#8921 fix: patch isVisible when applying member level access policies
  packages/cubejs-server-core/src/core/CompilerApi.js
Labels: pr:community

#8959 fix incorrect usage of dbt_cube model property
  docs/pages/guides/dbt.mdx
Labels: pr:community, docs

#8976 fix: fix data access policies condition logic
  .github/actions/smoke.sh
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-testing/birdbox-fixtures/rbac/cube.js
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/line_items.js
  packages/cubejs-testing/package.json
  packages/cubejs-testing/test/__snapshots__/smoke-rbac.test.ts.snap
  packages/cubejs-testing/test/smoke-rbac.test.ts
Labels: pr:community

#8375 feat(duckdb-driver): remove unnecessary installing and loading HttpFS extension
  packages/cubejs-duckdb-driver/src/DuckDBDriver.ts
Labels: pr:community, driver:duckdb

#8979 fix incorrect handling of env variable data type
  docs/pages/guides/recipes/query-acceleration/disabling-pre-aggregations.mdx
Labels: pr:community, docs

#8958 docs: Update Staging Environments docs
  docs/pages/product/workspace/environments.mdx
Labels: docs

#8757 Update databricks-jdbc.mdx
  docs/pages/product/configuration/data-sources/databricks-jdbc.mdx
Labels: pr:community, docs

#8980 fix: ensure public is in sync with isVisible when using DAP
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-testing/test/smoke-rbac.test.ts
Labels: pr:community

#8910 fix(dev_env_setup): use relative packages everywhere
  dev-env.sh
  dev_env_setup.sh
  package.json
Labels: pr:community

#8987 feat(api-gateway): Alternative auth headers
  packages/cubejs-api-gateway/src/gateway.ts
Labels: pr:community

#8992 fix(server-core): fix member level access policy evaluation
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/line_items.js
  packages/cubejs-testing/test/__snapshots__/smoke-rbac.test.ts.snap
  packages/cubejs-testing/test/smoke-rbac.test.ts
Labels: pr:community

#8997 docs: ai api updates
  docs/pages/product/apis-integrations/ai-api.mdx
  docs/pages/product/workspace/ai-assistant.mdx
  docs/pages/reference/ai-api.mdx
Labels: pr:community
