Repository cube-js/cube, pull requests merged in 2024-08, with the labels that each got.

#8513 docs: Dev mode and new environments
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/data-model.mdx
  docs/pages/product/workspace/dev-mode.mdx
  docs/pages/product/workspace/environments.mdx
Labels: pr:community, docs

#8535 docs: Connect to Cube
  docs/pages/product/apis-integrations.mdx
  docs/pages/product/apis-integrations/_meta.js
  docs/pages/product/apis-integrations/rest-api.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/_meta.js
  docs/pages/product/apis-integrations/semantic-layer-sync/metabase.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/power-bi.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/preset.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/superset.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/tableau.mdx
  docs/pages/product/configuration/visualization-tools.mdx
  docs/pages/product/configuration/visualization-tools/_meta.js
  docs/pages/product/configuration/visualization-tools/appsmith.mdx
  docs/pages/product/configuration/visualization-tools/bubble.mdx
  docs/pages/product/configuration/visualization-tools/budibase.mdx
  docs/pages/product/configuration/visualization-tools/deepnote.mdx
  docs/pages/product/configuration/visualization-tools/delphi.mdx
  docs/pages/product/configuration/visualization-tools/excel.mdx
  docs/pages/product/configuration/visualization-tools/explo.mdx
  docs/pages/product/configuration/visualization-tools/hashboard.mdx
  docs/pages/product/configuration/visualization-tools/hex.mdx
  docs/pages/product/configuration/visualization-tools/hightouch.mdx
  docs/pages/product/configuration/visualization-tools/jupyter.mdx
  docs/pages/product/configuration/visualization-tools/klipfolio.mdx
  docs/pages/product/configuration/visualization-tools/langchain.mdx
  docs/pages/product/configuration/visualization-tools/looker-studio.mdx
  docs/pages/product/configuration/visualization-tools/metabase.mdx
  docs/pages/product/configuration/visualization-tools/observable.mdx
  docs/pages/product/configuration/visualization-tools/powerbi.mdx
  docs/pages/product/configuration/visualization-tools/push-ai.mdx
  docs/pages/product/configuration/visualization-tools/qlik-sense.mdx
  docs/pages/product/configuration/visualization-tools/quicksight.mdx
  docs/pages/product/configuration/visualization-tools/retool.mdx
  docs/pages/product/configuration/visualization-tools/rudderstack.mdx
  docs/pages/product/configuration/visualization-tools/sigma.mdx
  docs/pages/product/configuration/visualization-tools/steep.mdx
  docs/pages/product/configuration/visualization-tools/streamlit.mdx
  docs/pages/product/configuration/visualization-tools/superset.mdx
  docs/pages/product/configuration/visualization-tools/tableau.mdx
  docs/pages/product/configuration/visualization-tools/thoughtspot.mdx
  docs/pages/product/configuration/visualization-tools/unity-catalog.mdx
  docs/pages/product/deployment/cloud/auto-suspension.mdx
  docs/pages/product/deployment/cloud/pricing.mdx
  docs/pages/product/deployment/cloud/providers/azure.mdx
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/integrations.mdx
  docs/redirects.json
Labels: docs

#8551 docs: Update refresh key default values
  docs/pages/product/caching.mdx
Labels: pr:community, docs

#8559 docs: Referencing environment variables and disabling pre-aggregations recipes
  docs/pages/guides/recipes.mdx
  docs/pages/guides/recipes/code-reusability/_meta.js
  docs/pages/guides/recipes/code-reusability/environment-variables.mdx
  docs/pages/guides/recipes/code-reusability/schema-generation.mdx
  docs/pages/guides/recipes/query-acceleration/_meta.js
  docs/pages/guides/recipes/query-acceleration/disabling-pre-aggregations.mdx
  docs/pages/product/data-modeling/dynamic/code-reusability-export-and-import.mdx
Labels: docs

#8507 Update passing-dynamic-parameters-in-a-query.mdx
  docs/pages/guides/recipes/data-modeling/passing-dynamic-parameters-in-a-query.mdx
Labels: pr:community

#8384 docs: 32 CSWs on Enterprise tier
  docs/pages/product/deployment/cloud/limits.mdx
Labels: docs

#8596 chore(databricks-jdbc): do not add extra backticks to table name if backticks already present
  packages/cubejs-databricks-jdbc-driver/src/DatabricksDriver.ts
Labels: pr:community

#8648 docs: Custom sorting recipe
  docs/pages/guides/recipes.mdx
  docs/pages/guides/recipes/queries/_meta.js
  docs/pages/guides/recipes/queries/sorting.mdx
  docs/pages/product/apis-integrations/queries.mdx
Labels: docs
