Repository cube-js/cube, pull requests merged in 2024-09, with the labels that each got.

#8622 docs: Descriptions in segments
  docs/pages/reference/data-model/cube.mdx
  docs/pages/reference/data-model/dimensions.mdx
  docs/pages/reference/data-model/measures.mdx
  docs/pages/reference/data-model/segments.mdx
  docs/pages/reference/data-model/view.mdx
Labels: docs

#8681 Update environments.mdx
  docs/pages/product/workspace/environments.mdx
Labels: pr:community

#8680 Update dbt.mdx
  docs/pages/guides/dbt.mdx
Labels: pr:community

#8060 fix(api-gateway): fixes an issue where queries t…
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
Labels: pr:community

#8690 docs: describe additional meta params for MDX API
  docs/pages/product/apis-integrations/mdx-api.mdx
Labels: pr:community

#8688 fix import logic and make example easier to understand
  docs/pages/product/data-modeling/dynamic/code-reusability-export-and-import.mdx
Labels: pr:community, docs

#8687 docs: Cube Cloud for Sheets
  docs/pages/product/apis-integrations.mdx
  docs/pages/product/apis-integrations/_meta.js
  docs/pages/product/apis-integrations/google-sheets.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync.mdx
  docs/pages/product/configuration/visualization-tools.mdx
  docs/pages/product/configuration/visualization-tools/_meta.js
  docs/pages/product/configuration/visualization-tools/excel.mdx
  docs/pages/product/configuration/visualization-tools/google-sheets.mdx
  docs/pages/reference/data-model/pre-aggregations.mdx
Labels: docs

#8679 docs: Custom granularities
  docs/pages/guides/_meta.js
  docs/pages/guides/recipes.mdx
  docs/pages/guides/recipes/data-modeling/_meta.js
  docs/pages/guides/recipes/data-modeling/custom-granularity.mdx
  docs/pages/guides/recipes/data-modeling/fiscal-year-quarter-dimensions.mdx
  docs/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/pages/product/data-modeling/concepts.mdx
  docs/pages/product/data-modeling/concepts/calculated-members.mdx
  docs/pages/product/data-modeling/syntax.mdx
  docs/pages/reference/data-model/dimensions.mdx
  docs/redirects.json
Labels: docs

#8734 docs: fix typo in the description of CUBESTORE_GCP_CREDENTIALS env var
  docs/pages/reference/configuration/environment-variables.mdx
Labels: pr:community, docs

#8728 chore: fix some comments
  docs/pages/reference/data-model/dimensions.mdx
  rust/cubestore/cubestore/src/sys/malloc.rs
  rust/cubestore/cubezetasketch/src/sparse.rs
Labels: pr:community, docs
