Repository cube-js/cube, pull requests merged in 2024-10, with the labels that each got.

#8764 docs: Staging Environments
  docs/pages/product/workspace/environments.mdx
Labels: pr:community, docs

#8767 fix(firebolt-driver): use default api endpoint if not provided
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
Labels: pr:community

#8785 fix typo
  docs/pages/product/data-modeling/concepts/calculated-members.mdx
Labels: pr:community, docs

#8791 docs: Data-at-rest encryption in Cube Store and customer-provided key…
  docs/pages/product/caching/running-in-production.mdx
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/encryption-keys.mdx
Labels: docs

#8800 docs: update the list of AWS credentials required for BYOC
  docs/pages/product/deployment/cloud/byoc/aws.mdx
Labels: pr:community

#8766 feat: new style RBAC framework
  .gitignore
  packages/cubejs-api-gateway/src/gateway.ts
  packages/cubejs-api-gateway/src/helpers/prepareAnnotation.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-api-gateway/test/mocks.ts
  packages/cubejs-schema-compiler/src/compiler/CompilerCache.ts
  packages/cubejs-schema-compiler/src/compiler/CubeEvaluator.ts
  packages/cubejs-schema-compiler/src/compiler/CubeSymbols.js
  packages/cubejs-schema-compiler/src/compiler/CubeValidator.ts
  packages/cubejs-schema-compiler/src/compiler/YamlCompiler.ts
  packages/cubejs-schema-compiler/src/compiler/transpilers/CubePropContextTranspiler.ts
  packages/cubejs-schema-compiler/src/compiler/utils.ts
  packages/cubejs-schema-compiler/test/unit/schema.test.ts
  packages/cubejs-schema-compiler/test/unit/utils.ts
  packages/cubejs-schema-compiler/test/unit/yaml-schema.test.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
  packages/cubejs-server-core/test/unit/index.test.ts
  packages/cubejs-testing/birdbox-fixtures/rbac/cube.js
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/line_items.js
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/orders.js
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/orders_open.yaml
  packages/cubejs-testing/birdbox-fixtures/rbac/model/cubes/users.yaml
  packages/cubejs-testing/birdbox-fixtures/rbac/model/views/views.yaml
  packages/cubejs-testing/package.json
  packages/cubejs-testing/test/__snapshots__/smoke-rbac.test.ts.snap
  packages/cubejs-testing/test/smoke-cubesql.test.ts
  packages/cubejs-testing/test/smoke-rbac.test.ts
Labels: pr:community

#8808 feat(snowflake-driver): OAuth token path support
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-snowflake-driver/src/SnowflakeDriver.ts
Labels: pr:community

#8815 feat(Firebolt): Use driver's own test connection method
  packages/cubejs-firebolt-driver/package.json
  packages/cubejs-firebolt-driver/src/FireboltDriver.ts
  yarn.lock
Labels: pr:community

#8819 Doc: update node version in CONTRIBUTING.md/`Prerequisites`
  CONTRIBUTING.md
Labels: pr:community

#8852 fix(cubejs-server-core): driverError overriding
  packages/cubejs-server-core/src/core/DevServer.ts
Labels: pr:community

#8854 Revert "fix(cubejs-server-core): driverError overriding"
  packages/cubejs-server-core/src/core/DevServer.ts
Labels: pr:community

#8689 feat(drivers): introduce Apache Pinot
  docs/pages/product/configuration/data-sources/_meta.js
  docs/pages/product/configuration/data-sources/pinot.mdx
  packages/cubejs-docker/dev.Dockerfile
  packages/cubejs-docker/package.json
  packages/cubejs-docker/package.json.local
  packages/cubejs-docker/testing-drivers.Dockerfile
  packages/cubejs-pinot-driver/.gitignore
  packages/cubejs-pinot-driver/CHANGELOG.md
  packages/cubejs-pinot-driver/LICENSE
  packages/cubejs-pinot-driver/README.md
  packages/cubejs-pinot-driver/docker-compose.yml
  packages/cubejs-pinot-driver/index.js
  packages/cubejs-pinot-driver/package.json
  packages/cubejs-pinot-driver/pinot-resources/broker.conf
  packages/cubejs-pinot-driver/pinot-resources/controller.conf
  packages/cubejs-pinot-driver/pinot-resources/rawdata/scores/scores.csv
  packages/cubejs-pinot-driver/pinot-resources/rawdata/students/students.csv
  packages/cubejs-pinot-driver/pinot-resources/scores.jobspec.yml
  packages/cubejs-pinot-driver/pinot-resources/scores.schema.json
  packages/cubejs-pinot-driver/pinot-resources/scores.table.json
  packages/cubejs-pinot-driver/pinot-resources/students.jobspec.yml
  packages/cubejs-pinot-driver/pinot-resources/students.schema.json
  packages/cubejs-pinot-driver/pinot-resources/students.table.json
  packages/cubejs-pinot-driver/src/PinotDriver.ts
  packages/cubejs-pinot-driver/src/PinotQuery.ts
  packages/cubejs-pinot-driver/src/index.ts
  packages/cubejs-pinot-driver/test/Pinot.test.ts
  packages/cubejs-pinot-driver/tsconfig.json
  packages/cubejs-server-core/src/core/DriverDependencies.js
  packages/cubejs-server-core/src/core/types.ts
  tsconfig.json
  yarn.lock
Labels: pr:community

#8746 Update google-bigquery.mdx
  docs/pages/product/configuration/data-sources/google-bigquery.mdx
Labels: pr:community

#8874 docs: update the list of AWS BYOC permissions for Cube Cloud
  docs/pages/product/deployment/cloud/byoc/aws.mdx
Labels: pr:community

#8880 feat: support context_to_roles in Python configuration
  packages/cubejs-backend-native/js/index.ts
  packages/cubejs-backend-native/python/cube/src/__init__.py
  packages/cubejs-backend-native/src/python/cube_config.rs
  packages/cubejs-backend-native/test/config.py
  packages/cubejs-backend-native/test/python.test.ts
Labels: pr:community

#8860 docs: adds visual modeler page
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/data-model.mdx
  docs/pages/product/workspace/visual-modeler.mdx
Labels: docs
