Repository cube-js/cube, pull requests merged in 2024-02, with the labels that each got.

#7712 Remove old office hours callout
  docs/pages/product/getting-started/cloud/query-from-bi.mdx
Labels: pr:community

#7710 Remove old office hours callout
  docs/pages/product/getting-started/cloud/connect-to-snowflake.mdx
Labels: pr:community, docs

#7709 Remove old office hours callout
  docs/pages/product/getting-started/cloud/query-from-react-app.mdx
Labels: pr:community, docs

#7708 Remove old office hours callout
  docs/pages/product/getting-started/cloud/create-data-model.mdx
Labels: pr:community, docs

#7703 Update gcp.mdx
  docs/pages/product/configuration/vpc/gcp.mdx
Labels: pr:community, docs

#7694 Link to export bucket headers
  docs/pages/product/caching/using-pre-aggregations.mdx
Labels: pr:community, docs

#7716 docs: Production multi-cluster deployments (update)
  docs/pages/product/caching.mdx
  docs/pages/product/caching/using-pre-aggregations.mdx
  docs/pages/product/deployment/cloud.mdx
  docs/pages/product/deployment/cloud/_meta.js
  docs/pages/product/deployment/cloud/auto-suspension.mdx
  docs/pages/product/deployment/cloud/deployment-types.mdx
  docs/pages/product/deployment/cloud/warm-up.mdx
  docs/pages/product/workspace/performance.mdx
  docs/pages/product/workspace/query-history.mdx
  docs/pages/reference/data-model/pre-aggregations.mdx
Labels: docs

#7739 Docs: Fix small typo in getting starter docs
  docs/pages/product/getting-started.mdx
Labels: pr:community

#7742 docs: Add Push.ai
  docs/pages/product/configuration/visualization-tools.mdx
  docs/pages/product/configuration/visualization-tools/_meta.js
  docs/pages/product/configuration/visualization-tools/push-ai.mdx
Labels: docs

#7737 docs: Update Cube's SP for Azure VPC
  docs/pages/product/configuration/vpc/azure.mdx
  docs/pages/product/workspace/sso.mdx
  docs/pages/product/workspace/sso/_meta.js
  docs/pages/product/workspace/sso/microsoft-entra-id.mdx
Labels: docs

#7687 feat(duckdb-driver): pass Cube user agent
  packages/cubejs-duckdb-driver/src/DuckDBDriver.ts
Labels: pr:community

#7748 docs: rest-api add meta property to cube
  docs/pages/reference/rest-api.mdx
Labels: pr:community

#7754 docs: Microsoft Fabric support
  docs/pages/product/configuration/data-sources.mdx
  docs/pages/product/configuration/data-sources/_meta.js
  docs/pages/product/configuration/data-sources/ms-fabric.mdx
Labels: docs

#7764 docs: `ungrouped` in GraphQL API
  docs/pages/product/apis-integrations/graphql-api.mdx
  docs/pages/product/apis-integrations/javascript-sdk.mdx
  docs/pages/product/apis-integrations/rest-api.mdx
  docs/pages/product/apis-integrations/sql-api.mdx
  docs/pages/reference/_meta.js
  docs/pages/reference/cli.mdx
  docs/pages/reference/graphql-api.mdx
  docs/pages/reference/rest-api.mdx
  docs/pages/reference/sql-api.mdx
  docs/pages/reference/sql-api/_meta.js
  docs/pages/reference/sql-api/sql-commands.mdx
Labels: docs

#7765 docs: Fix links
  docs/pages/product/configuration/data-sources/aws-athena.mdx
  docs/pages/product/configuration/data-sources/aws-redshift.mdx
  docs/pages/product/configuration/data-sources/clickhouse.mdx
  docs/pages/product/configuration/data-sources/databricks-jdbc.mdx
  docs/pages/product/configuration/data-sources/duckdb.mdx
  docs/pages/product/configuration/data-sources/google-bigquery.mdx
  docs/pages/product/configuration/data-sources/mongodb.mdx
  docs/pages/product/configuration/data-sources/ms-fabric.mdx
  docs/pages/product/configuration/data-sources/ms-sql.mdx
  docs/pages/product/configuration/data-sources/mysql.mdx
  docs/pages/product/configuration/data-sources/postgres.mdx
  docs/pages/product/configuration/data-sources/presto.mdx
  docs/pages/product/configuration/data-sources/snowflake.mdx
  docs/pages/product/configuration/data-sources/trino.mdx
  docs/pages/product/configuration/vpc/aws.mdx
  docs/pages/product/getting-started/cloud/create-data-model.mdx
  docs/pages/product/getting-started/core/learn-more.mdx
  docs/pages/product/getting-started/databricks/connect-to-databricks.mdx
  docs/pages/product/getting-started/databricks/create-data-model.mdx
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/configuration/environment-variables.mdx
Labels: docs

#7731 Update query-history.mdx
  docs/pages/product/workspace/query-history.mdx
Labels: pr:community, docs

#7719 Update aws-redshift.mdx
  docs/pages/product/configuration/data-sources/aws-redshift.mdx
Labels: pr:community, docs

#7769 docs: Cleaning up in SLS
  docs/pages/product/workspace/semantic-layer-sync.mdx
Labels: docs

#7799 feat(duckdb-driver): Add support for local fs duckdb database path
  docs/pages/product/configuration/data-sources/duckdb.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-duckdb-driver/src/DuckDBDriver.ts
Labels: pr:community, driver:duckdb

#7809 Update semantic-layer-sync.mdx typo
  docs/pages/product/workspace/semantic-layer-sync.mdx
Labels: pr:community, docs

#7815 typo
  docs/pages/product/workspace.mdx
Labels: pr:community

#7773 Add cluster option to Materialize driver
  docs/pages/product/configuration/data-sources/materialize.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-materialize-driver/README.md
  packages/cubejs-materialize-driver/src/MaterializeDriver.ts
  packages/cubejs-materialize-driver/test/MaterializeDriver.test.ts
  packages/cubejs-playground/src/shared/env-vars-db-map.tsx
  packages/cubejs-testing-shared/src/db/materialize.ts
  packages/cubejs-testing/test/smoke-materialize.test.ts
Labels: pr:community, driver:materialize

#7856 docs: Add Power BI, extract pages in Semantic Layer Sync
  docs/pages/product/configuration/visualization-tools/metabase.mdx
  docs/pages/product/configuration/visualization-tools/powerbi.mdx
  docs/pages/product/configuration/visualization-tools/tableau.mdx
  docs/pages/product/workspace/semantic-layer-sync.mdx
  docs/pages/product/workspace/semantic-layer-sync/_meta.js
  docs/pages/product/workspace/semantic-layer-sync/metabase.mdx
  docs/pages/product/workspace/semantic-layer-sync/power-bi.mdx
  docs/pages/product/workspace/semantic-layer-sync/preset.mdx
  docs/pages/product/workspace/semantic-layer-sync/superset.mdx
  docs/pages/product/workspace/semantic-layer-sync/tableau.mdx
Labels: docs
