Repository cube-js/cube, pull requests merged in 2024-07, with the labels that each got.

#8352 docs: Update SQL API reference for query pushdown
  docs/components/overrides/Code/Code.module.scss
  docs/components/overrides/Table/Td.module.scss
  docs/components/overrides/Table/Th.module.scss
  docs/pages/product/apis-integrations/queries.mdx
  docs/pages/product/apis-integrations/sql-api/query-format.mdx
  docs/pages/reference/sql-api.mdx
Labels: docs

#8380 feat(cubesql): Remove implicit order by clause
  docs/pages/product/apis-integrations/queries.mdx
  docs/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-api-gateway/src/types/query.ts
  packages/cubejs-api-gateway/test/index.test.ts
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
  packages/cubejs-schema-compiler/test/integration/postgres/pre-aggregations.test.ts
  rust/cubesql/cubesql/src/compile/mod.rs
  rust/cubesql/cubesql/src/compile/rewrite/converter.rs
  rust/cubesql/cubesql/src/config/mod.rs
Labels: pr:community, docs

#7899 Update using-pre-aggregations.mdx
  docs/pages/product/caching/using-pre-aggregations.mdx
Labels: pr:community

#8085 Update aws.mdx
  docs/pages/product/deployment/cloud/vpc/aws.mdx
Labels: pr:community

#8239 Update data-blending.mdx
  docs/pages/product/data-modeling/concepts/data-blending.mdx
Labels: pr:community

#8437 docs: Update SQL API reference
  docs/pages/reference/sql-api.mdx
Labels: docs

#8338 fix(pg-driver): fix PostgresDriver pre-aggregation issue
  packages/cubejs-postgres-driver/src/PostgresDriver.ts
Labels: pr:community

#8371 docs: Audit Log
  docs/pages/product/deployment/cloud/limits.mdx
  docs/pages/product/deployment/cloud/pricing.mdx
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/audit-log.mdx
Labels: docs

#8450 chore(deps): Bump sasl2-sys to 0.1.22+2.1.28
  rust/cubestore/Cargo.lock
Labels: pr:community

#8451 docs: Clean up, replace "VPC" with "Dedicated infrastructure"
  docs/pages/product/configuration/data-sources/aws-athena.mdx
  docs/pages/product/configuration/data-sources/aws-redshift.mdx
  docs/pages/product/configuration/data-sources/duckdb.mdx
  docs/pages/product/configuration/data-sources/google-bigquery.mdx
  docs/pages/product/configuration/data-sources/snowflake.mdx
  docs/pages/product/deployment/cloud.mdx
  docs/pages/product/deployment/cloud/_meta.js
  docs/pages/product/deployment/cloud/infrastructure.mdx
  docs/pages/product/deployment/cloud/pricing.mdx
  docs/pages/product/deployment/cloud/providers.mdx
  docs/pages/product/deployment/cloud/vpc.mdx
  docs/pages/product/monitoring/integrations.mdx
Labels: docs

#8463 fix(server-core): Headers sent multiple times from dev-server handlers crashes it
  packages/cubejs-server-core/src/core/DevServer.ts
Labels: pr:community

#8476 fix: queryType for compareDateRange
  docs/pages/product/apis-integrations/queries.mdx
Labels: pr:community, docs

#8493 fix(cubejs-questdb-driver): fix obsolete column name in SHOW TABLES
  packages/cubejs-questdb-driver/src/QuestDriver.ts
  packages/cubejs-testing-shared/src/db-container-runners/questdb.ts
Labels: pr:community

#8390 fix(schema-compiler): use toDateTime64 for pre-1970 dates CH
  packages/cubejs-schema-compiler/src/adapter/ClickHouseQuery.ts
  packages/cubejs-schema-compiler/test/integration/clickhouse/ClickHouseDbRunner.js
  packages/cubejs-schema-compiler/test/integration/clickhouse/clickhouse-dataschema-compiler.test.ts
Labels: pr:community, driver:clickhouse

#8503 chore(docs): update mdx api docs
  docs/pages/product/apis-integrations/mdx-api.mdx
Labels: pr:community, docs

#8515 docs: Always serve images as WEBP
  docs/components/mdx/Screenshot/index.tsx
Labels: docs

#8517 chore(cubesql): add checkSqlAuth extension point
  packages/cubejs-api-gateway/src/sql-server.ts
Labels: pr:community
