Repository cube-js/cube, pull requests merged in 2024-03, with the labels that each got.

#6684 Fix incorrect index in movePivotItem
  packages/cubejs-client-core/src/utils.js
Labels: pr:community

#6689 Bugfix/issue 6685/wrong sql generation when multiple primary keys used
  packages/cubejs-schema-compiler/src/adapter/BaseQuery.js
Labels: pr:community

#7890 docs: Add aggregate functions to measure types mapping
  docs/pages/product/data-modeling/concepts.mdx
Labels: docs

#7903 docs: SingleStore support
  docs/pages/product/configuration/data-sources.mdx
  docs/pages/product/configuration/data-sources/_meta.js
  docs/pages/product/configuration/data-sources/singlestore.mdx
Labels: docs

#7904 docs: Clarify the use of aggregate / non-aggregate expressions in mea…
  docs/pages/reference/data-model/measures.mdx
  docs/pages/reference/data-model/types-and-formats.mdx
Labels: docs

#7908 docs: Fix typos
  docs/pages/reference/data-model/types-and-formats.mdx
Labels: docs

#7885 Update databricks-jdbc.mdx
  docs/pages/product/configuration/data-sources/databricks-jdbc.mdx
Labels: pr:community, docs

#7931 docs: Rename `cubejs` to `cube` in JavaScript SDK
  docs/pages/guides/recipes/access-control/controlling-access-to-cubes-and-views.mdx
  docs/pages/guides/recipes/access-control/using-different-schemas-for-tenants.mdx
  docs/pages/guides/recipes/auth/auth0-guide.mdx
  docs/pages/guides/recipes/data-exploration/cast-numerics.mdx
  docs/pages/guides/recipes/data-exploration/drilldowns.mdx
  docs/pages/guides/recipes/data-sources/multiple-sources-same-schema.mdx
  docs/pages/guides/recipes/upgrading-cube/migrating-from-express-to-docker.mdx
  docs/pages/product/apis-integrations/javascript-sdk.mdx
  docs/pages/product/apis-integrations/javascript-sdk/angular.mdx
  docs/pages/product/apis-integrations/javascript-sdk/vue.mdx
  docs/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/pages/product/apis-integrations/rest-api/real-time-data-fetch.mdx
  docs/pages/product/auth.mdx
  docs/pages/product/auth/context.mdx
  docs/pages/product/configuration/advanced/multitenancy.mdx
  docs/pages/product/configuration/data-sources/databricks-jdbc.mdx
  docs/pages/product/data-modeling/concepts/data-blending.mdx
  docs/pages/product/deployment/core.mdx
  docs/pages/product/getting-started/cloud/query-from-react-app.mdx
  docs/pages/product/getting-started/databricks/query-from-react-app.mdx
  docs/pages/reference/frontend/cubejs-client-core.mdx
  docs/pages/reference/frontend/cubejs-client-ngx.mdx
  docs/pages/reference/frontend/cubejs-client-react.mdx
  docs/pages/reference/frontend/cubejs-client-vue.mdx
Labels: docs

#7932 docs: Remove mentions of serverless
  docs/pages/product/deployment/production-checklist.mdx
  docs/pages/reference/cli.mdx
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/rest-api.mdx
Labels: docs

#7862 docs: Explain FILTER_GROUP
  docs/pages/reference/data-model/context-variables.mdx
Labels: docs

#7920 Upgrade duckdb to v0.10
  packages/cubejs-duckdb-driver/package.json
  yarn.lock
Labels: pr:community

#7962 docs: Mention Elastic support in Cube Cloud
  docs/pages/product/configuration/data-sources/elasticsearch.mdx
Labels: docs

#7976 Update scheduled refresh concurrency env default
  docs/pages/reference/configuration/environment-variables.mdx
Labels: pr:community, docs

#7990 docs: Update DEPRECATION.md
  DEPRECATION.md
Labels: docs

#8015 docs: Security context in Query History
  docs/pages/product/workspace/query-history.mdx
Labels: docs

#8026 docs: Extract Rollup Designer + detail backup in data model generator
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/data-model.mdx
  docs/pages/product/workspace/playground.mdx
  docs/pages/product/workspace/rollup-designer.mdx
Labels: docs
