Repository cube-js/cube, pull requests merged in 2025-01, with the labels that each got.

#8233 Deprecate request promise
  packages/cubejs-backend-cloud/package.json
  packages/cubejs-backend-cloud/src/cloud.ts
  packages/cubejs-backend-cloud/src/deploy.ts
  packages/cubejs-backend-cloud/src/live-preview.ts
  packages/cubejs-cli/package.json
  packages/cubejs-cli/src/command/deploy.ts
  packages/cubejs-cli/src/command/typegen.ts
  packages/cubejs-cli/src/config.ts
  yarn.lock
Labels: pr:community

#9070 docs: Add Azure blob storage instructions to Snowflake
  docs/pages/product/configuration/data-sources/snowflake.mdx
Labels: pr:community, docs

#9008 Upgrade to DuckDB 1.1.3
  packages/cubejs-duckdb-driver/package.json
  yarn.lock
Labels: pr:community

#9085 fix(clickhouse-driver): Support overriding Username & Password from Driver Config
  packages/cubejs-clickhouse-driver/src/ClickHouseDriver.ts
Labels: pr:community

#9082 docs: clarify usage of cron + sql in refresh_key
  docs/pages/reference/data-model/pre-aggregations.mdx
Labels: pr:community, docs

#9068 fix(api-gateway): Allow querying time dimensions with custom granularity
  packages/cubejs-api-gateway/src/query.js
  packages/cubejs-api-gateway/test/index.test.ts
Labels: pr:community

#9103 Update microsoft-entra-id.mdx
  docs/pages/product/workspace/sso/microsoft-entra-id.mdx
Labels: pr:community, docs

#9093 fix: "received" misspelled
  packages/cubejs-server/src/server/container.ts
Labels: pr:community

#9092 chore(cubesql): Fix typo for DBeaver in comments
  rust/cubesql/cubesql/src/compile/parser.rs
Labels: pr:community

#8658 fix(druid-driver): Fix case sensitivity in like flow
  packages/cubejs-druid-driver/src/DruidQuery.ts
  packages/cubejs-druid-driver/test/druid-query.test.ts
Labels: pr:community, driver:druid

#9110 docs: Refactor the Environments page
  docs/pages/product/deployment/cloud/deployments.mdx
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/dev-mode.mdx
  docs/pages/product/workspace/environments.mdx
Labels: docs

#9106 docs: Hierarchies and folders in the data model
  docs/pages/guides/style-guide.mdx
  docs/pages/product/apis-integrations.mdx
  docs/pages/product/apis-integrations/mdx-api.mdx
  docs/pages/product/caching/matching-pre-aggregations.mdx
  docs/pages/product/data-modeling/concepts.mdx
  docs/pages/product/workspace/playground.mdx
  docs/pages/reference/data-model/_meta.js
  docs/pages/reference/data-model/cube.mdx
  docs/pages/reference/data-model/dimensions.mdx
  docs/pages/reference/data-model/hierarchies.mdx
  docs/pages/reference/data-model/measures.mdx
  docs/pages/reference/data-model/segments.mdx
  docs/pages/reference/data-model/view.mdx
  docs/styles/typography.css
Labels: docs, data modeling

#9116 Update continuous-deployment.mdx
  docs/pages/product/deployment/cloud/continuous-deployment.mdx
Labels: docs

#9147 Update monitoring.mdx
  docs/pages/product/workspace/monitoring.mdx
Labels: docs

#9156 chore(firebolt-driver): update firebolt-sdk to 1.10.0
  packages/cubejs-firebolt-driver/package.json
  yarn.lock
Labels: pr:community

#9152 fix(@cubejs-client/ngx): Update APF configuration and build settings for Angular 12+ compatibility
  packages/cubejs-client-ngx/README.md
  packages/cubejs-client-ngx/angular.json
  packages/cubejs-client-ngx/package.json
  packages/cubejs-client-ngx/src/query-builder/query-members.ts
  packages/cubejs-client-ngx/tsconfig.json
  packages/cubejs-client-ngx/tsconfig.prod.json
  packages/cubejs-playground/src/hooks/deep-compare-memoize.ts
Labels: pr:community
