Repository cube-js/cube, pull requests merged in 2025-03, with the labels that each got.

#9294 chore(fast-reload): support fastReloadEnabled as a server option
  packages/cubejs-backend-native/python/cube/src/__init__.py
  packages/cubejs-backend-native/src/python/cube_config.rs
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/src/core/OptsHandler.ts
  packages/cubejs-server-core/src/core/optionsValidate.ts
  packages/cubejs-server-core/src/core/server.ts
  packages/cubejs-server-core/src/core/types.ts
Labels: backend:server

#9255 fix(docker): apt-get install ca-certificates in latest and local Dockerfiles
  packages/cubejs-docker/latest.Dockerfile
  packages/cubejs-docker/local.Dockerfile
Labels: pr:community

#9304 docs: Update the docs for Visual Model
  docs/pages/guides/dbt.mdx
  docs/pages/product/apis-integrations/semantic-layer-sync/_meta.js
  docs/pages/product/data-modeling/concepts/working-with-joins.mdx
  docs/pages/product/data-modeling/dynamic/jinja.mdx
  docs/pages/product/getting-started/cloud/create-data-model.mdx
  docs/pages/product/getting-started/databricks/create-data-model.mdx
  docs/pages/product/workspace.mdx
  docs/pages/product/workspace/_meta.js
  docs/pages/product/workspace/data-model.mdx
  docs/pages/product/workspace/visual-model.mdx
  docs/pages/product/workspace/visual-modeler.mdx
  docs/redirects.json
Labels: docs

#9307 fix(docs): fix client id in the azure vpc peering doc
  docs/pages/product/deployment/cloud/vpc/azure.mdx
Labels: docs

#9306 fix(docs): fixes bad views usage in example
  docs/pages/product/apis-integrations/ai-api/reference.mdx
Labels: pr:community, docs

#9265 Update ai-api.mdx
  docs/pages/product/apis-integrations/ai-api.mdx
Labels: pr:community, docs

#9310 feat(pinot-driver): Add enableNullHandling to query options using env var
  docs/pages/product/configuration/data-sources/pinot.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-pinot-driver/src/PinotDriver.ts
Labels: pr:community

#9315 docs: Add actions to Access Control
  docs/pages/product/workspace/access-control.mdx
Labels: docs

#9195 fix(clickhouse-driver): Allow config http protocol to be passed to the driver.
  packages/cubejs-clickhouse-driver/src/ClickHouseDriver.ts
Labels: pr:community

#9323 docs: New concurrency pages and env vars
  DEPRECATION.md
  docs/pages/product/caching/_meta.js
  docs/pages/product/caching/refreshing-pre-aggregations.mdx
  docs/pages/product/configuration/_meta.js
  docs/pages/product/configuration/concurrency.mdx
  docs/pages/product/configuration/data-sources.mdx
  docs/pages/product/configuration/data-sources/aws-athena.mdx
  docs/pages/product/configuration/data-sources/aws-redshift.mdx
  docs/pages/product/configuration/data-sources/clickhouse.mdx
  docs/pages/product/configuration/data-sources/databricks-jdbc.mdx
  docs/pages/product/configuration/data-sources/druid.mdx
  docs/pages/product/configuration/data-sources/duckdb.mdx
  docs/pages/product/configuration/data-sources/elasticsearch.mdx
  docs/pages/product/configuration/data-sources/firebolt.mdx
  docs/pages/product/configuration/data-sources/google-bigquery.mdx
  docs/pages/product/configuration/data-sources/hive.mdx
  docs/pages/product/configuration/data-sources/ksqldb.mdx
  docs/pages/product/configuration/data-sources/materialize.mdx
  docs/pages/product/configuration/data-sources/mongodb.mdx
  docs/pages/product/configuration/data-sources/ms-sql.mdx
  docs/pages/product/configuration/data-sources/mysql.mdx
  docs/pages/product/configuration/data-sources/oracle.mdx
  docs/pages/product/configuration/data-sources/pinot.mdx
  docs/pages/product/configuration/data-sources/postgres.mdx
  docs/pages/product/configuration/data-sources/presto.mdx
  docs/pages/product/configuration/data-sources/questdb.mdx
  docs/pages/product/configuration/data-sources/risingwave.mdx
  docs/pages/product/configuration/data-sources/snowflake.mdx
  docs/pages/product/configuration/data-sources/sqlite.mdx
  docs/pages/product/configuration/data-sources/trino.mdx
  docs/pages/product/configuration/data-sources/vertica.mdx
  docs/pages/product/configuration/multiple-data-sources.mdx
  docs/pages/product/configuration/multitenancy.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  docs/redirects.json
Labels: docs

#9344 docs: Update DAX API function reference
  docs/pages/product/apis-integrations/dax-api/reference.mdx
Labels: docs

#9352 Fix - updated documentation to require the env variable CUBESTORE_MINIO_SUB_PATH when configuring MinIO as remote storage. This env variable is mandatory.
  docs/pages/reference/configuration/environment-variables.mdx
Labels: pr:community, docs

#9345 Update deployment-types.mdx
  docs/pages/product/deployment/cloud/deployment-types.mdx
Labels: pr:community, docs

#9328 feat(duckdb-driver): Fix numeric filter comparisons in DuckDB
  packages/cubejs-duckdb-driver/src/DuckDBQuery.ts
  packages/cubejs-testing/birdbox-fixtures/duckdb/schema/Orders.js
  packages/cubejs-testing/test/smoke-duckdb.test.ts
Labels: pr:community, driver:duckdb

#9367 docs: Examples for the /v1/sql endpoint
  docs/pages/guides/recipes/access-control/controlling-access-to-cubes-and-views.mdx
  docs/pages/guides/recipes/access-control/enforcing-mandatory-filters.mdx
  docs/pages/guides/recipes/analytics/active-users.mdx
  docs/pages/product/apis-integrations/ai-api/reference.mdx
  docs/pages/product/apis-integrations/javascript-sdk.mdx
  docs/pages/product/apis-integrations/javascript-sdk/angular.mdx
  docs/pages/product/apis-integrations/javascript-sdk/react.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-ngx.mdx
  docs/pages/product/apis-integrations/javascript-sdk/vue.mdx
  docs/pages/product/apis-integrations/rest-api/reference.mdx
  docs/pages/product/auth/context.mdx
  docs/pages/product/caching/running-in-production.mdx
  docs/pages/product/deployment/core.mdx
  docs/pages/product/workspace/cli/reference.mdx
Labels: docs

#9341 feat(clickhouse-driver): allow to enable compression
  docs/pages/product/configuration/data-sources/clickhouse.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-backend-shared/test/db_env_multi.test.ts
  packages/cubejs-backend-shared/test/db_env_single.test.ts
  packages/cubejs-clickhouse-driver/src/ClickHouseDriver.ts
Labels: pr:community

#9394 docs: Update regarding update channels
  docs/pages/product/deployment/cloud/deployments.mdx
  docs/pages/product/distribution.mdx
Labels: docs

#9374 docs(ai-api): adds Snowflake Cortex to BYOLLM
  docs/pages/product/apis-integrations/ai-api.mdx
Labels: docs
