Repository cube-js/cube, pull requests merged in 2025-02, with the labels that each got.

#9177 Update continuous-deployment.mdx
  docs/pages/product/deployment/cloud/continuous-deployment.mdx
Labels: pr:community, docs

#9059 fix(schema-compiler): make sure view members are resolvable in DAP
  packages/cubejs-schema-compiler/src/compiler/DataSchemaCompiler.js
  packages/cubejs-schema-compiler/src/compiler/PrepareCompiler.ts
  packages/cubejs-schema-compiler/src/compiler/ViewCompilationGate.ts
  packages/cubejs-schema-compiler/src/compiler/YamlCompiler.ts
  packages/cubejs-schema-compiler/src/compiler/transpilers/CubePropContextTranspiler.ts
  packages/cubejs-testing/birdbox-fixtures/rbac-python/model/views/users_view.yaml
  packages/cubejs-testing/birdbox-fixtures/rbac/model/views/users.js
  packages/cubejs-testing/test/__snapshots__/smoke-rbac.test.ts.snap
  packages/cubejs-testing/test/smoke-rbac.test.ts
  yarn.lock
Labels: pr:community

#9181 docs: Azure BYOC Deployment doc
  docs/pages/product/deployment/cloud/byoc/_meta.js
  docs/pages/product/deployment/cloud/byoc/azure.mdx
Labels: docs

#9171 docs: Remove deprecated top-level `includes` in views from docs
  docs/pages/guides/recipes/access-control/controlling-access-to-cubes-and-views.mdx
  docs/pages/reference/data-model/view.mdx
Labels: docs

#9214 docs: Move API references
  docs/pages/guides/dbt.mdx
  docs/pages/guides/recipes/data-exploration/cast-numerics.mdx
  docs/pages/guides/recipes/data-exploration/drilldowns.mdx
  docs/pages/guides/recipes/queries/getting-unique-values-for-a-field.mdx
  docs/pages/product/apis-integrations/ai-api.mdx
  docs/pages/product/apis-integrations/ai-api/_meta.js
  docs/pages/product/apis-integrations/ai-api/reference.mdx
  docs/pages/product/apis-integrations/graphql-api.mdx
  docs/pages/product/apis-integrations/graphql-api/_meta.js
  docs/pages/product/apis-integrations/graphql-api/reference.mdx
  docs/pages/product/apis-integrations/javascript-sdk.mdx
  docs/pages/product/apis-integrations/javascript-sdk/_meta.js
  docs/pages/product/apis-integrations/javascript-sdk/angular.mdx
  docs/pages/product/apis-integrations/javascript-sdk/react.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/_meta.js
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-core.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-ngx.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-react.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-vue.mdx
  docs/pages/product/apis-integrations/javascript-sdk/reference/cubejs-client-ws-transport.mdx
  docs/pages/product/apis-integrations/javascript-sdk/vue.mdx
  docs/pages/product/apis-integrations/orchestration-api.mdx
  docs/pages/product/apis-integrations/orchestration-api/airflow.mdx
  docs/pages/product/apis-integrations/orchestration-api/dagster.mdx
  docs/pages/product/apis-integrations/orchestration-api/prefect.mdx
  docs/pages/product/apis-integrations/queries.mdx
  docs/pages/product/apis-integrations/rest-api.mdx
  docs/pages/product/apis-integrations/rest-api/_meta.js
  docs/pages/product/apis-integrations/rest-api/query-format.mdx
  docs/pages/product/apis-integrations/rest-api/reference.mdx
  docs/pages/product/apis-integrations/sql-api.mdx
  docs/pages/product/apis-integrations/sql-api/_meta.js
  docs/pages/product/apis-integrations/sql-api/query-format.mdx
  docs/pages/product/apis-integrations/sql-api/reference.mdx
  docs/pages/product/configuration.mdx
  docs/pages/product/configuration/visualization-tools/appsmith.mdx
  docs/pages/product/configuration/visualization-tools/bubble.mdx
  docs/pages/product/configuration/visualization-tools/budibase.mdx
  docs/pages/product/configuration/visualization-tools/klipfolio.mdx
  docs/pages/product/configuration/visualization-tools/observable.mdx
  docs/pages/product/configuration/visualization-tools/push-ai.mdx
  docs/pages/product/configuration/visualization-tools/retool.mdx
  docs/pages/product/configuration/visualization-tools/steep.mdx
  docs/pages/product/data-modeling/dynamic/jinja.mdx
  docs/pages/product/data-modeling/overview.mdx
  docs/pages/product/deployment/production-checklist.mdx
  docs/pages/product/getting-started/core/learn-more.mdx
  docs/pages/product/getting-started/core/query-data.mdx
  docs/pages/product/workspace/cli.mdx
  docs/pages/product/workspace/cli/_meta.js
  docs/pages/product/workspace/cli/reference.mdx
  docs/pages/reference/_meta.js
  docs/pages/reference/configuration/config.mdx
  docs/pages/reference/data-model/cube.mdx
  docs/pages/reference/errors.mdx
  docs/redirects.json
Labels: docs

#9213 feat(pinot-driver): Add `enableNullHandling` to query options using env var
  docs/pages/product/configuration/data-sources/pinot.mdx
  docs/pages/reference/configuration/environment-variables.mdx
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-pinot-driver/src/PinotDriver.ts
Labels: pr:community

#9203 Adding pricing info for AI API and AI Assistant
  docs/pages/product/deployment/cloud/pricing.mdx
Labels: pr:community, docs

#9283 docs: Update DAX API function reference
  docs/pages/product/apis-integrations/dax-api/reference.mdx
Labels: docs

#9289 feat(server-core): add fastReloadEnabled option to CompilerApi
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/src/core/server.ts
Labels: backend:server

#9290 feat(server-core): add fastReloadEnabled option to CompilerApi
  packages/cubejs-backend-shared/src/env.ts
  packages/cubejs-server-core/src/core/CompilerApi.js
  packages/cubejs-server-core/src/core/server.ts
Labels: backend:server

#9189 fix(cubejs-client-ngx): Configure package-level Lerna publish directory for Angular
  packages/cubejs-client-ngx/.gitignore
  packages/cubejs-client-ngx/README.md
  packages/cubejs-client-ngx/package.json
Labels: pr:community
